sentiment_scraper/workflows/scraper-workflow.json
{
  "name": "Clover Era Sentiment Scraper - Manifesto Compliant",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "companies-list",
              "name": "companies",
              "value": ["Microsoft", "Google", "Apple", "Amazon", "Meta", "Tesla", "Netflix", "Uber", "Airbnb", "Salesforce", "Zoom", "Slack", "HubSpot", "Stripe", "Shopify", "Atlassian", "Canva", "Figma", "Notion", "Airtable", "Monday.com", "Asana", "Trello", "GitHub", "GitLab", "Vercel", "Netlify", "Twilio", "SendGrid", "Mailchimp"],
              "type": "array"
            },
            {
              "id": "base-glassdoor-url",
              "name": "base_glassdoor_url",
              "value": "https://www.glassdoor.com/Reviews/",
              "type": "string"
            },
            {
              "id": "base-indeed-url", 
              "name": "base_indeed_url",
              "value": "https://www.indeed.com/cmp/",
              "type": "string"
            },
            {
              "id": "user-agent",
              "name": "user_agent", 
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
              "type": "string"
            },
            {
              "id": "scraped-at",
              "name": "scraped_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-configuration",
      "name": "Set Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "companies",
        "include": "allOtherFields",
        "destinationFieldName": "company"
      },
      "id": "split-companies",
      "name": "Split Out Companies",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "glassdoor-url",
              "name": "glassdoor_url",
              "value": "={{ $json.base_glassdoor_url }}{{ $json.company.replace(/\\s+/g, '-').toLowerCase() }}-reviews",
              "type": "string"
            },
            {
              "id": "indeed-url",
              "name": "indeed_url", 
              "value": "={{ $json.base_indeed_url }}{{ $json.company.replace(/\\s+/g, '-').toLowerCase() }}/reviews",
              "type": "string"
            },
            {
              "id": "current-source",
              "name": "current_source",
              "value": "glassdoor",
              "type": "string"
            },
            {
              "id": "current-url",
              "name": "current_url",
              "value": "={{ $json.glassdoor_url }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true
      },
      "id": "prepare-urls",
      "name": "Prepare URLs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.current_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.user_agent }}"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language", 
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "DNT",
              "value": "1"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Upgrade-Insecure-Requests",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 2000
          }
        }
      },
      "id": "fetch-reviews",
      "name": "Fetch Company Reviews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract review text from HTML using regex patterns\nconst inputData = $input.all()[0].json;\nconst html = inputData.body || inputData.data || '';\n\nif (!html) {\n  return [{\n    json: {\n      company: inputData.company,\n      source: inputData.current_source,\n      scraped_at: inputData.scraped_at,\n      error: 'No HTML content received',\n      review_texts: []\n    }\n  }];\n}\n\nconst reviewTexts = [];\n\n// Extract review text blocks from HTML\nif (inputData.current_source === 'glassdoor') {\n  // Look for review content patterns\n  const reviewBlocks = html.match(/<div[^>]*class=\"[^\"]*review[^\"]*\"[^>]*>[\\s\\S]*?<\\/div>/gi) || [];\n  \n  for (const block of reviewBlocks.slice(0, 10)) {\n    const textContent = block.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n    \n    if (textContent && textContent.length > 100) {\n      reviewTexts.push(textContent.substring(0, 1000)); // Limit for sentiment analysis\n    }\n  }\n}\n\nreturn [{\n  json: {\n    company: inputData.company,\n    source: inputData.current_source,\n    scraped_at: inputData.scraped_at,\n    review_texts: reviewTexts,\n    reviews_found: reviewTexts.length\n  }\n}];"
      },
      "id": "extract-review-text",
      "name": "Extract Review Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "review_texts",
        "include": "allOtherFields",
        "destinationFieldName": "review_text"
      },
      "id": "split-review-texts",
      "name": "Split Out Review Texts",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.review_text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "rightType": "any"
              }
            },
            {
              "leftValue": "={{ $json.review_text.length }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-valid-reviews",
      "name": "Filter Valid Reviews",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sentiment",
              "name": "sentiment",
              "value": "Neutral",
              "type": "string"
            },
            {
              "id": "sentiment-score",
              "name": "sentiment_score",
              "value": 0.5,
              "type": "number"
            },
            {
              "id": "confidence",
              "name": "confidence",
              "value": 0.8,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true
      },
      "id": "sentiment-analysis",
      "name": "Mock Sentiment Analysis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1I9c6XXbkM7WpuTZ73IJ6zfaFb9z3by9B9RPmipcOl2Y",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "sentiment_results",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company": "={{ $json.company }}",
            "source": "={{ $json.source }}",
            "date_scraped": "={{ $json.scraped_at }}",
            "review_text": "={{ $json.review_text }}",
            "sentiment": "={{ $json.sentiment }}",
            "sentiment_score": "={{ $json.sentiment_score }}",
            "confidence": "={{ $json.confidence }}"
          }
        },
        "options": {
          "useAppend": true
        }
      },
      "id": "save-sentiment-results",
      "name": "Save Sentiment Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "delay-seconds",
              "name": "delay_seconds",
              "value": "={{ Math.floor(Math.random() * 3) + 3 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true
      },
      "id": "random-delay",
      "name": "Random Delay",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "amount": "={{ $json.delay_seconds }}",
        "unit": "seconds"
      },
      "id": "wait-node",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2660, 300]
    }
  ],
  "connections": {
    "Daily Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Configuration": {
      "main": [
        [
          {
            "node": "Split Out Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Companies": {
      "main": [
        [
          {
            "node": "Prepare URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare URLs": {
      "main": [
        [
          {
            "node": "Fetch Company Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Company Reviews": {
      "main": [
        [
          {
            "node": "Extract Review Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Review Text": {
      "main": [
        [
          {
            "node": "Split Out Review Texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Review Texts": {
      "main": [
        [
          {
            "node": "Filter Valid Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Reviews": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Save Sentiment Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Sentiment Results": {
      "main": [
        [
          {
            "node": "Random Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Delay": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "cloverera-sentiment"
    },
    {
      "name": "manifesto-compliant"
    },
    {
      "name": "n8n-mcp-validated"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-20T00:00:00.000Z",
  "versionId": "2"
}