workflows/0YP0ar9neq5yTIPz_Error_Workflow.json
{"id":"0YP0ar9neq5yTIPz","name":"Error Workflow","active":true,"nodes":[{"parameters":{},"id":"b6ce0a4d-e176-4845-a7fc-e0759a6754f3","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[620,320]},{"parameters":{"chatId":"386844535","text":"=In workflow: {{ $json.workflow.name }}\nError:  {{ $json.execution.error.message }}\n\nHere's the link: Error:  {{ $json.execution.url }}","additionalFields":{"appendAttribution":false}},"id":"e47de2de-47f8-45d2-9b96-83ab0c8e2047","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,180],"credentials":{"telegramApi":{"id":"dRV9yt9zJzQCl5zi","name":"Visible Projects"}}},{"parameters":{"sendTo":"capoyeti@gmail.com","subject":"=n8n Error Workflow - {{ $json.workflow.name }}","message":"=Hey bud,\n\nThe {{ $json.workflow.name }} workflow has an error.\n\n{{ $json.execution.error.messages[0] }}\n\nHere's a link to the error to get it sorted.\n\n{{ $json.execution.url }}\n\nCheers,\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,420],"id":"7972ba1c-e7da-4c81-80ad-9efe5cb1aba6","name":"Gmail","webhookId":"160bc0c6-fe7a-489b-9fda-fdfc2e4b5f5d","credentials":{"gmailOAuth2":{"id":"QF7l9tuBbTaWOH86","name":"gmail api (n8n and related project)"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Telegram","type":"main","index":0},{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"tags":[{"id":"1O0P4O65NshpTBnn","name":"error"}]}
