workflows/14eb3AwsS8wKYMDO_KM_Dall-e_image.json
{"id":"14eb3AwsS8wKYMDO","name":"KM Dall-e_image_generator_live","active":true,"nodes":[{"parameters":{},"id":"80035206-d6b7-49e8-8bbf-86860c716a15","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[500,520],"typeVersion":1},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Execute Workflow Trigger').first().json.chat_id }}","file":"={{ $json.data[0].url }}","additionalFields":{"parse_mode":"HTML"}},"id":"bc28fe04-ce3b-4dce-a4e6-78cf546349fd","name":"Send back an image","type":"n8n-nodes-base.telegram","position":[860,520],"typeVersion":1.1,"credentials":{"telegramApi":{"id":"Z2vI9Uxu8Ka2W3Uj","name":"n8n_vpc_bot"}}},{"parameters":{"fields":{"values":[{"name":"response","stringValue":"Success"}]},"options":{}},"id":"8146ea4a-adcd-458e-b956-f1d852d6e550","name":"add response field","type":"n8n-nodes-base.set","position":[1040,520],"typeVersion":3.2},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"dall-e-3"},{"name":"prompt","value":"={{ $json.query }}"},{"name":"n","value":1},{"name":"size","value":"1024x1024"}]},"options":{}},"id":"be109e8f-873c-4c71-a545-085a79232aa9","name":"Generate image in Dall-E 3","type":"n8n-nodes-base.httpRequest","position":[680,520],"typeVersion":4.1,"credentials":{"openAiApi":{"id":"nqrhFGUWwy6HdEUN","name":"OpenAi account"}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Generate image in Dall-E 3","type":"main","index":0}]]},"Send back an image":{"main":[[{"node":"add response field","type":"main","index":0}]]},"Generate image in Dall-E 3":{"main":[[{"node":"Send back an image","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"tags":[{"id":"f7EmhD96a1FaZ3H9","name":"knysna-montessori"},{"id":"sKkwnItsSnVITUWx","name":"telegram"}]}
