workflows/3qi8fZPEa8WHyUvv_CAVA_-_Calendar_Agent.json
{
  "id": "3qi8fZPEa8WHyUvv",
  "name": "CAVA - Calendar Agent",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Current date/time: {{ $now }}\n\nYou manage calendar operations through Google Calendar API. Your responsibilities:\n1. Interpret user intent related to scheduling, events, and time management\n2. Execute appropriate calendar actions using available tools\n3. Format calendar information clearly with dates, times, and relevant details\n4. Handle scheduling conflicts by suggesting alternatives\n5. Confirm successful operations with specific details\n\nWhen errors occur, provide clear explanations and suggest alternatives. Never invent calendar events or times that weren't confirmed through API calls.\n"
        }
      },
      "id": "d38cf21c-ced7-406d-8ec4-53c7ae3a80ab",
      "name": "Calendar Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -40,
        -240
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -300,
        -240
      ],
      "id": "23c17772-8f7b-44d3-81af-169e1eea4f5b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.visagility.co.za/mcp-test/calendar/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        140,
        40
      ],
      "id": "7d112f2b-746c-493f-8619-c63d1c072190",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "23bea149-51de-4952-82ef-45f5c69579b1",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        -320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Cannot process the request. Please try again later.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "185b6d45-daa4-488b-9b83-c4fdd50df563",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        -140
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "daa34172-ce01-4972-867c-2643957206e1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -80,
        40
      ],
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Calendar Agent",
        "height": 280,
        "width": 460,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -340
      ],
      "id": "d05facf3-8f3d-48d8-a434-a2f94cdab467",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Calendar Agent1": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calendar Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "staticData": null,
  "meta": {},
  "pinData": {}
}