workflows/4h47vohhkWiiJhMz_KM_Chatbot_Agent.json
{
  "id": "4h47vohhkWiiJhMz",
  "name": "KM Chatbot Agent",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4-1106-preview",
        "options": {
          "frequencyPenalty": 0.2,
          "temperature": 0.7
        }
      },
      "id": "6f414e8d-50f2-499f-9313-992deb9e8f42",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        432,
        464
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "=chat_with_{{ $('Listen for incoming events').first().json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "475e6218-4057-4013-9e5e-2350a07c099e",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        544,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "b0b721cc-a626-47a9-96a8-354db6e52a64",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        944,
        240
      ],
      "typeVersion": 1.1,
      "webhookId": "623f3866-19db-4b65-ab8a-8e9e975651e7",
      "credentials": {
        "telegramApi": {
          "id": "Z2vI9Uxu8Ka2W3Uj",
          "name": "n8n_vpc_bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $('AI Agent').item.json.output.replace(/&/g, \"&amp;\").replace(/>/g, \"&gt;\").replace(/</g, \"&lt;\").replace(/\"/g, \"&quot;\") }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "fd311379-ee70-4559-b69a-8654e1e7171e",
      "name": "Correct errors",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1200,
        272
      ],
      "typeVersion": 1.1,
      "webhookId": "48dc9c0f-d0b9-42e2-b2a2-dc77e66fd977",
      "credentials": {
        "telegramApi": {
          "id": "Z2vI9Uxu8Ka2W3Uj",
          "name": "n8n_vpc_bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "3ee462cf-44dc-4e0c-91e6-5702b0b769ae",
      "name": "Listen for incoming events",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -480,
        224
      ],
      "webhookId": "1eb0dc5a-6a22-4573-92cd-5de862227d4b",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "Z2vI9Uxu8Ka2W3Uj",
          "name": "n8n_vpc_bot"
        }
      }
    },
    {
      "parameters": {
        "name": "Draw_Dalle_image",
        "description": "Call this tool to request a Dall-E 3 model, when the user asks to draw something. Please send the user request for an image as an inline query string.",
        "workflowId": "14eb3AwsS8wKYMDO",
        "fields": {
          "values": [
            {
              "name": "chat_id",
              "stringValue": "={{ $('Listen for incoming events').first().json.message.chat.id }}"
            }
          ]
        }
      },
      "id": "8948b5dc-aacc-4571-b6ff-50758ef6f39c",
      "name": "Dall-E 3 Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        784,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "database",
        "description": "Details about the Montessori school in Knysna"
      },
      "id": "c7cdc4ad-8665-4479-a71e-2a287a74ccab",
      "name": "database",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        560,
        624
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "e5ca390a-6e49-46bf-86a8-f967445b3dce",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        320,
        928
      ],
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "31b9f2fd-ac99-4d95-ac3e-43dd889288e1",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        688,
        784
      ],
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "montessori",
          "mode": "list",
          "cachedResultName": "montessori"
        },
        "options": {}
      },
      "id": "5200307b-86c1-43df-bf94-daf4391e16bf",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        368,
        784
      ],
      "credentials": {
        "pineconeApi": {
          "id": "4YhGmXWhVz5bAAOO",
          "name": "PineconeApi VisibleProjects"
        }
      }
    },
    {
      "parameters": {
        "name": "send_document",
        "description": "Call this tool to send a document to the user",
        "workflowId": "1AOlk4P31G4Nv8FA",
        "fields": {
          "values": [
            {
              "name": "chat_id",
              "stringValue": "={{ $('Listen for incoming events').first().json.message.chat.id }}"
            }
          ]
        }
      },
      "id": "b63046d4-8e1b-4ee6-aeab-8a33440b1172",
      "name": "Send Document Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        928,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "f9c7048f-f44f-4950-87a6-f4823aa40a54",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        288,
        240
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message.text",
              "value": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "d9b85acb-5fe2-4b41-b1b0-1a779e142184",
      "name": "PreProcessing",
      "type": "n8n-nodes-base.set",
      "position": [
        -256,
        224
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "text": "={{ $json.message.text }}",
        "options": {
          "humanMessage": "TOOLS\n------\nAssistant can ask the user to use tools to look up information that may be helpful in answering the users original question. The tools the human can use are:\n\n{tools}\n\n{format_instructions}\n\nUSER'S INPUT\n--------------------\nHere is the user's input (remember to respond with a markdown code snippet of a json blob with a single action, and NOTHING else):\n\n{{input}}",
          "systemMessage": "=You are a helpful AI assistant. You are chatting with the user named {{ $json.message.from.first_name }}. Today is {{ DateTime.fromISO($now).toLocaleString(DateTime.DATETIME_FULL) }}.\n\nIf a user requests a document (such as by asking for 'school fees', 'application forms', information about preschool, middle school, high school or similar), use the Send Document tool to send the relevant document. Do not attempt to retrieve this information from the Pinecone vector store.\n\nTools include:\n\nDatabase tool for general queries.\nImage generation tool for image creation.\nSend Document tool for sending documents (use this when a document is requested, such as 'school fees').\nIn your reply, always send a message in general HTML format. Here are the formatting instructions:\n\nThe following tags are currently supported: <b>bold</b>, <strong>bold</strong>, <i>italic</i>, <em>italic</em>, <u>underline</u>, <ins>underline</ins>, <s>strikethrough</s>, <strike>strikethrough</strike>, <del>strikethrough</del>, <span class=\"tg-spoiler\">spoiler</span>, <tg-spoiler>spoiler</tg-spoiler>, <b>bold <i>italic bold <s>italic bold strikethrough <span class=\"tg-spoiler\">italic bold strikethrough spoiler</span></s> <u>underline italic bold</u></i> bold</b>, <a href=\"http://www.example.com/\">inline URL</a>, <code>inline fixed-width code</code>, <pre>pre-formatted fixed-width code block</pre>.\"<span class=\"tg-spoiler\">spoiler</span>, <tg-spoiler>spoiler</tg-spoiler>\n<b>bold <i>italic bold <s>italic bold strikethrough <span class=\"tg-spoiler\">italic bold strikethrough spoiler</span></s> <u>underline italic bold</u></i> bold</b>\n<a href=\"http://www.example.com/\">inline URL</a>\n<code>inline fixed-width code</code>\n<pre>pre-formatted fixed-width code block</pre>"
        }
      },
      "id": "b133cecb-e82b-4729-9141-886d60cc18a9",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        592,
        240
      ],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Telegram": {
      "main": [
        [],
        [
          {
            "node": "Correct errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dall-E 3 Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Listen for incoming events": {
      "main": [
        [
          {
            "node": "PreProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "database",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "database": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "database",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Send Document Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PreProcessing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [
    {
      "updatedAt": "2024-10-16T18:05:59.499Z",
      "createdAt": "2024-10-16T18:05:59.499Z",
      "id": "AiXyhxvT783EEQjK",
      "name": "live"
    },
    {
      "updatedAt": "2024-10-09T16:43:18.976Z",
      "createdAt": "2024-10-09T16:43:18.976Z",
      "id": "f7EmhD96a1FaZ3H9",
      "name": "knysna-montessori"
    },
    {
      "updatedAt": "2024-09-21T19:53:19.299Z",
      "createdAt": "2024-09-21T19:53:19.299Z",
      "id": "sKkwnItsSnVITUWx",
      "name": "telegram"
    }
  ],
  "staticData": null,
  "meta": {
    "templateId": "2035",
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}