workflows/4Rknpt6IiMT5yuXz_CleverMall_send_document_flow.json
{
  "id": "4Rknpt6IiMT5yuXz",
  "name": "CleverMall send document flow",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        -20
      ],
      "id": "046567cf-23ea-456a-a061-7aa7ca4d2fdf",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful assistant - Select the appropriate document to send to the user based on their input. Please analyse the input, and choose one of the below as the output. Only out the most appropriate of the below options:\n\n'Fees'\n'Preschool'\n'Middle-school'\n'High-School'\n'Application'"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        380,
        -20
      ],
      "id": "eb943142-c542-4cf1-acd4-e9bba2a730f7",
      "name": "Document selection bot",
      "notes": "This now sends just the url for the document - how to return it to a telegram node? or whatsapp node?\nMake sure the key words map to the look up table in the database source"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        340,
        200
      ],
      "id": "368d29f4-4000-444c-99e5-42141e1ce6c0",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "TeMrq8iV1WCfXr5T",
          "name": "Groq (n8n testing)"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app1FIK5puCcJqDkQ",
          "mode": "list",
          "cachedResultName": "Knynsa Montessori Documents",
          "cachedResultUrl": "https://airtable.com/app1FIK5puCcJqDkQ"
        },
        "table": {
          "__rl": true,
          "value": "tblATQiChmWaedJSQ",
          "mode": "list",
          "cachedResultName": "Public Documents",
          "cachedResultUrl": "https://airtable.com/app1FIK5puCcJqDkQ/tblATQiChmWaedJSQ"
        },
        "filterByFormula": "={Document Name} = \"{{ $fromAI('documentName') }}\"",
        "options": {
          "fields": [
            "URL"
          ]
        }
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        560,
        200
      ],
      "id": "75b1a7e5-6b02-4747-bba5-423ae42ed18e",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "l4uWCVIoR9mD2u1J",
          "name": "Airtable Knysna Montessori"
        }
      },
      "notes": "connect this to the table with the mapping of the documents that you need to send to their keywords"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e6b1caba-90bc-47e5-922d-db720c933350",
              "name": "return",
              "value": "={{ $json.output.outputParser.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        40
      ],
      "id": "5c8dc9ad-3572-433b-9b79-18521babdee9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"outputParser\": {\n    \"documentName\": \"string\",\n    \"url\": \"string\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        700,
        200
      ],
      "id": "b419f038-5a44-4717-97f1-060740be2966",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "## Add a timer \nhere to run every hour to check for new files?\nAnd then the file list will be 'up to date'"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -420,
        -460
      ],
      "id": "e5218eba-838f-4b8d-892e-c568ecbc44da",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Document selection bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Document selection bot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "ai_tool": [
        [
          {
            "node": "Document selection bot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Document selection bot": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Document selection bot",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2024-12-12T16:16:28.430Z",
      "createdAt": "2024-12-12T16:16:28.430Z",
      "id": "44Ax1hMckPeDCwFC",
      "name": "airtable"
    },
    {
      "updatedAt": "2024-10-09T16:01:57.106Z",
      "createdAt": "2024-10-09T16:01:57.106Z",
      "id": "SNa1Vw3aUYYz8QRe",
      "name": "working"
    }
  ],
  "staticData": null,
  "meta": {},
  "pinData": {}
}