workflows/60XoiouksRYyz07Q_WhatsApp_Admin_Reply.json
{
  "id": "60XoiouksRYyz07Q",
  "name": "WhatsApp Admin Reply",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-reply",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        304
      ],
      "webhookId": "4c700392-40b4-47a6-9473-7314ed77b3fd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "phone",
              "name": "phoneNumber",
              "value": "={{ $json.body.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "msg",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-message",
      "name": "Prepare Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "450053168194790",
        "recipientPhoneNumber": "={{ $json.phoneNumber }}",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "whatsapp-send",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        656,
        304
      ],
      "webhookId": "9048ca84-d881-477c-9716-82986b57920f",
      "credentials": {
        "whatsAppApi": {
          "id": "hJvWjVO9wuuLl16N",
          "name": "WhatsApp for KM (Never Expire)"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [],
  "staticData": null,
  "meta": {},
  "pinData": {}
}