workflows/AwTOihXu3svMNflT_TEST_Campaign_Trigger.json
{
  "id": "AwTOihXu3svMNflT",
  "name": "[TEST] Campaign Trigger",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Start Campaign",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16Ys4nkLyfJapuy_hS-mzOZP5Srw65NqnmJ6UzCD9bk0",
          "mode": "list",
          "cachedResultName": "Clever Connections - Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Ys4nkLyfJapuy_hS-mzOZP5Srw65NqnmJ6UzCD9bk0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Ys4nkLyfJapuy_hS-mzOZP5Srw65NqnmJ6UzCD9bk0/edit#gid=0"
        },
        "options": {}
      },
      "id": "get-pending-leads",
      "name": "Get Pending Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        224,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EMycuXif3kCAGGin",
          "name": "Clever Assets Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter leads with campaign_status = 'pending'\nconst leads = $input.all();\nconst pendingLeads = [];\n\nfor (const item of leads) {\n  const lead = item.json;\n  const status = lead.campaign_status?.toLowerCase() || 'pending';\n  if (status === 'pending' || status === '') {\n    if (lead.phone_normalized && lead.phone_normalized.length >= 10) {\n      pendingLeads.push({\n        json: {\n          ...lead,\n          sequence_step: 1\n        }\n      });\n    }\n  }\n}\n\n// Limit to 50 per campaign run\nreturn pendingLeads.slice(0, 50);"
      },
      "id": "filter-pending",
      "name": "Filter Pending Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-items",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.email }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "check-any-pending",
      "name": "Any Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "16Ys4nkLyfJapuy_hS-mzOZP5Srw65NqnmJ6UzCD9bk0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Templates"
        },
        "options": {}
      },
      "id": "get-templates",
      "name": "Get Templates",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        -96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EMycuXif3kCAGGin",
          "name": "Clever Assets Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst templates = $('Get Templates').all();\n\nconst template = templates.find(t => parseInt(t.json.step) === 1);\n\nif (!template) {\n  return [{ json: { error: 'No template found for step 1', lead } }];\n}\n\nlet message = template.json.message || '';\nmessage = message.replace(/\\{\\{first_name\\}\\}/g, lead.first_name || 'there');\nmessage = message.replace(/\\{\\{business_name\\}\\}/g, lead.business_name || '');\nmessage = message.replace(/\\{\\{city\\}\\}/g, lead.city || '');\nmessage = message.replace(/\\{\\{industry\\}\\}/g, lead['what_industry_do_you_work_in?'] || '');\n\nreturn [{\n  json: {\n    lead_id: lead.id,\n    phone: lead.phone_normalized,\n    email: lead.email,\n    first_name: lead.first_name,\n    business_name: lead.business_name,\n    message: message,\n    sequence_step: 1,\n    template_name: template.json.name\n  }\n}];"
      },
      "id": "merge-template",
      "name": "Personalize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://159.223.23.22:8080/message/sendText/n8n-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "EVO_ae4f6e1250e3330e5e6bca56532bfa2a"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "16Ys4nkLyfJapuy_hS-mzOZP5Srw65NqnmJ6UzCD9bk0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $runId }}-{{ $itemIndex }}",
            "lead_id": "={{ $json.lead_id }}",
            "phone": "={{ $json.phone }}",
            "direction": "outbound",
            "content": "={{ $json.message }}",
            "sentiment": "",
            "is_automated": "TRUE",
            "sent_by": "bot",
            "timestamp": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "log-message",
      "name": "Log to Messages Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1552,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EMycuXif3kCAGGin",
          "name": "Clever Assets Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "16Ys4nkLyfJapuy_hS-mzOZP5Srw65NqnmJ6UzCD9bk0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "campaign_status": "sent",
            "sequence_step": "1",
            "last_message_sent": "={{ $now.toISO() }}",
            "next_followup_due": "={{ $now.plus({ minutes: 3 }).toISO() }}"
          }
        },
        "options": {}
      },
      "id": "update-lead",
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1760,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EMycuXif3kCAGGin",
          "name": "Clever Assets Google Sheets"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-pending",
      "name": "No Pending Leads",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        112
      ]
    }
  ],
  "connections": {
    "Start Campaign": {
      "main": [
        [
          {
            "node": "Get Pending Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Leads": {
      "main": [
        [
          {
            "node": "Filter Pending Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Only": {
      "main": [
        [
          {
            "node": "Any Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Pending?": {
      "main": [
        [
          {
            "node": "Get Templates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Pending Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Templates": {
      "main": [
        [
          {
            "node": "Personalize Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personalize Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message": {
      "main": [
        [
          {
            "node": "Log to Messages Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Messages Sheet": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [],
  "staticData": null,
  "meta": {},
  "pinData": {}
}