workflows/B7c2r3nYglFYiF4V_CleverBot_CLARA_Personal_WhatsApp.json
{
  "id": "B7c2r3nYglFYiF4V",
  "name": "CleverBot CLARA Personal WhatsApp",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "f0703dde-729f-4f55-9a71-44173419b9a2",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        944,
        848
      ],
      "webhookId": "3734b344-5b58-493f-be1f-f491915eac99",
      "typeVersion": 1,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "tAmAv140r678uSSp",
          "name": "WhatsApp OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.audio.id }}"
      },
      "id": "adad0913-7637-4a84-81e5-79b4ba4b139c",
      "name": "Get Audio URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1760,
        48
      ],
      "typeVersion": 1,
      "webhookId": "2d582e6a-096c-4d1f-9504-b93b7cf36bd4",
      "credentials": {
        "whatsAppApi": {
          "id": "eTwBFQ9wb002nAxs",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.video.id }}"
      },
      "id": "3a32aed1-2b8b-4a7f-9f48-5498091a8a41",
      "name": "Get Video URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1760,
        400
      ],
      "typeVersion": 1,
      "webhookId": "c92a28b7-26ad-4206-8a81-a808e1de5647",
      "credentials": {
        "whatsAppApi": {
          "id": "hJvWjVO9wuuLl16N",
          "name": "WhatsApp for KM (Never Expire)"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.image.id }}"
      },
      "id": "4886738e-08fe-44e5-82f3-60e8086bd48a",
      "name": "Get Image URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1760,
        752
      ],
      "typeVersion": 1,
      "webhookId": "9a67585c-a42b-440b-9197-48dc815c2b82",
      "credentials": {
        "whatsAppApi": {
          "id": "eTwBFQ9wb002nAxs",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "db86a17d-c03f-4b27-aa45-b527e73868e8",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2784,
        544
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "python",
        "pythonCode": "import cv2\nimport numpy as np\nimport base64\n\ndef extract_evenly_distributed_frames_from_base64(base64_string, max_frames=10):\n    # Decode the Base64 string into bytes\n    video_bytes = base64.b64decode(base64_string)\n    \n    # Write the bytes to a temporary file\n    video_path = '/tmp/temp_video.mp4'\n    with open(video_path, 'wb') as video_file:\n        video_file.write(video_bytes)\n    \n    # Open the video file using OpenCV\n    video_capture = cv2.VideoCapture(video_path)\n    \n    # Get the total number of frames in the video\n    total_frames = int(video_capture.get(cv2.CAP_PROP_FRAME_COUNT))\n    \n    # Calculate the step size to take 'max_frames' evenly distributed frames\n    step_size = max(1, total_frames // (max_frames - 1))\n    \n    # List to store selected frames as base64\n    selected_frames_base64 = []\n    \n    for i in range(0, total_frames, step_size):\n        # Set the current frame position\n        video_capture.set(cv2.CAP_PROP_POS_FRAMES, i)\n        \n        # Read the frame\n        ret, frame = video_capture.read()\n        if ret:\n            # Convert frame (NumPy array) to a Base64 string\n            frame_base64 = convert_frame_to_base64(frame)\n            selected_frames_base64.append(frame_base64)\n        if len(selected_frames_base64) >= max_frames:\n            break\n    \n    # Release the video capture object\n    video_capture.release()\n\n    return selected_frames_base64\n\ndef convert_frame_to_base64(frame):\n    # Convert the frame (NumPy array) to JPEG format\n    ret, buffer = cv2.imencode('.jpg', frame)\n    if not ret:\n        return None\n\n    # Encode JPEG image to Base64\n    frame_base64 = base64.b64encode(buffer).decode('utf-8')\n    return frame_base64\n\nbase64_video = _input.item.binary.data.data\nframes_base64 = extract_evenly_distributed_frames_from_base64(base64_video, max_frames=10)\n\nreturn { \"output\": frames_base64 }"
      },
      "id": "46e0aa9b-0e5a-4dba-bf4a-704f6ee55e7c",
      "name": "Capture Frames",
      "type": "n8n-nodes-base.code",
      "position": [
        2080,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "id": "1a6b6377-7c22-465d-aa98-62127f639a34",
      "name": "Split Out Frames",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2240,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "151065b4-582d-4c71-90c0-ed15ee94f681",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1920,
        400
      ],
      "typeVersion": 4.2,
      "credentials": {
        "whatsAppApi": {
          "id": "whaIKOY8We9Odqw8",
          "name": "CleverBot - Visible Business Temp"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "output",
        "options": {}
      },
      "id": "0fe1377d-b5ea-4f44-97ed-7055ae6437af",
      "name": "Convert to Binary",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        2400,
        400
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "id": "c1eef323-93f1-42fe-bb69-654ac0ecdccc",
      "name": "Aggregate Binary Frames",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        2560,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "d1cd1a91-2d3c-4865-a718-f14d01d75505",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1920,
        48
      ],
      "typeVersion": 4.2,
      "credentials": {
        "whatsAppApi": {
          "id": "whaIKOY8We9Odqw8",
          "name": "CleverBot - Visible Business Temp"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "d1541962-de47-4e34-9282-9f52dc68ea4e",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1920,
        752
      ],
      "typeVersion": 4.2,
      "credentials": {
        "whatsAppApi": {
          "id": "whaIKOY8We9Odqw8",
          "name": "CleverBot - Visible Business Temp"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "82b2a3ce-0948-4237-89de-6b9f574ead76",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2784,
        880
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2253ce0c-e77b-4688-b40d-9cd839299f24",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2784,
        1184
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e6dec578-3264-462c-b311-db7e360050cb",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3872,
        784
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=whatsapp-tutorial-{{ $json.from }}"
      },
      "id": "56e3b1df-5403-4a75-b47f-0c26ded053c2",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        4000,
        784
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d990cbd6-a408-4ec4-a889-41be698918d9",
              "name": "message_type",
              "type": "string",
              "value": "={{ $('Split Out Message Parts').item.json.type }}"
            },
            {
              "id": "23b785c3-f38e-4706-80b7-51f333bba3bd",
              "name": "message_text",
              "type": "string",
              "value": "={{ $json.message_text }}"
            },
            {
              "id": "6e83f9a7-cf75-4182-b2d2-3151e8af76b9",
              "name": "from",
              "type": "string",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
            },
            {
              "id": "da4b602a-28ca-4b0d-a747-c3d3698c3731",
              "name": "message_caption",
              "type": "string",
              "value": "={{ $('Redirect Message Types').item.json.video && $('Redirect Message Types').item.json.video.caption || '' }}\n{{ $('Redirect Message Types').item.json.image && $('Redirect Message Types').item.json.image.caption || ''}}\n{{ $('Redirect Message Types').item.json.audio && $('Redirect Message Types').item.json.audio.caption || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a03778da-8725-4cd0-a631-848a92db692b",
      "name": "Get User's Message",
      "type": "n8n-nodes-base.set",
      "position": [
        3632,
        560
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "fdc43e8c-802c-4718-9e42-75c8dd91c7bb",
      "name": "Split Out Message Parts",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1200,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "5b1f52b3-ae34-40a0-9993-fbce64323107",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        4160,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 1. WhatsApp Trigger\n\n\nTo start receiving WhatsApp messages in your workflow, there are quite a few steps involved so be sure to follow the n8n documentation. When we recieve WhatsApp messages, we'll split out the messages part of the payload and handle them depending on the message type using the Switch node.",
        "height": 443.69159953970154,
        "width": 526.3429228998849,
        "color": 7
      },
      "id": "b8411dfb-1d3e-4c69-8a56-d28206262ded",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 2. Transcribe Audio Messages 💬\nFor audio messages or voice notes, we can use GPT4o to transcribe the message for our AI Agent.",
        "height": 97.23360184119679,
        "width": 356.65822784810103,
        "color": 7
      },
      "id": "88b9e71e-8539-4083-862a-70932b687bd6",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 3. Describe Video Messages (no sound) 🎬\nFor video messages, one approach to understand the contents is to split the file into frames and have our AI's Vision mode to describe what is happening across the frames. We won't be able to capture the audio however using this method however. To capture audio, we'd first need to extract the audio track which is outside the scope of this demonstration.",
        "height": 155.56271576524733,
        "width": 560.8101265822784,
        "color": 7
      },
      "id": "c480ebca-c0bc-44aa-98b1-c451d6c01018",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 4. Analyse Image Messages 🏞️\nFor image messages, we can use GPT4o to explain what is going on in the message for our AI Agent.",
        "height": 97.23360184119679,
        "width": 356.65822784810103,
        "color": 7
      },
      "id": "30949133-140a-4f69-9291-74ffbcc43adb",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 5. Text summarizer 📘\nFor text messages, we don't need to do much transformation but it's nice to summarize for easier understanding.",
        "height": 97.23360184119679,
        "width": 428.24395857307246,
        "color": 7
      },
      "id": "f9efed09-c10c-4618-affa-65cd4dc4610a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 0
      },
      "id": "25e2adfa-8ed0-4a6e-a475-bc3e53b9adf6",
      "name": "Get Text",
      "type": "n8n-nodes-base.wait",
      "position": [
        1760,
        1040
      ],
      "webhookId": "e58fca22-ced1-4c2c-accb-b3c497acc994",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## 6. Generate Response with AI Agent\n[Read more about the AI Agent node](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent)\n\nNow that we'll able to handle all message types from WhatsApp, we could do pretty much anything we want with it by giving it our AI agent. Examples could include handling customer support, helping to book appointments or verifying documents.\n\nIn this demonstration, we'll just create a simple AI Agent which responds to our WhatsApp user's message and returns a simple response.",
        "height": 655.4660529344073,
        "width": 639.3555811277332,
        "color": 7
      },
      "id": "449e0169-c5c2-46b3-8a84-217b943783fd",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3808,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 7. Respond to WhatsApp User\n[Read more about the Whatsapp node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.whatsapp/)\n\nTo close out this demonstration, we'll simple send a simple text message back to the user. Note that this WhatsApp node also allows you to send images, audio, videos, documents as well as location!",
        "height": 520.778826237054,
        "width": 478.15512082853854,
        "color": 7
      },
      "id": "60466396-caff-43e7-9066-7d493896a9ae",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4464,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "423518137516832",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "41f5055f-b542-46c3-9f60-8b4006e733ac",
      "name": "Respond to User",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        4640,
        592
      ],
      "typeVersion": 1,
      "webhookId": "88dfc3cd-36a5-4cbd-90b9-2dfda624661f",
      "credentials": {
        "whatsAppApi": {
          "id": "whaIKOY8We9Odqw8",
          "name": "CleverBot - Visible Business Temp"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "These are frames from a video sent by the user. Explain what is going on from start to end.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_1"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_2"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_3"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_4"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_5"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_6"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_7"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_8"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_9"
            }
          ]
        }
      },
      "id": "5c561ad2-04f3-4f98-9e5e-4083f991162f",
      "name": "Video Explainer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2800,
        400
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "d504a614-6351-4eb0-83de-35285a8c4198",
      "name": "Audio Transcriber",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2960,
        48
      ],
      "typeVersion": 1.5,
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text.body }}",
        "messages": {
          "messageValues": [
            {
              "message": "Summarize the user's message succinctly, don't answer the question, just summarize the message if it is long. If it is short, just pass the message through as is."
            }
          ]
        }
      },
      "id": "9ca2df53-6907-4886-9ea9-2d6c644eb396",
      "name": "Text Summarizer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2800,
        1040
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Here is an image sent by the user. Describe the image and transcribe any text visible in the image.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "id": "7f74305f-8d8a-470a-b8bf-13152703ad63",
      "name": "Image Explainer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2800,
        752
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The user sent the following message\nmessage type: {{ $json.message_type }}\nmessage text or description:\n```{{ $json.message_text }}```\n{{ $json.message_caption ? `message caption: ${$json.message_caption.trim()}` : '' }}",
        "options": {
          "systemMessage": "You are a general knowledge assistant made available to the public via whatsapp. Help answer the user's query succiently and factually.\nYou can make use of the tools at your disposal to respond to the users request"
        }
      },
      "id": "76850a9d-e5f6-473e-9bcf-01d785408980",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3984,
        592
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.type == 'audio' && Boolean($json.audio) }}",
                    "rightValue": "audio"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "82aa5ff4-c9b6-4187-a27e-c7c5d9bfdda0",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.type == 'video' && Boolean($json.video) }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Video Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "05b30af4-967b-4824-abdc-84a8292ac0e5",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.type == 'image' && Boolean($json.image) }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Image Message"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Text Message"
        }
      },
      "id": "53444c1f-d69d-4b5a-b207-063aaf9f712a",
      "name": "Redirect Message Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        1488,
        592
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31a36b6a-bdf5-450f-82da-677d2ce01a51",
              "name": "message_text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "46cd6859-3663-4f54-b7c8-770ab6251226",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        992
      ],
      "id": "a4069397-43ea-495e-8b9d-b4c31e8fd03e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31a36b6a-bdf5-450f-82da-677d2ce01a51",
              "name": "message_text",
              "value": "={{ $json.response.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "0ae045d2-d6e7-4521-a9ba-f936429de9f0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31a36b6a-bdf5-450f-82da-677d2ce01a51",
              "name": "message_text",
              "value": "={{ $json.response.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        80
      ],
      "id": "e0fb2caf-4e74-438f-bcb7-40464e856cfe",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31a36b6a-bdf5-450f-82da-677d2ce01a51",
              "name": "message_text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3184,
        704
      ],
      "id": "482c43af-c244-455e-853b-6c7cd682ac85",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31a36b6a-bdf5-450f-82da-677d2ce01a51",
              "name": "message_text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3248,
        160
      ],
      "id": "f4fbc07c-d1e5-42ab-81d8-83c49dfe002d",
      "name": "Edit Fields4"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        4304,
        784
      ],
      "id": "f320d59c-a56c-46ba-9665-ff158552712c",
      "name": "Calculator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31a36b6a-bdf5-450f-82da-677d2ce01a51",
              "name": "message_text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3232,
        448
      ],
      "id": "1b5cb992-4c31-4825-a9da-1eb047bf788a",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.zoomTool",
      "typeVersion": 1,
      "position": [
        4448,
        800
      ],
      "id": "36aed4dd-6bcc-4fd5-9bba-47c3ef124a9e",
      "name": "Zoom"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "5e4665d4-b933-495c-ad11-fdab687f1120",
      "name": "WhatsApp Trigger1",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        960,
        592
      ],
      "webhookId": "03d8b203-77d2-4442-af22-d54f14cac728",
      "typeVersion": 1,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "tAmAv140r678uSSp",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "d8390e44-0426-49d5-b368-77a2eb7cea78",
      "name": "Split Out Message Parts1",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1120,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 1. WhatsApp Trigger\n\n\nTo start receiving WhatsApp messages in your workflow, there are quite a few steps involved so be sure to follow the n8n documentation. When we recieve WhatsApp messages, we'll split out the messages part of the payload and handle them depending on the message type using the Switch node.",
        "height": 443.69159953970154,
        "width": 526.3429228998849,
        "color": 7
      },
      "id": "1cbd4699-ab90-4f20-a72a-61bcaa09a358",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        -112
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Get Text": {
      "main": [
        [
          {
            "node": "Text Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video URL": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Frames": {
      "main": [
        [
          {
            "node": "Split Out Frames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Audio Transcriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Image Explainer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Capture Frames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Explainer": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Frames": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        []
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Aggregate Binary Frames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Video Explainer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get User's Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Image Explainer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Text Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Binary Frames": {
      "main": [
        [
          {
            "node": "Video Explainer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Message Parts": {
      "main": [
        [
          {
            "node": "Redirect Message Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Transcriber": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Summarizer": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Explainer": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redirect Message Types": {
      "main": [
        [
          {
            "node": "Get Audio URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get User's Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Get User's Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Get User's Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Zoom": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger1": {
      "main": [
        [
          {
            "node": "Split Out Message Parts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [
    {
      "updatedAt": "2024-11-09T11:37:32.762Z",
      "createdAt": "2024-11-09T11:37:32.762Z",
      "id": "kl2UMNXrfrvr3Rn2",
      "name": "showcase"
    }
  ],
  "staticData": null,
  "meta": {
    "templateId": "2466",
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "27824107029",
            "phone_number_id": "423518137516832"
          },
          "contacts": [
            {
              "profile": {
                "name": "Chad Williams"
              },
              "wa_id": "27798907415"
            }
          ],
          "messages": [
            {
              "from": "27798907415",
              "id": "wamid.HBgLMjc3OTg5MDc0MTUVAgASGBQzQTk3ODIyNDVFODk2NjU3MDM2OQA=",
              "timestamp": "1750923061",
              "type": "image",
              "image": {
                "caption": "What is this",
                "mime_type": "image/jpeg",
                "sha256": "Libmyh6s04GC5GGW/uGTRpkC6gA0UMPhRG9Z78Hl/kE=",
                "id": "1437415884106202"
              }
            }
          ],
          "field": "messages"
        }
      }
    ]
  }
}