workflows/bYauok2Kwuprn2Kx_V2_Knysna-Monte_Q_A_Agent.json
{
  "id": "bYauok2Kwuprn2Kx",
  "name": "V2 Knysna-Monte Q&A Agent",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "3f01ab78-8e25-4167-9820-69503e7a5e02",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1040,
        600
      ],
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "KM_send_email",
        "description": "Call this tool to send an email",
        "workflowId": "k4EVMy9kmSiMdthe",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"query\": \"toList=recipient@example.com&subject=Your%20Subject%20Here&body=Your%20email%20message%20content%20here.&ccList=cc@example.com&bccList=bcc@example.com&senderName=Your%20Name&appendAttribution=false\"\n}\n"
      },
      "id": "00880df2-fc9b-45fc-b62e-4beea4ecb3ec",
      "name": "send_email",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        1260,
        640
      ]
    },
    {
      "parameters": {
        "name": "create_event",
        "description": "Call this tool to create calendar events",
        "workflowId": "qTJ4LI1fDs1uw3LM",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"query\": \"start=&end=&attendees=&description=&summary=\"\n}\n"
      },
      "id": "15a8be74-9871-4da8-aa58-8c5d31d4646a",
      "name": "create_event",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        1500,
        640
      ]
    },
    {
      "parameters": {
        "name": "update_database",
        "description": "Call this tool to update the vector database if requested.",
        "workflowId": "xo2fXVgBFEq5O0D0"
      },
      "id": "a283230a-c7ae-41a3-aba8-fa40fcd2cebc",
      "name": "update_database",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        1640,
        640
      ]
    },
    {
      "parameters": {
        "name": "create_document_drive",
        "description": "Create a document in Google Drive",
        "workflowId": "ZJbuljwCbc1IfaM4",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"query\": \"fileContent=Your%20file%20content%20here&fileName=YourFileNameHere.txt\"\n}\n"
      },
      "id": "e6e5574c-7634-4dcf-96e6-d7d0193bfd15",
      "name": "create_document_drive",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        1380,
        640
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "a32493dd-2ace-4b9e-bca5-297aa944ecf4",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        880,
        1180
      ],
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "d4c5b0f0-3eb9-4a24-9ad6-3d70aac1628c",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1140,
        960
      ],
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "database",
        "description": "Call this tool to retrieve the contact information like email addresses",
        "topK": 10
      },
      "id": "03484ed8-0083-4f1d-8465-5f90fad606c5",
      "name": "database",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1020,
        780
      ]
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "Contacts"
        }
      },
      "id": "bf28408d-dc15-45aa-a6fb-2df757f20ae6",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        880,
        960
      ],
      "credentials": {
        "pineconeApi": {
          "id": "4YhGmXWhVz5bAAOO",
          "name": "PineconeApi VisibleProjects"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3ec8211a-e2d5-43cd-bca2-c02407d0e0c0",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        820,
        380
      ],
      "webhookId": "223c5bbf-66a6-489b-afe2-ef3ac76609d3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "**OBJECTIVE**\n\nThe AI Agent's primary goal is to process incoming chat messages efficiently by utilizing a suite of tools. It will extract relevant information, manage tasks like sending emails, creating documents, updating the database, and integrating these actions with external systems like a Pinecone Vector Store for advanced data retrieval.\n\n---\n\n**CONTEXT**\n\nYou are an AI Assistant integrated into a workflow that handles incoming chat messages. The workflow is designed for a user who interacts with clients or team members through chat. The chat messages may contain requests for various actions such as sending emails, creating documents, setting up events, or updating databases. The AI Agent is connected to several tools that allow it to perform these tasks automatically.\n\n**Tools Available:**\n\n1. **OpenAI Chat Model**: Used for generating responses, interpreting chat messages, and understanding user intent.\n2. **Send Email**: Automatically composes and sends emails based on instructions received from the chat message.\n3. **Create Document (Drive)**: Generates documents and stores them in a connected drive, potentially using templates or user-provided content.\n4. **Create Event**: Schedules events in a calendar based on the details provided in the chat.\n5. **Update Database**: Modifies or updates entries in a database as instructed by the user.\n6. **Pinecone Vector Store**: Stores embeddings and vector representations of text data, allowing for efficient and relevant data retrieval.\n7. **Database**: A storage system that holds important information and can be queried or updated by the AI Agent.\n\n**Memory Context:** The AI Agent uses memory to track ongoing conversations and tasks, ensuring continuity in interactions and decision-making.\n\n**User Profile:** The user interacts with multiple clients and projects, requiring the AI Agent to handle tasks related to communication, documentation, scheduling, and data management seamlessly.\n\n---\n\n**INSTRUCTIONS**\n\n1. **Message Interpretation:**\n   - Use the OpenAI Chat Model to understand and interpret the incoming chat message.\n   - Identify key actions required (e.g., sending an email, creating a document, scheduling an event).\n\n2. **Task Execution:**\n   - **Send Email**: If the chat message requests sending an email, use the \"Send Email\" tool to draft and send the email, incorporating any necessary information or templates.\n   - **Create Document**: If a document is required, use the \"Create Document (Drive)\" tool to generate the document, ensuring it is stored appropriately in the connected drive.\n   - **Create Event**: For scheduling requests, use the \"Create Event\" tool to set up calendar events with the correct date, time, and details.\n   - **Update Database**: When database updates are needed, use the \"Update Database\" tool to modify or add entries as specified in the chat message.\n\n3. **Data Retrieval & Storage:**\n   - Use the **Pinecone Vector Store** to retrieve relevant information from the stored embeddings, enhancing the AI's ability to provide contextually accurate responses.\n   - Query the **Database** when additional information is needed to complete a task or to validate data before performing an action.\n\n4. **Memory Usage:**\n   - Keep track of ongoing conversations and tasks using memory to ensure consistent and relevant interactions.\n   - Recall previous chat messages or actions to maintain context in multi-step processes.\n\n5. **Error Handling:**\n   - If any tool fails or an action cannot be completed, notify the user promptly with a suggested next step or alternative action.\n\n---\n\n**OUTPUT REQUIREMENTS**\n\n- **Email Confirmation**: Provide a confirmation message once an email is sent, including details like recipient, subject, and a brief summary of the content.\n- **Document Creation Summary**: Notify the user when a document is created, including the document name, location, and a summary of its contents.\n- **Event Confirmation**: Send a confirmation message summarizing the event details once it is scheduled.\n- **Database Update Report**: Provide a report of the changes made to the database, including the fields updated and their new values.\n- **Error Notification**: If an error occurs, generate an alert with details of the issue and possible corrective actions.\n\n---\n\n**EXAMPLES**\n\n### Example 1: Send Email\n\n**Chat Message:**\n\"Please send an email to John to confirm our meeting tomorrow at 10 AM.\"\n\n**AI Agent Actions:**\n- **Interpretation**: Recognize the need to send an email.\n- **Tool Used**: Send Email.\n- **Email Content**: \"Subject: Meeting Confirmation - 10 AM Tomorrow. Hi John, just confirming our meeting scheduled for 10 AM tomorrow. Looking forward to it. Best, [User Name]\"\n- **Output**: Email Confirmation message sent to the user.\n\n### Example 2: Create Document\n\n**Chat Message:**\n\"Draft a project summary document for the XYZ project and save it in the drive.\"\n\n**AI Agent Actions:**\n- **Interpretation**: Identify the need to create a document.\n- **Tool Used**: Create Document (Drive).\n- **Document Content**: Generate a summary document based on provided or retrieved project details.\n- **Output**: Document Creation Summary provided to the user.\n\n### Example 3: Update Database\n\n**Chat Message:**\n\"Update the client database with the new contact information for Sarah from XYZ Corp.\"\n\n**AI Agent Actions:**\n- **Interpretation**: Recognize the request to update the database.\n- **Tool Used**: Update Database.\n- **Database Update**: Modify the relevant entry with Sarah’s new contact information.\n- **Output**: Database Update Report sent to the user.\n",
          "returnIntermediateSteps": true
        }
      },
      "id": "a38d88dc-4cbd-49f1-a911-e634fd34443d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1040,
        380
      ]
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "send_email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_database": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_document_drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "database",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "database": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "database",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2024-10-11T07:29:43.254Z",
      "createdAt": "2024-10-11T07:29:43.254Z",
      "id": "AOYxiUb5DHFbCFkc",
      "name": "agent"
    },
    {
      "updatedAt": "2024-10-09T16:43:18.976Z",
      "createdAt": "2024-10-09T16:43:18.976Z",
      "id": "f7EmhD96a1FaZ3H9",
      "name": "knysna-montessori"
    }
  ],
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}