workflows/ceaamveamHXLCCVH_Telegram_AI-bot.json
{
  "id": "ceaamveamHXLCCVH",
  "name": "Telegram AI-bot",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        272,
        496
      ],
      "id": "0852f7ce-8e28-4c80-9da8-aaf1d95b66a4",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.weatherapi.com/v1/current.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "31cf222997a3406ab09122302251610"
            },
            {
              "name": "q",
              "value": "-34.00, 24.90"
            },
            {
              "name": "aqi",
              "value": "no"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        528
      ],
      "id": "18e1a5e9-04a2-4fd1-a1cc-da6abaa0165d",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the Weather Data:  {{ $json.stringified }}",
        "options": {
          "systemMessage": "You are a helpfulYou are a helpful weather assistant. Summarize the following weather data clearly and conversationally for a daily update.\n\nWeather data (JSON):\n{{ $json }}\n\nInstructions:\n1. Summarize the current weather in simple, natural language.\n2. Mention key details like temperature, feels-like temperature, wind speed and direction, humidity, and any rain or cloud cover. Don't use imperial, only use metric.\n3. If possible, include a short forecast or general outlook for the day (e.g., \"expect mild temperatures with occasional clouds\").\n4. Keep it concise—no more than 3 sentences.\n5. Use a friendly and informative tone suitable for a morning report.\n6. Do not include JSON, technical terms, or code—only human-readable text. assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1088,
        288
      ],
      "id": "3786e072-300b-4cd9-ad6a-c392d2e6f3eb",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Get input data (usually from a previous node)\nconst input = $json;  // this is the current item’s JSON data\n\n// Convert the entire object to a readable string\nconst stringified = JSON.stringify(input, null, 2);  // '2' adds indentation for readability\n\n// Return it as a new field, or replace the object entirely\nreturn [\n  {\n    json: {\n      original: input,\n      stringified: stringified\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        464
      ],
      "id": "347182d0-c03f-43db-9233-59675dd07c42",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "randolphwilliams930@gmail.com",
        "subject": "Here is todays weather updates",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1456,
        576
      ],
      "id": "e89690a2-fc52-4752-95bc-97a91a4c3552",
      "name": "Send a message",
      "webhookId": "1f514a77-f9aa-48e5-8c16-f7c5cdca79f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "ElLilGvIR1rF4FbL",
          "name": "Visagility / Randolph Gmail"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "mistralai/mistral-nemo:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1040,
        544
      ],
      "id": "b4e6808d-3656-4754-b29d-55634316bca9",
      "name": "Openrouter-Weather LLM",
      "credentials": {
        "openRouterApi": {
          "id": "YngKuBAmG0Fsx11G",
          "name": "OpenRouter-Weather"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1504,
        304
      ],
      "id": "ef855648-e21f-4bbc-977d-d42f77af9794",
      "name": "Append or update row in sheet",
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "489dbd32-017d-44f9-8062-002ae34f4a84",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -1328,
        -240
      ],
      "webhookId": "51942fbb-ca0e-4ec4-9423-5fcc7d3c4281",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "LSPRVxvRuASyqEan",
          "name": "RAIN8NBot"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message?.text }}",
        "rules": {
          "rules": [
            {
              "operation": "notStartsWith",
              "value2": "/"
            },
            {
              "operation": "startsWith",
              "value2": "/start",
              "output": 1
            },
            {
              "operation": "startsWith",
              "value2": "=/image ",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "afd8cd34-9bed-49b7-ba20-b775940b811c",
      "name": "CheckCommand",
      "type": "n8n-nodes-base.switch",
      "position": [
        -368,
        -208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Error fallback for unsupported commands",
        "height": 231.22373949579838,
        "width": 316.1071428571428
      },
      "id": "bb9d8bd5-452f-4d6f-9437-8c4e2f5ff25d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "model_temperature",
              "value": 0.8
            },
            {
              "name": "token_length",
              "value": 500
            }
          ],
          "string": [
            {
              "name": "system_command",
              "value": "=You are a friendly chatbot. User name is {{ $json?.message?.from?.first_name }}. User system language is {{ $json?.message?.from?.language_code }}. First, detect user text language. Next, provide your reply in the same language. do not Include emojis in your answer."
            },
            {
              "name": "bot_typing",
              "value": "={{ $json?.message?.text.startsWith('/image') ? \"upload_photo\" : \"typing\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4f3577fa-7eba-4d35-a086-92a58833436e",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        -960,
        -240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Chatbot mode by default\n### (when no command is provided)",
        "height": 233,
        "width": 330.5019024637719
      },
      "id": "acd4016e-51d4-45f9-91d2-9823b5b52c08",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Welcome message\n### /start",
        "height": 219.892857142857,
        "width": 330.7863484403046
      },
      "id": "01aca054-db38-4848-a801-79a4cc79a8f0",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "371a4c3b-b6c8-4d53-be15-c922824ddd41",
      "name": "Chat_mode",
      "type": "n8n-nodes-base.openAi",
      "position": [
        0,
        -736
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "=This is the first message from a user. Please welcome a new user in `{{ $json.message.from.language_code }}` language"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "59403e0e-6910-4db4-8a36-64a928c930b2",
      "name": "Greeting",
      "type": "n8n-nodes-base.openAi",
      "position": [
        0,
        -496
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Settings').first().json.message.from.id }}",
        "text": "={{ $json.message.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "bf0bbcad-c79b-4c21-ae5a-408459b95907",
      "name": "Text reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        368,
        -608
      ],
      "typeVersion": 1,
      "webhookId": "c83b1f7f-b065-4ec1-a5a2-81ac18b2c146",
      "credentials": {
        "telegramApi": {
          "id": "LSPRVxvRuASyqEan",
          "name": "RAIN8NBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.from.id }}",
        "action": "={{ $json.bot_typing }}"
      },
      "id": "f4315804-c4eb-4099-a28f-ed1d46ad9fff",
      "name": "Send Typing action",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -768,
        -96
      ],
      "typeVersion": 1,
      "webhookId": "63974928-8c2b-4d40-b7b8-762f4a989a68",
      "credentials": {
        "telegramApi": {
          "id": "LSPRVxvRuASyqEan",
          "name": "RAIN8NBot"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "95bff9c8-efe5-49bf-92e8-f8dc28c83e33",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -544,
        -208
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Create an image\n### /image + request",
        "height": 233.8785714285713,
        "width": 329.7428571428562
      },
      "id": "9b6680cc-2df9-4957-a2cd-d92a784376ff",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.message.text.split(' ').slice(1).join(' ') }}",
        "responseFormat": "imageUrl",
        "options": {
          "n": 1,
          "size": "512x512"
        },
        "requestOptions": {}
      },
      "id": "bc6354c4-f480-4240-8724-22b2b05ed31a",
      "name": "Create an image",
      "type": "n8n-nodes-base.openAi",
      "position": [
        0,
        -208
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=Sorry, {{ $json.message.from.first_name }}! This command is not supported yet. Please type some text to a chat bot or try this command:\n/image \\[your prompt]\n\nEnter the command, then space and provide your request. Example:\n\n`/image a picture of a dog`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "11a0e170-f03a-41c5-b916-60f68b87dab7",
      "name": "Send error message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        368,
        96
      ],
      "typeVersion": 1,
      "webhookId": "e7087e41-abaf-4306-a3f9-abf36a02aa1b",
      "credentials": {
        "telegramApi": {
          "id": "LSPRVxvRuASyqEan",
          "name": "RAIN8NBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Settings').first().json.message.from.id }}",
        "file": "={{ $json.url }}",
        "additionalFields": {}
      },
      "id": "463cb09c-b52c-4ce3-8682-3edc7d769ea1",
      "name": "Send image",
      "type": "n8n-nodes-base.telegram",
      "position": [
        368,
        -208
      ],
      "typeVersion": 1,
      "webhookId": "d2a8fce6-75d3-42bc-a740-56cef9e04890",
      "credentials": {
        "telegramApi": {
          "id": "LSPRVxvRuASyqEan",
          "name": "RAIN8NBot"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message.text",
              "value": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "33175295-368e-450c-98c2-c7920cc2f794",
      "name": "PreProcessing",
      "type": "n8n-nodes-base.set",
      "position": [
        -1136,
        -240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        288,
        -800
      ],
      "id": "d87d0f23-c1d6-4f19-970b-6ac278b19811",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "YngKuBAmG0Fsx11G",
          "name": "OpenRouter-Weather"
        }
      }
    },
    {
      "parameters": {
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -400,
        272
      ],
      "id": "2b8c566d-979c-4b59-9064-ceb2fc400392",
      "name": "Generate a chat completion"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Openrouter-Weather LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "CheckCommand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Send Typing action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat_mode": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckCommand": {
      "main": [
        [
          {
            "node": "Generate a chat completion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreProcessing": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an image": {
      "main": [
        [
          {
            "node": "Send image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "PreProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Typing action": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 999411951,
          "message": {
            "message_id": 8,
            "from": {
              "id": 1239483436,
              "is_bot": false,
              "first_name": "Randolph",
              "last_name": "Jbay",
              "username": "Rando_94",
              "language_code": "en"
            },
            "chat": {
              "id": 1239483436,
              "first_name": "Randolph",
              "last_name": "Jbay",
              "username": "Rando_94",
              "type": "private"
            },
            "date": 1762191892,
            "text": "hello , how is the weather in Jeffreys Bay South Africa today"
          }
        }
      }
    ]
  }
}