workflows/ffWciTyrcSKlx0oW_My_workflow_10.json
{
  "id": "ffWciTyrcSKlx0oW",
  "name": "My workflow 10",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2e6fe928-dc2a-4907-9beb-6934d5d0127f",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://liquid-financial.co.za/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "32f454a0-1ed2-4f2d-96e1-64971dd4b0d4",
      "name": "scrape website"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "1faaa409-b97e-445b-8b9f-ef1eb6605c7e",
      "name": "Markdown"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "scrape website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape website": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "staticData": null,
  "meta": {},
  "pinData": {}
}