workflows/MBVrWkgvS3M7vVbw_CA_chatbot_RAG_F-G.json
{
  "id": "MBVrWkgvS3M7vVbw",
  "name": "CA_chatbot_RAG_F-G",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "frequencyPenalty": 0.2,
          "temperature": 0.7
        }
      },
      "id": "296f5c44-5d20-4744-a2ed-18d4879e9972",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        420,
        460
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "=chat_with_{{ $('Listen for incoming events').first().json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "68320c4e-de31-401d-8885-0ec470105185",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        540,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "c7ab8727-754a-44f1-b0be-3bb659bcfba0",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        940,
        240
      ],
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "mkROGkFhAluNO5je",
          "name": "F&G GrandWest Bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $('AI Agent').item.json.output.replace(/&/g, \"&amp;\").replace(/>/g, \"&gt;\").replace(/</g, \"&lt;\").replace(/\"/g, \"&quot;\") }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "d96f7486-b9a1-4302-9925-f8c71cce4a78",
      "name": "Correct errors",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1200,
        260
      ],
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "mkROGkFhAluNO5je",
          "name": "F&G GrandWest Bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "4d690a29-345a-43f5-94fc-16e4d35e7fb3",
      "name": "Listen for incoming events",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -480,
        240
      ],
      "webhookId": "2e71770b-d293-41d2-a50c-bacba82beef3",
      "typeVersion": 1,
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "mkROGkFhAluNO5je",
          "name": "F&G GrandWest Bot"
        }
      },
      "notes": "This connects to the F&G GrandWest Telegram Bot (7910482265:AAE_cMQfj_zK1BX-IoX7pkBuv2x_bC8Byi8) \nand is used as a demo for our Proof of concept for the GrandWest Mall."
    },
    {
      "parameters": {
        "name": "database",
        "description": "Details about the Grand West Mall development"
      },
      "id": "c10c2a68-a610-4945-9895-834ce0dc8d94",
      "name": "database",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        560,
        620
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "9fcfc23a-0f56-4b1c-88d0-a0aa8e759939",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        320,
        920
      ],
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "6e153810-80fd-4838-b6ee-8bf67badc2cf",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        680,
        780
      ],
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "send_document",
        "description": "Call this tool to send a document to the user",
        "workflowId": "1AOlk4P31G4Nv8FA",
        "fields": {
          "values": [
            {
              "name": "chat_id",
              "stringValue": "={{ $('Listen for incoming events').first().json.message.chat.id }}"
            }
          ]
        }
      },
      "id": "e2b75f68-8fc3-4ba9-a9d2-160c4725c0fe",
      "name": "Send Document Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        920,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "8a0d3ffe-0e86-4856-b8f0-3b7d554d48be",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        280,
        240
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message.text",
              "value": "={{ $json?.message?.text || \"\" }}"
            },
            {
              "name": "tg.source",
              "value": "={{ $workflow.webhookId }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "2a9555b9-b372-439f-8b40-5e8ac2d9694a",
      "name": "PreProcessing",
      "type": "n8n-nodes-base.set",
      "position": [
        -260,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "clever-assets",
          "mode": "list",
          "cachedResultName": "clever-assets"
        },
        "options": {}
      },
      "id": "47fb5feb-dff7-4fac-9f65-5e27b192418e",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        360,
        780
      ],
      "credentials": {
        "pineconeApi": {
          "id": "4YhGmXWhVz5bAAOO",
          "name": "PineconeApi VisibleProjects"
        }
      }
    },
    {
      "parameters": {
        "name": "Draw_Dalle_image",
        "description": "Call this tool to request a Dall-E 3 model, when the user asks to draw something. Please send the user request for an image as an inline query string.",
        "workflowId": "14eb3AwsS8wKYMDO",
        "fields": {
          "values": [
            {
              "name": "chat_id",
              "stringValue": "={{ $('Listen for incoming events').first().json.message.chat.id }}"
            }
          ]
        }
      },
      "id": "90264b54-f43f-4c16-adfc-191f25df30d2",
      "name": "Dall-E 3 Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        780,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.from.id }}"
      },
      "id": "4f481341-a6ba-4cc5-8dbc-b1da97bfde7b",
      "name": "Telegram2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        420
      ],
      "credentials": {
        "telegramApi": {
          "id": "mkROGkFhAluNO5je",
          "name": "F&G GrandWest Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "# Set Webhooks - Clever Assets, GrandWest Mall\n## Testing\nhttps://api.telegram.org/bot7910482265:AAE_cMQfj_zK1BX-IoX7pkBuv2x_bC8Byi8/setWebhook?url=https://n8n.visagility.co.za/webhook-test/2e71770b-d293-41d2-a50c-bacba82beef3/webhook\n\n\n## Production\nhttps://api.telegram.org/bot7910482265:AAE_cMQfj_zK1BX-IoX7pkBuv2x_bC8Byi8/setWebhook?url=https://n8n.visagility.co.za/webhook-test/2e71770b-d293-41d2-a50c-bacba82beef3/webhook\n\n\n## Clear and Purge Webhook\nhttps://api.telegram.org/bot7910482265:AAE_cMQfj_zK1BX-IoX7pkBuv2x_bC8Byi8/deleteWebhook?drop_pending_updates=true",
        "height": 558.2648693944202,
        "width": 687.5005796298557
      },
      "id": "6d4792d3-08a6-4c77-8f58-c7166c5241ce",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1220,
        100
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.message.text }}",
        "options": {
          "humanMessage": "TOOLS\n------\nAssistant can ask the user to use tools to look up information that may be helpful in answering the users original question. The tools the human can use are:\n\n{tools}\n\n{format_instructions}\n\nUSER'S INPUT\n--------------------\nHere is the user's input (remember to respond with a markdown code snippet of a json blob with a single action, and NOTHING else):\n\n{{input}}",
          "systemMessage": "=You are a friendly and helpful AI assistant. You are chatting with {{ $json.message.from.first_name }}.\n\nToday is {{ DateTime.fromISO($now).toLocaleString(DateTime.DATETIME_FULL) }}.\n\nYour goal is to assist the user with any queries related to the Grand West Shopping Centre by retrieving relevant information from the Pinecone database. Make sure to respond in a conversational, curteous tone, personalising the message to the user's name.\n\nMake sure to:\n\nPersonalise the conversation by addressing the user by name.\nDeliver the response in a casual, friendly tone.\nInclude the output from the Pinecone data query wrapped within the conversational response.\nLists should be bulleted, and use numbering if applicable."
        }
      },
      "id": "7c6278ca-ac33-446e-b851-83a8e7f895ee",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        580,
        240
      ],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Telegram": {
      "main": [
        [],
        [
          {
            "node": "Correct errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Listen for incoming events": {
      "main": [
        [
          {
            "node": "PreProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "database",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "database": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PreProcessing": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "database",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "errorWorkflow": "0YP0ar9neq5yTIPz"
  },
  "tags": [
    {
      "updatedAt": "2024-10-11T07:29:43.254Z",
      "createdAt": "2024-10-11T07:29:43.254Z",
      "id": "AOYxiUb5DHFbCFkc",
      "name": "agent"
    },
    {
      "updatedAt": "2024-10-16T18:05:59.499Z",
      "createdAt": "2024-10-16T18:05:59.499Z",
      "id": "AiXyhxvT783EEQjK",
      "name": "live"
    },
    {
      "updatedAt": "2024-10-19T06:53:06.112Z",
      "createdAt": "2024-10-19T06:53:06.112Z",
      "id": "EL9hY1aZGtDmtukY",
      "name": "rag"
    },
    {
      "updatedAt": "2024-10-09T16:01:57.106Z",
      "createdAt": "2024-10-09T16:01:57.106Z",
      "id": "SNa1Vw3aUYYz8QRe",
      "name": "working"
    },
    {
      "updatedAt": "2024-10-09T16:08:23.899Z",
      "createdAt": "2024-10-09T16:08:23.899Z",
      "id": "fdV01E9B5XB3kSxT",
      "name": "pinecone"
    },
    {
      "updatedAt": "2024-09-21T19:53:19.299Z",
      "createdAt": "2024-09-21T19:53:19.299Z",
      "id": "sKkwnItsSnVITUWx",
      "name": "telegram"
    }
  ],
  "staticData": null,
  "meta": {
    "templateId": "2035",
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}