workflows/mgXBBXDlQku6AmSa_Mermaid_Generator_from_Gherkin.json
{
  "id": "mgXBBXDlQku6AmSa",
  "name": "Mermaid Generator from Gherkin",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "app6su1ErozWM9yCd",
          "mode": "id"
        },
        "tableId": {
          "__rl": true,
          "value": "tblv7ZPlcaRXGcZy9",
          "mode": "id"
        },
        "triggerField": "Scenario",
        "additionalFields": {
          "formula": ""
        }
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        -460,
        -180
      ],
      "id": "51a487cb-89c3-46fc-931b-412769286dca",
      "name": "Airtable Trigger",
      "credentials": {
        "airtableTokenApi": {
          "id": "tVaQ1sdVsEsGBORY",
          "name": "All bases access"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53d5a962-5403-40c5-b1e6-6786ff4cec51",
              "name": "fields.Scenario",
              "value": "={{ $json.fields.Scenario }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        -180
      ],
      "id": "1bddbde2-dff2-4fcd-b4c4-aa59e2f68bfe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.fields.Scenario }}",
        "messages": {
          "messageValues": [
            {
              "message": "Convert the user prompt written in Gherkin syntax to Mermaid Syntax for a Sequence Diagram. Output only the Mermaid Syntax, nothing else. \n\nthe output should start, for example:\n\n\"sequenceDiagram.."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        580,
        -60
      ],
      "id": "625591b5-f74d-409f-990b-8207580a8c60",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        600,
        180
      ],
      "id": "5086320e-4a30-4249-a6fc-25586abec283",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8053c465-2561-4d42-9c96-acbd333994af",
              "name": "Mermaid Syntax",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        -260
      ],
      "id": "e3b317ff-773f-4d5f-a33a-db6263ce50a8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app6su1ErozWM9yCd",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblv7ZPlcaRXGcZy9",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mmlSyntax": "={{ $json[\"Mermaid Syntax\"] }}",
            "id": "={{ $('Edit Fields').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "userStory",
              "displayName": "userStory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scenario",
              "displayName": "Scenario",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mmlSyntax",
              "displayName": "mmlSyntax",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ADO URL",
              "displayName": "ADO URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1180,
        -260
      ],
      "id": "889cb6d5-d85d-40af-8c35-e6697a61d71e",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "tVaQ1sdVsEsGBORY",
          "name": "All bases access"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7910b49-dbb0-41fd-9598-54c7b8df9e0d",
              "leftValue": "={{ $json.fields.status }}",
              "rightValue": "=Todo",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20,
        -180
      ],
      "id": "63c38aea-a515-4721-a0aa-bbe39c00b454",
      "name": "If"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -240,
        -180
      ],
      "id": "f0405c7e-ed0f-4cdd-97c2-3e3e6a79a5ec",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "tVaQ1sdVsEsGBORY",
          "name": "All bases access"
        }
      }
    }
  ],
  "connections": {
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2024-12-12T16:16:28.430Z",
      "createdAt": "2024-12-12T16:16:28.430Z",
      "id": "44Ax1hMckPeDCwFC",
      "name": "airtable"
    }
  ],
  "staticData": {
    "node:Airtable Trigger": {
      "lastTimeChecked": "2025-12-01T18:25:36Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}