workflows/nAmfgBBxYtAprpIq_KYC_RAG_Database_update.json
{
  "id": "nAmfgBBxYtAprpIq",
  "name": "KYC RAG  Database update",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "13cf46ab-7746-47b4-8e44-44d4b9a392d6",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        420,
        380
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "ddc8137c-2d1d-418c-9366-f4342c4ef6f3",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1800,
        660
      ]
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 50,
        "options": {}
      },
      "id": "f10e0751-8a73-4ad3-befb-47fb295c6966",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1880,
        880
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "ab843fa0-ffd9-4bf2-9feb-5949db85dc0f",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1440,
        660
      ],
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "This loads documents into the pinecone vector store",
        "height": 338.6326767091542,
        "width": 407.74044032444965,
        "color": 5
      },
      "id": "d148a055-60ca-4266-885f-cc2cce5caf92",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        360,
        200
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1dNv2X3Vr_fcP7UrRdGhIm1u9U0_V0CnH",
            "mode": "list",
            "cachedResultName": "kyc_rag",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1dNv2X3Vr_fcP7UrRdGhIm1u9U0_V0CnH"
          }
        },
        "options": {}
      },
      "id": "603be289-ffc3-4fed-acf5-e361794f483d",
      "name": "List Google Drive Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        380
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qgz1I3JePuqgSPkX",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "f9e56cb7-887a-44d8-92c9-a2d76ddf59a6",
      "name": "Get Content",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        860,
        380
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qgz1I3JePuqgSPkX",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "61a1b1da-8fc1-4e93-8437-c1c2d3f21037",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1080,
        380
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "kyc",
          "mode": "list",
          "cachedResultName": "kyc"
        },
        "options": {
          "pineconeNamespace": ""
        }
      },
      "id": "e19d1896-36bd-431f-9066-81f28a1cede4",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1540,
        400
      ],
      "credentials": {
        "pineconeApi": {
          "id": "4YhGmXWhVz5bAAOO",
          "name": "PineconeApi VisibleProjects"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "List Google Drive Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "List Google Drive Files": {
      "main": [
        [
          {
            "node": "Get Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2024-10-09T16:01:57.106Z",
      "createdAt": "2024-10-09T16:01:57.106Z",
      "id": "SNa1Vw3aUYYz8QRe",
      "name": "working"
    },
    {
      "updatedAt": "2024-10-09T16:08:23.899Z",
      "createdAt": "2024-10-09T16:08:23.899Z",
      "id": "fdV01E9B5XB3kSxT",
      "name": "pinecone"
    }
  ],
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}