workflows/QGmpTwn2VL8OoAM9_LLMChain_Learning_with_Leon_Forms.json
{
  "id": "QGmpTwn2VL8OoAM9",
  "name": "LLMChain Learning with Leon (Forms)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {}
      },
      "id": "19c45537-a4dd-4177-832a-dcf9df03c85b",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1680,
        740
      ],
      "credentials": {
        "groqApi": {
          "id": "TeMrq8iV1WCfXr5T",
          "name": "Groq (n8n testing)"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"document_type\": {\n      \"type\": \"string\",\n      \"enum\": [\"fees\", \"preschool\", \"middle_school\", \"high_school\"]\n    }\n  },\n  \"required\": [\"document_type\"]\n}"
      },
      "id": "8018703e-3d30-4d20-9f47-c0bff3f20866",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1880,
        740
      ]
    },
    {
      "parameters": {
        "content": "## Educational\nUsed Postman to test flow for age of student and what school they would go to for document send"
      },
      "id": "9bbcff0a-8817-49cb-a352-3931d678b514",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        320
      ]
    },
    {
      "parameters": {
        "path": "afe522d5-d4ad-4ec0-9bb7-5d687a8b4ada",
        "formTitle": "Information request",
        "formDescription": "We'd like some information about the school",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your Name",
              "requiredField": true
            },
            {
              "fieldLabel": "How old is your child",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "2527187b-6f18-4896-b0c7-5c14d890d83a",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        1240,
        460
      ],
      "webhookId": "afe522d5-d4ad-4ec0-9bb7-5d687a8b4ada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87189fd3-3f93-44ee-9466-990714c63460",
              "name": "request",
              "value": "=My child is {{ $json['How old is your child'] }} years old",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "91cdf9e6-74a6-4c6e-8e94-1e6a8cddfb6d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1460,
        460
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.request }}",
        "hasOutputParser": true
      },
      "id": "6ecc5e59-8d32-4042-96d1-88a422667277",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1680,
        560
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GcuPFdoTYPX6TCf-w-0w5EgXo1ZcKb3brWjGwi-cQw4",
          "mode": "list",
          "cachedResultName": "KM_info_requests",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GcuPFdoTYPX6TCf-w-0w5EgXo1ZcKb3brWjGwi-cQw4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 39360092,
          "mode": "list",
          "cachedResultName": "n8n_test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GcuPFdoTYPX6TCf-w-0w5EgXo1ZcKb3brWjGwi-cQw4/edit#gid=39360092"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Your Name",
              "displayName": "Your Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "How old is your child",
              "displayName": "How old is your child",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "d327aed9-7369-4c7b-a63b-493dfce91780",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2280,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2KUF6rsVQCqaMWZs",
          "name": "api sheet enabled"
        }
      }
    },
    {
      "parameters": {},
      "id": "da73cf33-2025-4720-85eb-a5c2aac8d771",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2060,
        480
      ]
    }
  ],
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2024-10-16T05:23:29.254Z",
      "createdAt": "2024-10-16T05:23:29.254Z",
      "id": "J5aFG3oydYemdI2y",
      "name": "forms"
    },
    {
      "updatedAt": "2024-10-16T05:08:39.647Z",
      "createdAt": "2024-10-16T05:08:39.647Z",
      "id": "aC2EwCxrIVQiVjRG",
      "name": "Leon van zyl"
    }
  ],
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}