workflows/qIt1wJFlACJG23Og_Google_Sheets_Tutorial_-_filters_etc.json
{
  "id": "qIt1wJFlACJG23Og",
  "name": "Google Sheets Tutorial - filters etc",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "5511778d-d631-4344-8e9b-cc300d6d0c62",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        800,
        340
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BeBg3nP43QypLUTdlgTNOYFR22zGxdHkx8kIaAd_2Vg",
          "mode": "list",
          "cachedResultName": "n8n sample data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BeBg3nP43QypLUTdlgTNOYFR22zGxdHkx8kIaAd_2Vg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BeBg3nP43QypLUTdlgTNOYFR22zGxdHkx8kIaAd_2Vg/edit#gid=0"
        },
        "options": {}
      },
      "id": "4b8eeba6-2274-41c4-85ef-e00d83fe6318",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1020,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Pf6xFAnAFTm4M64e",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6bbbbb0c-517a-4b36-a308-7e389c0c4f55",
              "name": "full name",
              "value": "={{ $json['First Name'] }} {{ $json['Last Name'].toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "95a46500-a31d-49df-ac1c-79c8b83252b9",
              "name": "Email Address",
              "value": "={{ $json['Email Address'] }}",
              "type": "string"
            },
            {
              "id": "e9491599-fb06-4c48-9768-c570c3b47555",
              "name": "Company",
              "value": "={{ $json['Company Name'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "82b76be5-e387-4fdc-811c-a5f635c2a5eb",
      "name": "Add 'full name' field",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        340
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "4f00d109-661e-4b27-a8be-cd1e2d9c63c9",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        800,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c861a276-eba5-4633-8f58-1ead5b0ddf49",
              "leftValue": "={{ $json['Email Address'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "429ca0d9-b67e-4d67-ad52-65ffd9e496f9",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1420,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "29808a48-864d-4a49-82f6-5557550b89dc",
              "leftValue": "={{ $json['Email Address'] }}",
              "rightValue": "@gmail",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "12bc2f8a-87af-41df-b433-0fc0863129cb",
              "leftValue": "={{ $json['Email Address'] }}",
              "rightValue": "@yahoo",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "2e7060d1-0baf-4dc6-a354-7cf09ae09728",
              "leftValue": "={{ $json['Email Address'] }}",
              "rightValue": "@hotmail",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "06043508-d763-4b91-a0d3-64a8ddf5d127",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1860,
        520
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "165911e6-8d32-4ca4-9f59-10ff99e8c10f",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1860,
        140
      ]
    },
    {
      "parameters": {},
      "id": "344476a0-3c92-4e73-94e5-1c6b2b55d394",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2260,
        420
      ]
    },
    {
      "parameters": {},
      "id": "d4dbcb37-4e69-4141-895a-b5d00d86cf86",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2260,
        680
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Email Address",
              "renameField": true,
              "outputFieldName": "Email"
            },
            {
              "fieldToAggregate": "Company"
            }
          ]
        },
        "options": {}
      },
      "id": "972c63a7-432a-4196-af8b-9df51ca247b5",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2580,
        360
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07JL6XCTPE",
          "mode": "list",
          "cachedResultName": "general-chat"
        },
        "text": "=The following mails have been collected: \n{{ $json.Email }}",
        "otherOptions": {}
      },
      "id": "23e1cdec-1b1b-465d-89d6-08789413c54c",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2800,
        360
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "MeJ2iDUbFiP9r7WO",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "@chadwilliams ",
        "text": "Hi there",
        "additionalFields": {}
      },
      "id": "75eb476b-0393-4ebe-9b29-003e062926ed",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        60
      ],
      "credentials": {
        "telegramApi": {
          "id": "Z2vI9Uxu8Ka2W3Uj",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Add 'full name' field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add 'full name' field": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}