workflows/ShDAncbJleUDNe4h_Clever_Mall_RAG_Database_update.json
{
  "id": "ShDAncbJleUDNe4h",
  "name": "Clever Mall RAG  Database update",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "2b57edd6-9d8c-4ef2-b4e9-5c2531e8fe14",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        260
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "b10dd876-400c-4d71-a50e-d4713168489a",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1660,
        660
      ]
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "options": {}
      },
      "id": "516b1ffb-4f11-4a90-a200-360c87e1a561",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1660,
        860
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "b798e35c-f14d-4a83-83b8-aeaaa0fcff78",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1440,
        660
      ],
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "5762afd5-a251-449f-8893-f07d228a2ebf",
      "name": "Get Content",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        860,
        380
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ck9B8Sv8l6LttcsS",
          "name": "CleverAssets Google Drive"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "370472f3-a0a9-41c8-8df8-6023ec19ecd6",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1080,
        380
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1QG3ekrNr1FiqVJf_7Rvga8dcylfQ719I",
            "mode": "list",
            "cachedResultName": "cleverMall-rag",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1QG3ekrNr1FiqVJf_7Rvga8dcylfQ719I"
          }
        },
        "options": {}
      },
      "id": "589f48bb-752a-4b65-a763-6dc0d0beeba4",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        600,
        380
      ],
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ck9B8Sv8l6LttcsS",
          "name": "CleverAssets Google Drive"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "clever-assets",
          "mode": "list",
          "cachedResultName": "clever-assets"
        },
        "options": {
          "pineconeNamespace": "cleverMall-rag"
        }
      },
      "id": "67c176c7-2226-4e66-b489-9bcf9b9275c2",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1540,
        400
      ],
      "credentials": {
        "pineconeApi": {
          "id": "4YhGmXWhVz5bAAOO",
          "name": "PineconeApi VisibleProjects"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1QG3ekrNr1FiqVJf_7Rvga8dcylfQ719I",
          "mode": "list",
          "cachedResultName": "cleverMall-rag",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1QG3ekrNr1FiqVJf_7Rvga8dcylfQ719I"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        320,
        500
      ],
      "id": "3db8bce1-2b32-458d-ad9f-41fd50508df9",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ck9B8Sv8l6LttcsS",
          "name": "CleverAssets Google Drive"
        }
      }
    }
  ],
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Get Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-03-11T15:18:17.741Z",
      "createdAt": "2025-03-11T15:18:17.741Z",
      "id": "L1Yiu8KUhjsC3Jg2",
      "name": "Google Drive"
    },
    {
      "updatedAt": "2024-10-09T16:01:57.106Z",
      "createdAt": "2024-10-09T16:01:57.106Z",
      "id": "SNa1Vw3aUYYz8QRe",
      "name": "working"
    },
    {
      "updatedAt": "2024-10-09T16:08:23.899Z",
      "createdAt": "2024-10-09T16:08:23.899Z",
      "id": "fdV01E9B5XB3kSxT",
      "name": "pinecone"
    }
  ],
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-12-16T05:52:40Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}