workflows/UX42Vp7On49O0TZM_Gateway_Receiver_Self-Hosted.json
{
  "id": "UX42Vp7On49O0TZM",
  "name": "🌐 Gateway Receiver (Self-Hosted)",
  "active": false,
  "nodes": [
    {
      "id": "trigger-1",
      "name": "Gateway Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gateway-receiver",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "if-1",
      "name": "Validate Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $request.headers['x-gateway-secret'] }}",
              "rightValue": "={{ $env.GATEWAY_SECRET || 'change-me' }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "code-1",
      "name": "Extract Original Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "jsCode": "// Extract the original request forwarded from Cloud\nconst payload = $input.first().json.body;\n\nreturn {\n  json: {\n    originalHeaders: payload.headers,\n    originalQuery: payload.query,\n    originalBody: payload.body,\n    originalParams: payload.params,\n    originalPath: $input.first().json.headers['x-original-path'],\n    originalMethod: $input.first().json.headers['x-original-method'],\n    receivedAt: new Date().toISOString()\n  }\n};"
      }
    },
    {
      "id": "switch-1",
      "name": "Route by Service",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.originalPath }}",
        "rules": {
          "values": [
            {
              "outputKey": "stripe",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.originalPath }}",
                    "rightValue": "stripe",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "shopify",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.originalPath }}",
                    "rightValue": "shopify",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "default",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ true }}",
                    "rightValue": "={{ true }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"received\": true, \"path\": \"{{ $json.originalPath }}\"}",
        "options": {}
      }
    },
    {
      "id": "respond-401",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\": \"Unauthorized\"}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "sticky-1",
      "name": "How to Use",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -150
      ],
      "parameters": {
        "content": "## Gateway Receiver\n\n**Purpose:** Receives webhooks forwarded from n8n Cloud.\n\n**Setup:**\n1. Set GATEWAY_SECRET env var (same as Cloud)\n2. Add your processing logic after the Switch node\n3. Activate this workflow\n\n**Extend:**\n- Add more routes in Switch node\n- Connect to your processing workflows\n- Add logging/monitoring",
        "width": 300,
        "height": 230
      }
    }
  ],
  "connections": {
    "Gateway Receiver": {
      "main": [
        [
          {
            "node": "Validate Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Secret": {
      "main": [
        [
          {
            "node": "Extract Original Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Original Request": {
      "main": [
        [
          {
            "node": "Route by Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Service": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [],
  "staticData": null,
  "meta": {},
  "pinData": {}
}