workflows/vai201hzfYyh2nML_Clever_Connections_-_Data_Cleanup.json
{
  "id": "vai201hzfYyh2nML",
  "name": "Clever Connections - Data Cleanup",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        256,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "18HZr_V9LE8R2klHee00K3T96GfvfQcI8puOZHY2SWUg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "options": {}
      },
      "id": "read_sheets",
      "name": "Read Leads Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        464,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EMycuXif3kCAGGin",
          "name": "Clever Assets Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process each lead row\nconst results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  \n  // Generate UUID\n  const id = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n  \n  // Split full_name into first_name and last_name\n  const fullName = data.full_name || '';\n  const nameParts = fullName.trim().split(/\\s+/);\n  const firstName = nameParts[0] || '';\n  const lastName = nameParts.slice(1).join(' ') || '';\n  \n  // Normalize phone number\n  let phone = String(data.phone_number || '');\n  // Remove 'p:+' prefix if present\n  phone = phone.replace(/^p:\\+?/, '');\n  // Remove any non-digit characters\n  phone = phone.replace(/\\D/g, '');\n  // Ensure starts with 27 (South Africa)\n  if (phone.startsWith('0')) {\n    phone = '27' + phone.substring(1);\n  } else if (!phone.startsWith('27') && phone.length === 9) {\n    phone = '27' + phone;\n  }\n  \n  results.push({\n    json: {\n      ...data,\n      id: id,\n      first_name: firstName,\n      last_name: lastName,\n      phone_normalized: phone,\n      campaign_status: 'pending',\n      sequence_step: 0,\n      last_message_sent: '',\n      next_followup_due: '',\n      needs_human: 'FALSE',\n      dom_notified: 'FALSE',\n      notes: '',\n      row_number: item.json.row_number\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "transform_data",
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        304
      ]
    },
    {
      "parameters": {
        "batchSize": 40,
        "options": {}
      },
      "id": "split_batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        304
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "18HZr_V9LE8R2klHee00K3T96GfvfQcI8puOZHY2SWUg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "id": "={{ $json.id }}",
            "first_name": "={{ $json.first_name }}",
            "last_name": "={{ $json.last_name }}",
            "phone_normalized": "={{ $json.phone_normalized }}",
            "campaign_status": "={{ $json.campaign_status }}",
            "sequence_step": "={{ $json.sequence_step }}",
            "last_message_sent": "={{ $json.last_message_sent }}",
            "next_followup_due": "={{ $json.next_followup_due }}",
            "needs_human": "={{ $json.needs_human }}",
            "dom_notified": "={{ $json.dom_notified }}",
            "notes": "={{ $json.notes }}",
            "row_number": 0
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "what_industry_do_you_work_in?",
              "displayName": "what_industry_do_you_work_in?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone_number_verified",
              "displayName": "phone_number_verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Deal",
              "displayName": "Deal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_normalized",
              "displayName": "phone_normalized",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_status",
              "displayName": "campaign_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sequence_step",
              "displayName": "sequence_step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_message_sent",
              "displayName": "last_message_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_followup_due",
              "displayName": "next_followup_due",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "needs_human",
              "displayName": "needs_human",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dom_notified",
              "displayName": "dom_notified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "update_sheets",
      "name": "Update Leads Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1072,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EMycuXif3kCAGGin",
          "name": "Clever Assets Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "wait_node",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1264,
        304
      ],
      "webhookId": "16108a62-7fa1-47d9-bd04-036e922caac0"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Leads Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads Sheet": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Update Leads Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Leads Sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [],
  "staticData": null,
  "meta": {},
  "pinData": {}
}