workflows/VHlLfMCRERWa6RVE_CA_-_Parse_PDF_Tool.json
{
  "id": "VHlLfMCRERWa6RVE",
  "name": "CA - Parse PDF Tool",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1e1wk8ogaQIwOR93AIMJ4H24On5GZ173U",
          "mode": "list",
          "cachedResultName": "LlamaParse Samples",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1e1wk8ogaQIwOR93AIMJ4H24On5GZ173U"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        20,
        -200
      ],
      "id": "b326b62c-2739-4f8a-b4a4-18f72695250e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ck9B8Sv8l6LttcsS",
          "name": "CleverAssets Google Drive"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/10-qZSdqtg7F-Mj0ElGnlTiY9i2vWNuTu/view?usp=sharing",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "d2986f95-0d89-4cb1-9601-122c29c642a7",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ck9B8Sv8l6LttcsS",
          "name": "CleverAssets Google Drive"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        0
      ],
      "id": "a2aba5ff-b5c1-4f6b-a13f-0338144d864f",
      "name": "Wait",
      "webhookId": "65503bb4-1723-44ee-a61f-f7c9c12c11f3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bc41da1a-1baf-4ce3-bca7-8cdb8d617c71",
              "leftValue": "={{ $('Wait').item.json.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1180,
        0
      ],
      "id": "20fbe158-f3cf-4805-96b4-7e2a36edb362",
      "name": "If Parsing Successful"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $('Submit Job for Parsing').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        0
      ],
      "id": "e9122ec4-9fc6-43e3-afb4-30acd4f34959",
      "name": "Check Parsing Progress",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xIM0srGzuvY5Fgvz",
          "name": "LlamaParse Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "3602b08d-de3f-497c-bb72-49ecda9f4999",
      "name": "Submit Job for Parsing",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xIM0srGzuvY5Fgvz",
          "name": "LlamaParse Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $('Submit Job for Parsing').item.json.id }}/result/markdown",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        -20
      ],
      "id": "54d1cfa9-6b9c-4517-a2cf-d0e5771472af",
      "name": "Download Markdown (Parsed) Document",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xIM0srGzuvY5Fgvz",
          "name": "LlamaParse Auth"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.markdown }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"proposalDate\": \"2023-10-30\",\n  \"lessor\": {\n    \"name\": \"Changing Tides 91 (Pty) Ltd\",\n    \"tradingName\": \"BOARDWALK MALL\",\n    \"consortiumDetails\": null\n  },\n  \"lessee\": {\n    \"name\": \"LEGENDS BARBERSHOP AND PROJECTS (Pty) Ltd\",\n    \"tradingName\": \"LEGENDS BARBERSHOP\"\n  },\n  \"premises\": {\n    \"shopNumber\": \"SH10L040A\",\n    \"area\": \"64 square meters\",\n    \"location\": {\n      \"address\": \"Beach Road, Summerstrand, Gqeberha\",\n      \"erven\": \"Erven 3456 and 3458\",\n      \"city\": \"Gqeberha\",\n      \"province\": \"Eastern Cape\",\n      \"postalCode\": \"6019\",\n      \"road\": null,\n      \"suburb\": null\n    }\n  },\n  \"existingLeaseAgreement\": \"dated 1 April 2022\",\n  \"renewalTerm\": 3,\n  \"proposedRenewalTerms\": {\n    \"leasePeriod\": {\n      \"commencementDate\": \"2025-04-01\",\n      \"terminationDate\": \"2028-03-31\"\n    },\n    \"permittedUse\": \"Barbershop\",\n    \"rental\": {\n      \"monthlyRental\": 18662.40,\n      \"annualEscalationRate\": 0.08,\n      \"paymentLiability\": null\n    },\n    \"deposit\": {\n      \"topUpAmount\": 33120.00,\n      \"totalDepositHeld\": null\n    },\n    \"otherTerms\": \"All business conducted in compliance with the House Rules\"\n  },\n  \"negotiationPoints\": [],\n  \"nextSteps\": [],\n  \"disclaimer\": \"This proposal is subject to negotiation\"\n}\n",
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value.\n\nYour purpose is to extract the content required to generate a new lease document"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1760,
        -20
      ],
      "id": "651590c4-30a1-4e5d-9395-8e2f97353f7d",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1660,
        200
      ],
      "id": "7e980ff9-a0a2-46dd-ac4f-cb2944b3db9a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nqrhFGUWwy6HdEUN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "lease_agreements",
          "mode": "list",
          "cachedResultName": "lease_agreements"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lessor_company_name": "={{ $json.output.Lessor.Name }}",
            "lessor_trading_as": "={{ $json.output.Lessor.TradingAs }}",
            "approximate_area": "={{ $json.output.Premises.Area }}",
            "shop_number": "={{ $json.output.Premises.Description }}",
            "premises_address": "={{ $json.output.Premises.Location.PhysicalAddress }}",
            "lessee_company_name": "={{ $json.output.Lessee.Name }}",
            "lessee_trading_as": "={{ $json.output.Lessee.TradingAs }}",
            "commencement_date": "={{ $json.output.LeaseTerms.CommencementDate }}",
            "termination_date": "={{ $json.output.LeaseTerms.TerminationDate }}",
            "deposit": "=",
            "monthly_rental": "={{ $json.output.LeaseTerms.MonthlyRental.H['2025-01-01_to_2025-03-31'] }}",
            "lessor_registration_number": "={{ $json.output.Lessor.RegistrationNumber }}",
            "lessor_representative_name": "={{ $json.output.Lessor.Representative }}",
            "lessee_registration_number": "={{ $json.output.Lessee.RegistrationNumber }}",
            "lessee_representative_name": "={{ $json.output.Lessee.Representative }}",
            "beneficial_occupation_period": "={{ $json.output.LeaseTerms.BeneficialOccupationPeriod }}",
            "turnover_rental": "={{ $json.output.LeaseTerms.TurnoverRental.ApplicableRates['From2023-01-01_to_2025-03-31'] }}",
            "lessor_domicilum": "={{ $json.output.ContactDetails.Lessor.PhysicalAddress }}",
            "lessee_domicilum_address": "={{ $json.output.ContactDetails.Lessee.PhysicalAddress }}",
            "lessee_domicilum_email": "={{ $json.output.ContactDetails.Lessee.Email }}",
            "lessee_domicilum_contact": "={{ $json.output.ContactDetails.Lessee.CellPhone }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lessor_company_name",
              "displayName": "lessor_company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lessor_registration_number",
              "displayName": "lessor_registration_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lessor_trading_as",
              "displayName": "lessor_trading_as",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lessor_representative_name",
              "displayName": "lessor_representative_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lessor_representative_registration",
              "displayName": "lessor_representative_registration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lessee_company_name",
              "displayName": "lessee_company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lessee_registration_number",
              "displayName": "lessee_registration_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lessee_trading_as",
              "displayName": "lessee_trading_as",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lessee_representative_name",
              "displayName": "lessee_representative_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lessee_representative_position",
              "displayName": "lessee_representative_position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "shop_number",
              "displayName": "shop_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approximate_area",
              "displayName": "approximate_area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "premises_address",
              "displayName": "premises_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "commencement_date",
              "displayName": "commencement_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "termination_date",
              "displayName": "termination_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "beneficial_occupation_period",
              "displayName": "beneficial_occupation_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deposit",
              "displayName": "deposit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "minimum_business_hours",
              "displayName": "minimum_business_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "monthly_rental",
              "displayName": "monthly_rental",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "turnover_rental",
              "displayName": "turnover_rental",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "lessor_domicilum",
              "displayName": "lessor_domicilum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lessee_domicilum_address",
              "displayName": "lessee_domicilum_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lessee_domicilum_contact",
              "displayName": "lessee_domicilum_contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lessee_domicilum_email",
              "displayName": "lessee_domicilum_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "annexures",
              "displayName": "annexures",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2120,
        -20
      ],
      "id": "61c822da-9ec5-4e7d-9132-8d044aed52aa",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "eMHqe3tBWaf672Q3",
          "name": "CleverAssets Google Account Free"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9147ee2a-f577-4b13-9b75-874333b0f01c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        20,
        200
      ],
      "id": "b466e4c0-da5b-497a-85ce-792c01e76076",
      "name": "Webhook",
      "webhookId": "9147ee2a-f577-4b13-9b75-874333b0f01c",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        20,
        0
      ],
      "id": "45aa26dd-2430-4fc6-a43c-9106d57fa97a",
      "name": "When clicking ‘Test workflow’"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        []
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Submit Job for Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Parsing Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Parsing Successful": {
      "main": [
        [
          {
            "node": "Download Markdown (Parsed) Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Parsing Progress": {
      "main": [
        [
          {
            "node": "If Parsing Successful",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Job for Parsing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Markdown (Parsed) Document": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-03-11T15:18:17.741Z",
      "createdAt": "2025-03-11T15:18:17.741Z",
      "id": "L1Yiu8KUhjsC3Jg2",
      "name": "Google Drive"
    },
    {
      "updatedAt": "2025-04-16T04:15:49.056Z",
      "createdAt": "2025-04-16T04:15:49.056Z",
      "id": "fuRZBDB2j6ilrOpU",
      "name": "ocr"
    },
    {
      "updatedAt": "2025-03-13T09:50:52.190Z",
      "createdAt": "2025-03-13T09:50:52.190Z",
      "id": "ixYyX1jT7OG0pWwD",
      "name": "llamaparse"
    }
  ],
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Download Markdown (Parsed) Document": [
      {
        "json": {
          "markdown": "  TK\nA   M NT   A\n---\n# I N D E X\n\n# INTERPRETATION AND DEFINITIONS\n\n# PREMISES\n\n# LEASE PERIOD\n\n# RENEWAL PERIOD\n\n# PERMITTED USE\n\n# RENTAL\n\n# ANNUAL TURNOVER RENTAL\n\n# DEPOSIT\n\n# ELECTRICITY, GAS, WATER AND OTHER CHARGES PAYABLE BY LESSEE\n\n# RATES AND TAXES\n\n# COMMON AREAS, JOINT FACILITIES AND ACCESS TO THE BUILDING\n\n# MARKETING COSTS\n\n# MONTHLY STATEMENT OF TURNOVER\n\n# DEFECTS\n\n# COMPLIANCE WITH LAWS AND TITLE DEEDS\n\n# ALTERATIONS AND ADDITIONS\n\n# SIGNAGE\n\n# LESSOR'S RIGHT TO ADD TO BUILDING\n\n# MAINTENANCE\n\n# LESSOR'S RIGHT OF ENTRY\n\n# GLASS; WINDOW PANELS AND SHOP FRONTS\n\n# FIRE HAZARDS\n\n# FAILURE OF SERVICES\n\n# EXCLUSION OF LESSOR'S LIABILITY FOR DAMAGES\n\n# EXCLUSION OF CLAIMS AND RIGHT TO WITHHOLD RENTAL\n\n# SERVICES\n\n# PARKING\n\n# LOADING ZONES\n\n# LESSEE'S GENERAL OBLIGATIONS\n\n# RIGHT OF INSPECTION AND EXHIBITION OF NOTICES\n\n# ADVERTISING SIGNS\n\n# DAMAGE TO OR DESTRUCTION OF PREMISES OR BUILDING\n\n# RE-BUILDING\n\n# RELOCATION\n\n# BREACH BY LESSEE\n\n# COVENANT IN THE EVENT OF BUSINESS RESCUE\n\n# INITIAL HERE\n---\n# 36. LEGAL COSTS AND OUTSTANDING PAYMENTS\n\n# 37. PAYMENT OF RENTAL IF CANCELLATION DISPUTED\n\n# 38. APPROPRIATION OF PAYMENTS\n\n# 39. LESSEE AS A COMPANY CLOSE CORPORATION\n\n# 40. LIABILITY OF PARTNERS\n\n# 41. ASSIGNMENT; SUB-LETTING AND SALE OF BUSINESS\n\n# 42. REASONABLENESS OF WITHHOLDING CONSENT\n\n# 43. JURISDICTION OF MAGISTRATES COURTS\n\n# 44. NOTICES\n\n# 45. ADMINISTRATION CHARGES AND STAMP DUTY\n\n# 46. AGENTS COMMISSION\n\n# 47. EXCLUSION OF ESTOPPEL AND NON-RELAXATION AND NON-INDULGENCE\n\n# 48. SEVERABILITY\n\n# 49. VALUE ADDED TAX (\"VAT\")\n\n# 50. WHOLE AGREEMENT\n\n# 51. GUARANTIES\n\n# 52. SALE OF BUILDING PROPERTY\n\n# 53. TRANSFER OF OWNERSHIP\n\n# 54. ~BebI--Order\n\n# 55. CREDIT BUREAU\n\n# 56. FICA REQUIREMENTS\n\n# 57. CONSUMER PROTECTION ACT 68 OF 2008 (\"CPA\") AND PROTECTION OF PERSONAL INFORMATION ACT 4 OF 2013 (\"POPIA\")\n\nINITIAL HERE\n---\n ayouu de\n             pe\nog\n                g2\n---\n# 1.1 Definitions\n\n1.1.7 \"the Common Areas\" means those portions of the Building and the Property not designed or intended to form part of the gross lettable area of the Building including, but without derogating from the generality of the aforegoing, lifts, staircases, escalators, gardens, toilets, loading zones, parking areas, service roads, kitchens, malls, passages, service corridors and yards: Nothing contained in this definition shall be construed as imposing any obligation on the LESSOR to provide any such conveniences as are specifically mentioned above, unless stipulated otherwise in this agreement;\n\n1.1.8 \"the Design Consultant\" means the design consultant from time to time nominated and appointed by the LESSOR;\n\n1.1.9 \"the House Rules\" means the rules as published by BOARDWALK MALL Management from time to time for the tenants in the SHOPPING CENTRE, copy of the initial House Rules attached hereto as Annexure C;\n\n1.1.10 \"the Lease Period\" means the period set as set out in Clause C of the Schedule;\n\n1.1.11 \"the Lease\" means this Agreement of Lease and the Annexures attached thereto;\n\n1.1.12 \"the Prime Rate\" means the publicly quoted prime overdraft rate of interest from time to time published by the \"LESSOR'S bankers\" as being its prime overdraft rate as certified by any manager of that bank, whose appointment and designation need not be proved;\n\n1.1.13 \"the PROPERTY\" means part of section/s designated for retail use (known as 35 Boardwalk Mall) in the sectional title scheme known as \"Boardwalk\" situated on Erven 3456 and 3458 Beach Road, Summerstrand, Gqeberha; in the province of the Eastern Cape; 6019. And any other additional erf upon which the SHOPPING CENTRE is situated;\n\n1.1.14 \"Pro rata share\" means the ratio which the rentable floor area of the leased premises bears to the total rentable floor area of the property from time to time, in order to derive the aforesaid ratio, the rentable floor areas of the leased premises and of the property respectively shall be determined by using the SAPOA Method of Measuring Floor Areas in Commercial Buildings;\n\n1.1.15 \"Schedule\" means The Schedule to the Agreement of Lease;\n\nINITIAL HERE\n---\n# 1. Definitions\n\n# 1.1.16.\n\n\"the SHOPPING CENTRE\" means BOARDWALK MALL and all the landscaped areas, parking areas, roadways and common areas on the Property;\n\n# 1.1.17.\n\n\"termination date\" the date on which this Lease, which for purposes hereof includes any extensions or renewals hereof; expires or is terminated.\n\n# 1.2.\n\nUnless inconsistent with the context, words relating to one gender shall include the other gender, words relating to the singular shall include the plural and vice versa and words relating to natural persons shall include juristic persons and vice versa. Wherever the LESSOR or LESSEE is referred to it shall include the authorised representatives of the LESSOR and the LESSEE. A copy of Resolution containing such authorization is attached hereto marked Annexure \"D\" alternatively, possession of the person/s signing this Agreement of Lease; failing the existence of such authorization, it be regarded that such signatory(ies) signed the Agreement of Lease in their personal capacity.\n\n# 1.3.\n\nHeadings are used for reference and convenience only; and do not affect the interpretation of this Lease.\n\n# 1.4.\n\nThis Agreement shall, upon being duly signed by the parties; replace the Offer to Lease in its entirety.\n\n# 2. PREMISES\n\n# 2.1.\n\nThe LESSOR hereby lets to the LESSEE, which hires the Premises described in Clause A of the Schedule, with the approximate rentable area as described therein;\n\n# 2.2.\n\nUpon completion of the premises, the LESSOR may at its sole election choose to provide an Architect's Certificate in respect of the rentable area of the Premises and should such measurement vary by 5% (five percent) or more from the area stipulated in Clause A of the Schedule, then an adjustment shall be made to this Agreement of Lease by way of an Addendum to be signed by both parties or their duly authorised representatives.\n\n# 2.3.\n\nThe LESSOR is responsible to obtain an Occupation Certificate for the building.\n\n# 2.4.\n\nThe LESSEE shall at its cost and prior to the Commencement Date procure an Occupation Certificate for the leased premises, Certificate of Electrical Compliance and any other license, certificate, consent or grant required to conduct its Business at the Commencement Date from the Premises;\n\n# 2.5.\n\nThe hire or reservation of parking space is to be agreed upon separately between the parties.\n\n# 2.6.\n\nAny reasonable structural requirement such as columns shall be accommodated within the Premises. Any discrepancy between the area so measured and the area stated in this Clause 2 shall not entitle the Lessee to cancel the Agreement of Lease.\n\nINITIAL HERE\n---\n# LEASE PERIOD\n\n# 3.1\n\nThe Lease shall be for the period as stated in Clause C of the Schedule.\n\n# 3.2\n\nThe LESSEE shall be allowed access to the PREMISES for purposes of attending to shopfitting and related matters for a period of days prior to the commencement date, the Beneficial Occupation Period, as stated in Clause D of the schedule, but the LESSOR shall have the right to determine the time and manner of such access. The LESSEE shall not inconvenience the contractor or cause any delay to building works. The Lessee undertakes to commence with the actual and physical fit-out of the premises within 5 (five) days after being granted access to the premises. The Lessee acknowledges that this is a material term of the lease and should this not be adhered to then the Lessee is in breach of lease.\n\n# 3.3\n\nIf for any reason whatsoever the LESSOR shall be unable to make the PREMISES available to the LESSEE on the beneficial occupation date, the LESSEE shall nevertheless be bound and hereby undertakes to accept occupation upon such later date as the LESSOR may advise the LESSEE in writing that the PREMISES shall be available for such occupation. In the event of such delay, the period of the Lease shall remain and the date of commencement and termination of the Lease shall be extended accordingly. The LESSEE shall not be entitled to claim damages or cancellation of the Lease by reason of the delay in obtaining such occupation and commencement.\n\n# 3.4\n\nIf in the LESSOR'S sole opinion the LESSEE is unlikely to complete the signage, shopfronts, decor and any other works so that the PREMISES shall be complete and ready for trading within 14 (fourteen) calendar days calculated from the commencement date, then the LESSOR shall be entitled to execute such works on behalf of the LESSEE as it may deem fit and charge the LESSEE the cost thereof plus 20% (twenty percent) together with consultant's fees on a time basis, as shall be certified by the LESSOR'S Architect, which shall be accepted by the LESSEE as being correct and the LESSEE shall thereupon accept the PREMISES as provided by the LESSOR.\n\n# 3.5\n\nShould the LESSEE remain in occupation of the premises after the termination date or if the LESSEE vacates the lease premises, however the LESSEE failed to reinstate the leased premises, or did not reinstate the leased premises to the satisfaction of the LESSOR, then unless and to the extent that the parties have concluded a written agreement to the contrary, the agreement shall continue on a monthly basis, as such upon such terms, conditions and securities as applicable immediately prior to the termination date; save to record that:\n\n# 3.5.1\n\nThe rental and operating costs shall escalate at the rate of 20% (twenty percent) per annum compounded, with effect from the first day following the termination date;\n\nINITIAL HERE\n---\nsty diffe_                             gree       Le\n---\n# 5.4.\n\nThe LESSEE shall carry on in the PREMISES a business of high standing and in any event of no lesser standing and standard than those of the other tenants in the SHOPPING CENTRE so as to maintain the class and standing of the SHOPPING CENTRE:\n\n# 5.5.\n\nThe LESSEE shall not operate in the PREMISES a wholesale factory outlet or, co-operative store; a secondhand store; an Army, Navy or Government surplus store:\n\n# 5.6.\n\nThe LESSEE shall not conduct on the PREMISES any auction, fire, closing down, insolvency or liquidation sales or display any sale notices on the shopfront windows of the PREMISES or anywhere else in the SHOPPING CENTRE.\n\n# 5.7.\n\nThe LESSEE may not display, sell merchandise, allow carts, tables, trestles, chairs, signs, devices or any other objects to be stored or to remain outside the PREMISES.\n\n# 5.8.\n\nThe LESSEE shall not conduct any trade or display any of its goods or products or similar items outside the premises without the LESSOR'S prior written consent; The LESSEE hereby consents to the removal by the LESSOR or its agents, at the LESSEE'S expense, of any goods or products traded or used for trading in breach of the provisions of this Clause.\n\n# 5.9.\n\nThe LESSOR does not warrant that the premises are fit for the purpose for which they are let or for any other purpose whatsoever that the LESSEE shall be granted a license permit in respect of the premises for the conduct of the business of the LESSEE, or that any license or permit granted shall be renewed, and there shall be no obligation on the LESSOR to do any work or make any alterations or repairs to the premises to comply with the requirements of any licensing or other authority. The LESSOR shall not, however, unreasonably withhold its consent to the LESSEE doing such work, repairs or alterations at the LESSEE'S own cost and expense; provided that the LESSOR shall be entitled to require such work or alteration to be effected subject to the written approval of the LESSOR'S architect and that the fees thereof be paid by the LESSEE; upon completion of such works the LESSEE shall be obliged to procure all necessary certificates of compliance including but not limited to an Electrical Certificate of Compliance for any works done to the premises.\n\n# 5.10\n\nThe Lessee shall be solely responsible for complying with the requirements of any authority, local or otherwise, in connection with the Lessee's business to be conducted in the Premises and any license required therefor; and the Lessee shall satisfy and bear the costs of all alterations and/or fittings required therein.\n\n# RENTAL\n\n# 6.1. Commencement of Rental\n\n# 6.1.1.\n\nThe monthly rental payable by the LESSEE to the LESSOR shall commence on the commencement date and shall be payable monthly in advance by not later than the first day of each month, free of exchange; without deduction, set-off.\n\nINITIAL HERE\n---\n# 10\n\nor demand, at any such address as may be designated from time to time in writing by the LESSOR; provided that should the LESSEE commence trading on any date prior to the commencement date, then a pro rata share of rental based upon the number of days during which the LESSEE shall have traded prior to the commencement date and calculated at the rate set in Clauses H, % and the Schedule shall be payable by not later than the commencement date.\n\n# 6.2\n\nNotwithstanding the provisions of this Agreement, if the commencement date is not the 15 (first) day of a calendar month; a pro-rata amount of rental and other charges due in terms of this Lease shall be payable by the LESSEE;\n\n# 6.3\n\nDuring the beneficial occupation period the LESSEE will not be liable to the LESSOR for the payment of rent, but shall be liable for all municipal and utility charges consumed in the premises, rates, taxes and other imposts in terms of this Agreement. In addition, the LESSEE will be liable for any and all costs of diesel and or other fuel necessarily consumed in the running of any standby electric plant that the LESSOR may at its discretion install in the building. The LESSEE will also be liable for any cost incurred in the recycling of waste and water.\n\n# 6.4\n\n# Annual Rental\n\n# 6.4.1\n\nFor the purpose of this Lease the words \"lease year\" means a period of 12 (twelve) consecutive calendar months; The first lease year shall commence on the date on which this Lease commences if such date is the first day of a calendar month; if not, then the first lease year shall commence on the first day of the month following that in which this Lease commences;\n\n# 6.5\n\nThe annual rental payable for the PREMISES in respect of any lease year shall be the greater of:\n\n# 6.5.1\n\nthe total of the monthly rentals for each year as set out in Clause H of the Schedule; and\n\n# 6.5.2\n\nthe LESSEE'S annual turnover rental as set out in Clause L of the Schedule for that particular lease year;\n\nplus an amount equivalent to the value added tax at the prescribed rate from time to time payable by the LESSEE and which value added tax amount shall be paid together with the annual rental:\n\n# ANNUAL TURNOVER RENTAL\n\n# 7.1\n\nDefinition of \"Net Annual Turnover\"\n\nINITIAL HERE\n---\n# 11\n\nFor the purposes hereof, the expression \"net annual turnover\" shall mean in regard to any annual period, the net selling price whether: for cash, on terms of credit; hire purchase (excluding interest, finance and other like charges and any tax imposition levied in connection with the sale of goods) of all goods sold and services rendered by the LESSEE and or any licensee, concessionaire or sub-lessee including all orders taken or received at the PREMISES whether such orders be executed from the PREMISES or elsewhere; and of all goods sold and services rendered from the PREMISES and which have resulted from an order taken or received via the Internet site of BOARDWALK MALL, the LESSOR, its agents or the internet site of the LESSEE, provided that each sale on installment or credit shall be treated as a sale for the full net selling price in the period during which such sale shall be effected, irrespective of when the LESSEE shall receive payment (whether full or partial) thereof;\n\nminus\n\n1. any refunds given, credits passed or allowance made on goods claimed to be defective or unsatisfactory (provided that the net selling price of any such goods in respect of which the refund, credit or allowance is given or made shall have previously been included in the net annual turnover of the LESSEE);\n2. the net selling price of any goods returned for exchange, provided that the net selling price of the goods exchanged for the returned goods shall have been included in the net annual turnover of the LESSEE;\n3. any amount reasonably written off during the relevant period as bad debts, provided that should any debts which have been written off as bad debts be subsequently recovered by the LESSEE, then the amount or amounts recovered shall be included in and form part of the net annual turnover of the LESSEE for the relevant period during which the recovery of such bad debts has taken place;\n\nAll transactions originating from the PREMISES, or any transactions in respect of goods usually sold or services usually rendered at the PREMISES, or in respect of goods sold and/or services rendered from the PREMISES and which have resulted from an order taken or received via the Internet site of BOARDWALK MALL, the LESSOR, its agents or the internet site of the LESSEE shall be considered as made and completed from the PREMISES and shall be included and form part of any calculation of the net annual turnover of the LESSEE even though the bookkeeping and payment of any account may be transferred to another place for collection and even though the actual completion of the transaction or service order actual delivery of the merchandise may be made from a place other than the PREMISES. To ensure that the PREMISES shall produce the maximum volume of turnover, the LESSEE agrees that it shall not directly or indirectly divert elsewhere any business, trade or commerce which would ordinarily be transacted in, at or from the PREMISES.\n\nINITIAL HERE\n---\n# 7.3. Statement of Net Annual Turnover\n\nThe LESSEE shall at its own cost furnish or cause to be furnished to the LESSOR an audited statement of the net annual turnover within 3 (three) months after the close of each financial year of the LESSEE; certified as being correct by the LESSEE'S Auditor reflecting the net annual turnover of the LESSEE for such financial year. Each statement of net annual turnover shall clearly set forth separately all the items comprised in the definition of the net annual turnover of the LESSEE as set out in Clause 7.1 above:\n\n# 7.4. Payment of Annual Turnover Rental\n\nOn the same date as any statement as set out in 7.3 above is or is due to be furnished to the LESSOR, the LESSEE shall simultaneously pay to the LESSOR the amount, if any, by which its payments of the monthly rental set out in Clause 6.5 above during the lease year in question fall short of the annual turnover rental payable for that lease year;\n\n# 7.5. Obligations of LESSEE and Rights of LESSOR in regard to the Statement of Net Annual Turnover\n\n7.5.1. The LESSEE shall keep full and accurate books of account, records and other pertinent data of all relating to the calculation of the net annual turnover. Such books and records shall be kept for not less than a period of 3 (three) years after the close of each financial year. The receipt by the LESSOR of any statement of Net Annual Turnover or any payment of annual turnover rental for any lease year shall not bind it as to the correctness of such statement or payment;\n\n7.5.2. The LESSEE shall record each transaction envisaged in this Clause, whether for cash or credit; sealed electronic cash register, or any other registers having a cumulative total:\n\n7.5.3. The LESSOR and its agents shall be entitled to inspect the LESSEE'S books of account, records and other pertinent data described in Clause 7.5.1 and 7.5.2 above relating to the calculation of the net annual turnover and shall have the right to take reasonable copies and extracts therefrom. The LESSOR shall be entitled to disclose the LESSEE'S turnover data to any third person should it be necessary for the purpose of raising finance or in the event of the possibility of sale of the SHOPPING CENTRE or any share in the LESSOR'S capital; or for statistical purposes.\n\n# 7.6. Audit of Net Turnover\n\nINITZAL HERE\n---\n# 7.6.1.\n\nThe LESSOR or Its auditor shall at any time be entitled to audit the LESSEE'S statement of net annual turnover. The LESSEE shall provide the LESSOR or Its auditor with all such information and explanations as may be required. Such audit shall be limited to the statement of net annual turnover and shall be conducted during normal business hours at the PREMISES or any other site as agreed upon by the LESSOR and the LESSEE;\n\n# 7.6.2.\n\nIf it shall be determined as a result of such audit that there has been any deficiency in the payment of annual turnover rental, then such deficiency shall become immediately due and payable with interest at the maximum permissible rate of interest from the date upon which the said payment should have been made in terms of Clause 7.4 above. Should there be a discrepancy of 5% (five per centum) more between the net annual turnover determined by the LESSOR or its auditor, and the LESSEE's statement of net annual turnover as submitted, then the LESSEE shall become liable for, and shall on demand pay to the LESSOR, the costs of the audit:\n\n# DEPOSIT\n\n# 8.1\n\nThe LESSEE shall pay in cash or bank guarantee in a format acceptable to the LESSOR an amount equivalent to the amount as stated in Clause R of the Schedule as a deposit in addition to all other amounts due in terms of this agreement to the LESSOR; The LESSOR shall have the right of applying the whole or portion thereof towards payment of the rent; water and electric current charges, key replacements, renovations or any other liability of whatsoever nature for which the LESSEE is responsible. If any portion of the deposit is so applied, the LESSEE shall on written demand from the LESSOR or its agents reinstate the deposit to its original amount. The deposit shall be retained by the LESSOR or his agents until after the vacating of the PREMISES by the LESSEE and the complete discharge of all the LESSEE'S obligations to the LESSOR arising from this Lease, whereafter the full deposit, or the balance of it still remaining shall be paid over to the LESSEE without any interest. The LESSEE shall not be entitled to set off against the deposit any rent or other amount payable by him.\n\n# 8.2\n\nThe LESSOR shall be entitled to increase the value of the deposit during the course of the lease such that same is in line with the then rent, operating costs and utility charges payable:\n\n# ELECTRICITY, GAS, WATER AND Other Charges Payable By Lessee\n\n# 9.1\n\nIn addition to rental, the LESSEE shall be liable for and on demand pay inclusive of Value Added Tax any charges arising directly or indirectly out of its use of electric current; gas and water in respect of the PREMISES or in respect of the building which are attributable to the use of the LESSEE, including external signage and air-conditioning maintenance and air-conditioning consumption. The LESSEE shall also be liable for and shall on demand pay the basic and service charges in respect of electric current; gas and water consumed as aforesaid at the same tariffs, levies and costs which would have applied to the LESSEE if the supplier had supplied the.\n---\n# 14\n\nService directly to the PREMISES. The LESSEE shall also be liable for the cost of any other fuel charges necessarily consumed in the running of any standby electric plant that the LESSOR may at its discretion install in the building: The LESSEE shall also be liable for any recycling charges in the consumption of services on the site: The LESSEE'S liability for charges (which shall include a reading and service charge for sub-meters) for electric current, gas and water shall be in accordance with separate sub-meters which the LESSOR shall be entitled to install at any time, the number and position of such sub-meters to be entirely at the discretion of the LESSOR. Should no such sub-meters be installed, such charges shall be calculated by the LESSOR on a pro rata basis as set in 9.4 hereunder. Should the LESSEE fail to pay the charges for electric current, gas and water within 14 (fourteen) days of written demand then, without prejudice to any other rights it may have, the LESSOR shall be entitled to terminate the supply of electric current and/or gas and/or water to the LESSEE, and shall not be liable for any consequential damages that may be sustained by the LESSEE; it be recorded that the presentation of utilities services presents as a service and not as an incident of occupation, which service requires payment and which service, the LESSOR shall be entitled to out-contract.\n\n# 9.2\n\nThe LESSEE shall pay on demand to the LESSOR or to the local or other responsible authority, as the case may be, a pro rata share as hereinafter set out of the cost of all sanitary fees; refuse removal fees (including but not limited to fees raised by third parties [Pick it Up] in respect of refuse removal e.g. Don's Waste, PikiTup etc.), sewerage or effluent charges levied, including its share of common area water, electricity, sewer and refuse costs and any other charges levied from time to time in respect of the building or the property by the local or any other responsible authority;\n\n# 9.3\n\nThe LESSOR agrees to provide additional electric current to satisfy the LESSEE'S requirements, the LESSEE shall bear all costs of installation and supply and associated fees (including consultancy fees) and charges; including charges for the use thereof:\n\n# 9.4\n\nWhere the LESSEE is to pay a pro rata share of the charges, fees or levies referred to in Clauses 9.2 or 10, the said pro rata share shall be in terms of Clause J of the Schedule as determined by way of a certificate of such areas issued by the LESSOR'S Architect which shall be binding on the LESSEE:\n\n# 9.5\n\nIf there is any dispute as to the amount of the LESSEE'S liability for any of the abovementioned charges, the onus of proof shall be on the LESSEE. If any such fees and charges are paid by the LESSEE direct to the local authority, the LESSEE shall, if called upon to do so, exhibit to the LESSOR the receipts in respect thereof, or if any such fees, rates and charges are paid by the LESSOR, the LESSEE shall make repayment thereof to the LESSOR immediately upon demand at the place where rental is payable in terms of Clause Q of the Schedule.\n\n# 9.6\n\nAn electricity and water consumption deposit; equal to an amount of (two) months' consumption shall be payable in cash by the LESSEE upon demand by the LESSOR in the event.\n\nINITIAL HERE\n---\nof the LESSEE falling to make prompt payments on the due dates in terms of this Clause, and which deposit shall be held by the LESSOR on the same terms as recorded in Clause 8 above:\n\n# 9. Obligations of the LESSEE\n\n9.7. The LESSEE shall furthermore be liable for the costs of repairing, servicing and maintaining any dedicated air-conditioning unit from the date of beneficial occupation alternatively in case of a shared unit the costs divided by the area of the premises expressed as percentage of the total area the air-conditioning unit serves; excluding common areas;\n\n9.8. The LESSEE shall be responsible at its cost for the insurance of the premises and its contents and for the insurance of the plate glass shopfronts from the date of beneficial occupation:\n\n9.9. The LESSEE is responsible for security of their premises from the date of beneficial occupation.\n\n9.10. The LESSEE will proportionately be liable for any and all costs of diesel and/or any other fuel necessarily consumed in the running of any standby electrical plant that the LESSOR may at its sole discretion install at the Building: The LESSEE will also be liable for its proportionate share of the costs incurred to repair and maintain all components of the standby electrical plant;\n\n9.11. Interest on overdue amounts shall be charged at 29 (two percent) above the prime rate of interest raised by the LESSOR'S bankers from time to time, from the due date until actual date of payment, compounded.\n\n# 10. RATES AND TAXES\n\n10.1. As from the commencement date of this Agreement of Lease, the LESSEE shall pay the amount indicated in Clause I of the Schedule the estimated rates and taxes monthly together with the rent, being his pro rata share; from time to time, of the rates and taxes in respect of the PROPERTY.\n\n10.2. The LESSEE shall be liable for its pro-rata share of any new tax or legal levy or other imposts introduced by any National Provincial or local government or any other government body or other authority created in law in respect of and/or relating to the premises, property, building or signage erected thereon.\n\n10.3. In the event of the abovementioned rates and taxes, levy or other impost being increased or decreased the LESSEE'S pro rata share shall be increased or decreased accordingly as from the date on which such increase or decrease becomes effective:\n\n10.4. The LESSEE shall pay a pro rata share of any cost that the LESSOR may incur in successfully acquiring a decrease in the valuation of the property from the local authority.\n\n# 11. COMMON AREAS: JOINT FACILITIES AND ACCESS TO THE BUILDING\n\n11.1. The LESSEE shall have the right of reasonable use having regard to the rights of other lessees, of the common areas, service roads, loading facilities, sidewalks and yard, foyers, malls,\n\nINITIAL HERE\n---\narcades, passages, parking areas, entrances exits, loading docks; stairways, toilets and other conveniences and facilities provided by the LESSOR on the PROPERTY and in the SHOPPING CENTRE; The LESSEE undertakes that Its employees shall use only such spaces, toilets, conveniences and facilities as may be allocated from time to time in respect of the employees and the LESSEE generally: Should any of the above become unusable, for any reason whatsoever, then the LESSEE shall not have any claim for any remission of rental or for any damages nor any right of cancellation of this agreement of lease:\n\n# 11. Rights and Obligations\n\n11.1 The LESSOR shall have the right from time to time to make or vary the House Rules and regulations governing the relationship between lessees of the PROPERTY SHOPPING CENTRE regard to all joint facilities and common or open areas within the PROPERTY or SHOPPING CENTRE and the LESSEE undertakes to observe the said House Rules and regulations from time to time in force as if they were terms and conditions of this agreement of Lease.\n\n11.2 The LESSEE shall have access to the PREMISES or the SHOPPING CENTRE, and the use of lifts, escalators and any other common facilities in the SHOPPING CENTRE, during normal business hours. Should the LESSEE require access to the PREMISES outside normal business hours; the LESSEE shall obtain the LESSOR'S consent and the LESSOR shall be entitled to make Its consent conditional upon any terms and conditions which the LESSOR in its sole and absolute discretion may deem necessary for the proper administration of the PREMISES or the SHOPPING CENTRE.\n\n11.3 Should the LESSEE be prevented from having access to the PREMISES as a result of any fire; riot, organised labour strikes, natural peril disaster, or any other reason whatsoever, then the LESSEE shall not have any claim against the LESSOR nor its agents employees for any remission in rental or for any other damages, nor any right of cancellation of the agreement of lease.\n\n11.4 The LESSOR shall be entitled in its absolute discretion from time to time to alter and change the size or layout and/or to relocate the parking areas and the common areas in the PROPERTY or SHOPPING CENTRE or extensions thereof;\n\n# 12. MARKETING COSTS\n\n12.1 The LESSEE shall contribute towards the Marketing Costs of the Shopping Centre as per Clause K of the Schedule and shall pay to the LESSOR each month as from the commencement date and together with the rental the amount stipulated in Clause K of the Schedule, which amount shall be applied towards the promotion of the BOARDWALK MALL as determined by BOARDWALK MALL Management; plus an amount equivalent to the value added tax payable at the prescribed rate from time to time by the LESSEE.\n\n12.2 In addition to the contribution to be made pursuant to the above, the LESSEE shall further be obliged to advertise its business in the SHOPPING CENTRE in accordance with strategies devised.\n\nINITIAL HERE\n---\nby the LESSOR or its representatives from time to time and in devising such strategies, the LESSEE undertakes to participate should the LESSOR consult with the LESSEE in this regard.\n\n# 13. MONTHLY STATEMENT OF TURNOVER\n\nNotwithstanding anything to the contrary in the provisions of this Lease, the LESSEE shall submit to the LESSOR, within 14 (fourteen) days of the end of each calendar month, an unaudited statement of the gross turnover; which statement shall set forth the selling price of all goods sold and services rendered from the PREMISES (excluding VAT) for that specific calendar month. The LESSOR shall treat this information as confidential, and shall use it only for the purpose of determining trading trends and not for the calculation of the annual turnover rental; This Clause shall constitute a material term of the lease agreement.\n\n# 14. DEFECTS\n\nThe LESSEE shall give the LESSOR written notice within 14 (fourteen) days after the commencement date of this Lease, of any defects in the PREMISES or any installations of whatsoever nature, or appliances therein, or of any keys, locks, windows, sewerage pans, basins and water taps and fittings and other appurtenances which are defective or missing, failing such notice (or after the remedying of any matters stated in any such notice, as the case may be), the LESSOR shall not be obliged to effect repairs to any defect in the PREMISES.\n\n# 15. COMPLIANCE WITH LAWS AND TITLE DEEDS\n\nThe LESSEE shall comply with all laws, by-laws and regulations relating to the lessees or occupiers of business premises or the conduct of any business carried on in the PREMISES PROPERTY. The LESSEE shall not contravene or permit the contravention of any of the Conditions of Title under which the PROPERTY is held by the LESSOR or any of the provisions of the Town Planning Scheme applicable to the PROPERTY and not do or cause or permit to be done in or about the PREMISES anything which may be or cause a nuisance or disturbance to other occupants of the building or occupiers of the neighboring premises or properties. The LESSEE in complying with all laws, by-laws and regulations shall obtain all necessary certificates and authorisations at its own cost; The LESSOR may at any time during the course of the Lease request the LESSEE to display such certificates and authorisations.\n\n# 16. ALTERATIONS AND ADDITIONS\n\n16.1 The LESSEE shall not make any alterations or additions to the PREMISES without the LESSOR'S prior written consent. If it shall be a condition of any competent authority in respect of a grant or renewal of any licenses required by the LESSEE to carry on business for which the PREMISES are hired that the PREMISES shall be altered, added to or renovated, the LESSOR shall not be obliged, but the LESSEE shall be entitled, at its own expense, to carry out such alterations, additions or renovations provided that the LESSOR'S prior written consent is obtained and that the work is carried out by a contractor acceptable to the LESSOR and on conditions stipulated.\n\nINITIAL HERE\n---\nby the LESSOR who shall also have the right to nominate any professional consultants necessary to supervise the work at the LESSEE'S expense: If any alterations or additions are made by the LESSEE; it shall; on the expiry of this Lease or the expiry of any renewal hereof; remove them and reinstate the PREMISES to the condition in which they were before additions and alterations were effected, unless the LESSOR otherwise agrees in writing; In which case any alterations or improvements shall become the LESSOR'S property. The LESSEE shall under no circumstances have any lien with regard to or claim for compensation for any such alterations, additions or renovations whether or not they are removed and the PREMISES reinstated:\n\n# 16.2\n\nThe LESSEE may, with the prior written consent of the LESSOR, at any time install any fixtures, fittings, equipment in the PREMISES for the purpose of carrying on the LESSEE'S business and may at any time and shall prior to the termination of this Lease required by the LESSOR; remove any such fixtures or fittings provided that the LESSEE shall repair any damage caused by the installation or removal of such fixtures, fittings or equipment: If the LESSEE does not remove any fixtures and fittings on vacating the PREMISES these shall become the property of the LESSOR and the LESSEE shall not at any time or under any circumstances have any claim whatsoever against the LESSOR for any fixtures and fittings not removed on the termination of this Lease whatever the reason may be. However; the LESSEE shall be liable to reimburse the LESSOR on demand for any and all costs incurred by the LESSOR in having such fixtures and fittings removed and the Premises reinstated on behalf of the LESSEE; Where the LESSEE carries out such reinstatement work after the expiry of the lease, same shall be carried out within a reasonable time, with the proviso that should such work be carried out by either the LESSEE or LESSOR, the LESSEE shall be liable to the LESSOR for rental and other charges for the period of such reinstatement of the premises.\n\n# 16.3\n\nAll alterations and additions and the installation of fixtures and fittings referred to in 16.1 and 16.2 above, together with the installation of any LESSEE'S signs, graphics or equipment in the PREMISES or the building shall be known as \"LESSEE'S work\", and shall be done in accordance with the following conditions:\n\n# 16.3.1\n\nAll LESSEE'S work shall be done at the LESSEE'S expense, and shall be executed in accordance with drawings specifications which the LESSEE is obliged to provide within 21 (twenty) days of signing of this Agreement of Lease and in accordance with the Tenant Criteria Document Annexure \"B\" and approved by the LESSOR in writing: The work shall be done by contractors and sub-contractors nominated and approved by the LESSOR, which contractors and sub-contractors shall comply with such reasonable rules and regulations as to safety, administration and co-ordination as the LESSOR may stipulate.\n\n# 16.3.2\n\nThe contractors referred to in 16.3.1 and the suppliers of materials required for the LESSEE'S work shall be the LESSEE'S contractors and suppliers and the sub-contractors referred to in 16.3.1 shall be the said contractors.\n\nINITIAL HERE\n---\n# 19\n\nsub-contractors All the said contractors and sub-contractors and suppliers shall give a complete waiver of any liens to which they may be entitled. There shall be no conflict due to arising from the LESSEE'S work with any contract to which the LESSOR or its contractors and sub-contractors may be parties. In the event of any such conflict, the LESSEE shall remove its contractors and sub-contractors from the PREMISES and the SHOPPING CENTRE to the extent necessary to remove the conflict;\n\n# 16.3\n\nShould the LESSOR elect or agree to cause its contractors and sub-contractors to do the LESSEE'S work on the LESSEE'S behalf and at the LESSEE'S expense, a certificate signed by a duly authorised representative of the LESSOR, reflecting the cost of such work; which cost shall include the fees and disbursements of any professional consultants appointed by the LESSOR to supervise the work; shall be final and binding on the LESSEE and shall be paid by the LESSEE on demand within seven (7) days of presentation of the certificate referred to above:\n\n# 16.3.4\n\nThe LESSEE shall keep and maintain at its own cost all LESSEE'S work in good order and condition and the LESSEE shall be liable to pay to the LESSOR any additional local authority rates and taxes and/or insurance premiums levied or charged as a result of the said LESSEE'S work:\n\n# 16.3.5\n\nThe LESSEE shall not make any alterations to the electrical and air-conditioning installations on the Premises, unless such work is carried out by the LESSOR'S professional consultants and contractors, the cost of which shall be for the LESSEE'S account and payable within seven (7) days from the date of certification by the LESSOR or its authorised representative.\n\n# 16.4\n\nThe LESSEE shall on cancellation, termination or expiry of this Agreement of Lease at the LESSEE'S costs and expense reinstate the premises in:\n\n# 16.4.1\n\nthe same good order and condition as at the commencement date; alternatively\n\n# 16.4.2\n\nbasic condition consisting of a screed floor, white painted walls, standard ceiling; alternatively\n\n# 16.4.3\n\nany combination of 16.4.1 and 16.4.2 as directed by the LESSOR in writing;\n\n# 16.4.4\n\nThe premises are to be constructed and fitted out in terms of The LESSEE Criteria Document, Annexure \"B\" and in accordance with the LESSEE'S Installation Allowances and Costs (Annexure \"H\").\n\nINITIAL HERE\n---\n# 16. CHANGES TO SPECIFICATIONS\n\n16.5.1 Should the LESSEE require any changes to the specifications, such changes shall be subject to the LESSOR'S approval and the cost thereof shall be for the LESSEE'S account:\n\n16.5.2 The LESSEE is obliged to employ the services of a professional designer and/or architect to prepare his interior shop design, signage, to manage the internal shop installation and to ensure the installation is in accordance with the LESSOR'S satisfaction as well as specifications as agreed on the approved and signed drawings. Please note that this is a non-negotiable requirement and forms part of the lease obligations of the Lessee: Beneficial Occupation will not be granted until such time as all plans & designs as per above are approved by the LESSOR'S appointed architect;\n\n# 17. SIGNAGE\n\nThe LESSEE may, with the prior written consent of the LESSOR as well as the approval of the LESSOR'S design consultants and architect, be entitled to erect new signage or change any existing signage at the premises which signage shall strictly comply with the requirements of the LESSOR as the LESSOR may from time to time at its sole discretion determine. If the LESSEE commits a breach of this provision the LESSOR shall be entitled, without notice or order of Court, to remove the offending and/or unauthorized matter at the LESSEE'S expense: The LESSEE will be liable for the charges of electricity consumed by any illuminated sign that the LESSEE may erect in or on the PROPERTY. In addition to this;\n\n17.1.1 The Lessee shall not erect any sign, signboard or writing on the exterior or interior of the Premises or on the windows of the Premises or elsewhere on the Building or upon the property without the prior written consent of the Lessor.\n\n17.1.2 All such signage shall comply with the signage criteria laid down by the Lessor from time to time (or as outlined in ANNEXURE \"B\") and shall be subject to the prior written approval of the Lessor and furthermore, also comply with any laws, regulations and by-laws relating thereto, all at the Lessee's costs.\n\n17.1.3 The cost of the erection and installation (including all electrical connections) of the signage shall be solely for the Lessee's account:\n\n# 18. LESSOR'S RIGHT TO ADD TO BUILDING\n\n18.1 The LESSOR shall be entitled at all times during the period of this Lease to complete the buildings on the PROPERTY and to effect any repairs, alterations, improvements and additions to the said buildings and for such purpose erect building equipment anywhere on the\n---\n# 18. ACCESS\n\nPROPERTY or in the SHOPPING CENTRE (Including the PREMISES) and also such devices as may be required by law or which the architect may certify to be reasonably necessary for the protection of any person against injury, arising out of the building operations in such manner as may be reasonably necessary for the purpose of any of the works aforesaid.\n\n18.2 The LESSOR shall further be entitled by itself or through its workmen, contractors or agent to all such rights of access to any portion of the PREMISES as may be reasonably necessary for the purpose aforesaid:\n\n18.3 In exercising its above rights the LESSOR shall use its best endeavours to cause as little interference as possible with the LESSEE'S occupation of the PREMISES. The LESSEE shall not be entitled to any remission of rental or compensation or damage or cancellation of lease by reason of the exercise by the LESSOR of its rights under this Clause 18.\n\n# 19. MAINTENANCE\n\n19.1 The LESSOR shall maintain the exterior of the PREMISES (excluding advertising signs; window panels and shop fronts) as well as the main exterior walls and roofs of the SHOPPING CENTRE in good order and repair. The LESSOR shall also arrange the maintenance and servicing of any lifts or escalators serving the SHOPPING CENTRE (but not exclusively the PREMISES) and shall be entitled notwithstanding the provisions of 19.2 below, by itself or through its workmen or agents without notice, to suspend the operation thereof in order to effect the required maintenance or servicing for any other similar purpose provided that the LESSOR shall exercise its rights in terms hereof with as little inconvenience as possible to the LESSEE. The LESSEE shall not be entitled to any remission of rental, compensation or damage by reason of the exercise by the LESSOR of its rights under this Clause;\n\n19.2 In the event of the PREMISES being air-conditioned by means of an air-conditioning plant controlled by the LESSOR, the LESSOR may from time to time establish and the LESSEE shall conform to rules and regulations relating to the switching on and off of the air-conditioning plant; as the LESSOR shall advise the LESSEE in writing:\n\n19.3 The LESSOR shall provide air-conditioning during trading hours. The times for air-conditioning on the PREMISES to be switched on and off before and after trading hours shall be determined by the LESSOR.\n\n19.4 The LESSOR shall take all reasonable steps to ensure that the air-conditioning plant is fully tested before occupation of the leased Premises. The LESSEE acknowledges that the LESSOR, after occupation of the leased Premises, shall require a reasonable period for testing and regulating the air-conditioning system and that air-conditioning may not be of a reasonable standard during this period; The LESSOR shall use its best endeavours to limit this period to a minimum;\n\nINITIAL HERE\n---\n19.5. The LESSEE shall Co-operate with the LESSOR at all times to ensure the most effective functioning of the air-conditioning system.\n\n19.6. Under no circumstances shall the LESSEE install or have installed any air-conditioning units on the leased Premises without the prior written approval having been obtained from the LESSOR, nor shall the LESSEE in any way interfere with the air-conditioning system.\n\n19.7. The LESSEE shall care for and maintain the PREMISES and any fittings, equipment, air-conditioning, shop fronts (interior and exterior) or appurtenances of whatsoever nature in good order and repair during the period of the Lease and at the termination thereof return and deliver the same to the LESSOR in the same good order and condition as was at the commencement date or as it was when the PREMISES were first occupied by the LESSEE. The LESSEE shall make good and repair at its own cost any damage or breakages and shall, in the event of its failing to replace, repair or make good any broken, damaged or missing articles or to repair or maintain any items as required in terms of this Agreement of Lease, permit the LESSOR, without prejudice and in addition to the LESSOR'S other rights, to carry out such work without liability on the part of the LESSOR to the LESSEE for any loss or damage that the LESSEE may sustain or suffer as a result thereof. Upon completion of such work and receipt of demand for the payment of the cost thereof, the LESSEE shall effect payment of the costs incurred within seven days of receipt of such demand together with interest at the maximum rate permissible by law from date of completion of the work to date of payment. Without detracting from the generality of the above, the LESSEE shall repair any damage caused to the doors and door mechanisms, windows, shopfronts (interior and exterior), ceiling(s), floor and walls of the PREMISES which may be occasioned by any cause including but not limited to forcible entry or exit and malicious damage.\n\n# 20. LESSOR'S RIGHT OF ENTRY\n\nThe LESSOR shall be entitled to enter the PREMISES at all reasonable times either through its representatives, employees or workmen or through its agents or contractors for the purpose of inspecting the PREMISES or for carrying out any repairs or other work in respect of the PREMISES or SHOPPING CENTRE if it should desire to do so. The LESSOR shall in exercising its rights as aforesaid not unduly or unreasonably interfere with the conduct of any business lawfully carried on in the PREMISES and shall carry out any repairs or other work as expeditiously as possible. The LESSEE shall not have any claim for remission of rental, compensation or damages in connection with the exercise by the LESSOR of any of its aforesaid rights.\n\n# 21. GLASS; WINDOW PANELS AND SHOP FRONTS\n\nThe LESSEE shall be responsible for any glass, both internal and external, and mirrors and window panels in or on the PREMISES and shall be obliged at its expense to replace any such glass, mirrors, window panels as may be damaged however and by whomsoever such damages shall be caused. Without prejudice to and without absolving it from its aforesaid obligations, the LESSEE shall; except for any period during which the LESSOR may elect to do so, insure plate glass.\n---\n# 23. WINDOW PANELS\n\nThe LESSEE shall maintain the insurance in force throughout its occupation of the PREMISES. The LESSEE shall on demand by the LESSOR cede the policy of insurance to the LESSOR as security for its obligations hereunder. The LESSEE shall, if so required by the LESSOR, exhibit to the LESSOR from time to time proof of payment of the premiums that fall due. If it fails to do so in respect of any premiums, the LESSOR shall be entitled, without prejudice to its rights under this Lease, to pay the premium and to recover it from the LESSEE. If the LESSOR elects to insure the plate glass and window panels for any period, the LESSEE shall pay to the LESSOR on demand so much of each premium paid by the LESSOR as is attributable to the insurance of the plate glass and window panels in or on the PREMISES.\n\n# 22. FIRE HAZARDS\n\n# 22.1\n\nThe LESSEE shall not at any time bring or allow to be brought or kept in the PREMISES nor do or omit to do nor suffer to be carried on in the PREMISES any matter or thing or activity whereby a fire or any other insurance policy of the building may be liable to become valid or voidable or whereby the premium for any such insurance may be increased. If the premiums of such insurance are increased as a result of the contravention of this Clause, whether with the LESSOR'S written consent or not, the LESSOR, without prejudice to any of its rights hereunder, may recover from the LESSEE the amount due from time to time in respect of any additional premiums. The LESSEE shall pay such amount immediately on notification from the LESSOR or the insurance company to the extent that such additional premiums have been charged.\n\n# 22.2\n\nThe LESSEE is obliged at all times to adhere to the Fire Regulations of the Local Authority.\n\n# 23. FAILURE OF SERVICES\n\nThe LESSOR shall not be liable for the failure of lifts, escalators, hoists, or of the electricity or water supply, or any other municipal and/or local authority service, or air-conditioning, or data and telephone lines, or by reason of any defect in any equipment of the LESSOR servicing the PREMISES or SHOPPING CENTRE from any cause whatsoever, and the LESSEE shall not have any claim for any damages; nor be entitled to cancel this Lease or to receive any diminution, abatement or remission of rental by reason of the fact that any of the services have failed or been interrupted, nor shall the LESSOR be responsible for any delays occasioned by the breakdown of any escalators, lifts, hoists or other services mentioned. The LESSOR shall, however, be liable to take reasonable steps to have the disruption of such services repaired and/or remedied expeditiously as possible after having received the relevant advice or notice of such failure or disruption.\n\n# 24. EXCLUSION OF LESSOR'S LIABILITY FOR DAMAGES\n\n# 24.1\n\nThe LESSOR shall not be responsible to the LESSEE or its servants, agents, employees, members, clients or invitees:\n---\n# 24\n\n# 24.1\n\n1. for any loss or damage caused by or as a result of any fire, theft; flooding, riot, burglary, pilferage; or similar cause, Including the cost of malicious damages to the perimeter walls, shop front, ceilings and roof sheeting of the premises as a result of any break-in or attempted break-in; and\n\n2. for any accident, injury, loss of life or damage caused to them from whatsoever cause arising, including any failure in the premises, building, property and common area (or any part or portion thereof), through or while upon or while using the staircases, passages any other portion of these premises, building; property or common area, howsoever such accident; injury, loss of life or damage may be caused, notwithstanding that any accident, loss of life or damage be occasioned by or arise from or be accountable to the negligence and or act and omission of the LESSOR, its principals, directors, servants agents. The LESSEE indemnifies the LESSOR against any claim of whatsoever nature which may be made against the LESSOR by any agent or servant, employee, member or invitees of the LESSEE, for any loss or damage to the property of such claimant or any injuries suffered by such claimant or any injuries suffered by such claimant in, on or about the premises, building, property and common area; provided that the liability of the LESSOR shall not be excluded in the event of such a claim arising from grossly negligent or willful conduct; and or\n\n3. for any damage which may be done to any of the assets of the LESSEE including stock-in-trade, fixtures, fittings, books, papers and otherwise, which may be in the premises, or to the LESSEE, employees, invitees; licensees, which may occur in consequence of the overflow of water supply or any leakage or any plumbing works or any electrical fault or by reason of any of the elements of the weather the failure on the part of the LESSOR its servants to carry out any work required of any of them in a proper manner or by reason of any defect in the premises or any portion thereof or any of the equipment of the LESSOR, as a result of any other cause whatsoever; and/or\n\n4. for any damage or inconvenience which the LESSEE may suffer owing to any difficulties from time to time the supply of electric current; water; gas or other amenities or the complete cessation of such amenities, nor shall the LESSEE be entitled to cancel this Agreement nor be entitled to an abatement of rent in respect of any such occurrence, provided that the LESSOR shall within a reasonable time rectify such damage or defective condition, and such damage defective condition is not caused by the LESSOR'S grossly negligent willful misconduct;\n\nINITIAL HERE\n---\n24.2 Should the building still be in the course of construction at commencement of this Agreement, the LESSEE acknowledges that occupants must necessarily suffer certain amount of inconvenience from building operations and from noise and dust resulting therefrom as well as from interruption in the supply of electricity, gas, water, air-conditioning installation and other amenities and that it will have no claim against the LESSOR for compensation, damages or for a remission of rental and charges nor any claims for the cancellation of the Lease by reason of any such inconvenience during the period of completion.\n\n24.3 No action by the LESSOR, including in particular the provision of any security service to the SHOPPING CENTRE or property, shall be construed in any way whatsoever as an acceptance by the LESSOR of any responsibility whatsoever towards the LESSEE or any other person.\n\n# 25. EXCLUSION OF CLAIMS AND RIGHT TO WITHHOLD RENTAL\n\nThe LESSEE shall not under any circumstances be entitled to cancel this Lease or have any claim or right of action whatsoever against the LESSOR for any damages, loss, or otherwise, nor be entitled to withhold or defer payment of rental by reason of the PREMISES or any appliances, air-conditioning or other installation, fittings, fixtures and appurtenances in the said PREMISES or the building being in a defective condition or falling into disrepair or any particular repairs not being effected by the LESSOR or for any other reason whatsoever: The LESSEE shall not have any right of cancellation or claim for damages, abatement of rental or otherwise, against the LESSOR by reason of the escalators, lifts, air-conditioning installation or other amenities in or on the PREMISES, SHOPPING CENTRE or PROPERTY being out of use or out of order for any reason whatsoever or for any period whatsoever; The LESSOR shall not be responsible for any damage or inconvenience which the LESSEE may suffer owing to any difficulties which may lead to interruption or disruption from time to time in the supply of electric current, water, gas, air-conditioning installation or other amenities or the complete cessation of such amenities nor shall the LESSEE be entitled to cancel this Lease or to an abatement of rental in respect of any such occurrence.\n\n# 26. SERVICES\n\nThe nature of the services to be provided in the PREMISES by the employees or agents of the LESSOR shall be at the sole discretion of the LESSOR: Neither the LESSOR nor its agents or employees shall be liable for the receipt or non-receipt of the delivery or non-delivery of goods, postal matter or correspondence, nor shall they be liable for anything which the LESSEE or any employee or any client, licensee, visitor or invitee of the LESSEE may have deposited or left in the PREMISES or in any part of the SHOPPING CENTRE or PROPERTY. All goods brought by the LESSEE onto the PREMISES shall be placed there at its sole risk and responsibility whatsoever and no responsibility is undertaken by the LESSOR or its agents or employees: The LESSEE acknowledges that neither the LESSOR nor its agents or employees shall in any way be responsible for any loss, theft, damage of any kind to any of the LESSEE'S property whilst contained in the PREMISES.\n\nINITIAL HERE\n---\n# 27. PARKING\n\n27.1 In the SHOPPING CENTRE and PROPERTY of which the PREMISES form part; any parking space or spaces are accepted on the express condition that the allocation of all parking area/s and the hours relevant to such parking shall be in the absolute discretion of the LESSOR;\n\n27.2 The LESSOR does not undertake that the local authority or itself shall not levy a charge for such parking.\n\n27.3 The LESSOR shall at times have the right to control the parking areas of the building SHOPPING CENTRE and to change the allocation and arrangements or driveways, to restrict parking by tenants, their officers, agents and employees, to close temporarily all or any portion of the parking areas, to discourage and restrict non-customer parking and generally control and do such acts in regard to the said areas as in the judgement of the LESSOR shall be advisable and/or beneficial to the tenants of the SHOPPING CENTRE as a whole and for the improvement, convenience and use thereof by tenants and customers provided that the decisions as to the proper use and control of the parking areas shall be in the sole discretion of the LESSOR, who shall in addition, be entitled to make and enforce rules and regulations regarding the proper operation, maintenance and control of such parking areas and driveways including the ability to levy a fee for such customer parking areas; The LESSEE further undertakes not to cause or permit vehicles belonging to, used by it or its Directors, principals, employees, contractors, suppliers or servants, to be parked in the customers' parking areas or driveways, and no obstruction shall be placed, or be permitted to be placed by it or its Directors, principals, employees, contractors, suppliers or servants in the said driveways which may in any way interfere with their use.\n\n# 28. LOADING ZONES\n\n28.1 All loading, delivery and unloading of goods, merchandise, supplies and fixtures to and from the PREMISES shall be done only at such times, in the areas and through the entrances designated for these purposes by the LESSOR from time to time and shall be subject to such rules and regulations as in the discretion of the LESSOR are necessary for the proper administration of the PREMISES or the SHOPPING CENTRE.\n\n28.2 The LESSEE shall ensure that vehicles driven or used by it or its principals, servants, directors, licensees, contractors, suppliers or invitees shall not obstruct the free flow of traffic; the entrances or exits of the driveway(s) or the pedestrian entrances to the PROPERTY, the SHOPPING CENTRE or any premises therein; The LESSEE, its employees, contractors, servants shall not use the customers parking area.\n\n# 29. LESSEE'S GENERAL OBLIGATIONS\n\nThe LESSEE shall:\n\nINITIAL HERE\n---\n# 29. Obligations of the Lessee\n\n1. Clean the interior and exterior of its shopfront to the full height thereof; the interior of the PREMISES and the advertising signs inside and outside the PREMISES and the SHOPPING CENTRE, and keep the PREMISES and all its contents in a clean, orderly and sanitary condition;\n2. Ensure that the PREMISES are both adequately stocked with merchandise and properly staffed with personnel, not obscure the shop windows in any way, keep the shop windows well lit until 23h00 daily and ensure that its window displays are in keeping with the good appearance of the rest of the shops in the SHOPPING CENTRE and the SHOPPING CENTRE itself;\n3. Ensure the window and shop displays are bright, clean and aesthetically pleasing and are properly decorated during promotional activities as elaborated in the House Rules;\n4. Maintain a high degree of lighting so as to ensure the premises are inviting to customers;\n5. Keep the PREMISES open continuously for business during the business hours determined for the SHOPPING CENTRE by Centre Management from time to time during the whole period of this Agreement of Lease or any renewal thereof subject to the LESSEE's right to apply to the Centre Manager to close the premises when special occasions or general conditions render it reasonably appropriate to do so. Failure on the part of the LESSEE to keep the PREMISES open, save with the necessary consent, during normal business hours applicable in the SHOPPING CENTRE shall constitute a material breach of this Agreement of Lease and shall entitle the LESSOR to summarily cancel this Agreement of Lease without being obliged to give notice to the LESSEE in terms of Clause 35.1.2 of this Agreement of Lease. The LESSOR undertakes to give the LESSEE one (1) month's written notice of any change in the normal business hours applicable in the SHOPPING CENTRE. During certain holiday periods at the sole discretion and the option of the LESSOR, extended business hours may apply;\n6. Insure and keep insured all its fixtures, fittings and installations and all goods in the PREMISES, and maintain adequate public liability insurance provided that the LESSOR shall be entitled at any time to determine and specify what shall be regarded as adequate under the circumstances and the LESSEE shall upon demand by the LESSOR provide adequate proof of such insurances;\n7. Pay for the replacement of all fluorescent lamps, starters, ballasts and incandescent lamps used in the PREMISES and shall not interfere with the electrical installation in the PREMISES or any air-conditioning installation or equipment belonging to the LESSOR, and not affix any electrical fittings other than those approved by the LESSOR;\n8. Shall be responsible for maintenance and repair of electrical installations in the premises, including but not limited to the distribution board;\n9. Not attach to the walls or ceiling or place on the floor of the PREMISES any fittings, appurtenances or equipment which shall or might in the LESSOR's sole discretion constitute too heavy a load therefor;\n\nINITIAL HERE\n---\n29.10 not da or permit anything to be done that may be calculated to damage the walls or ceilings or any other portion of the PREMISES and/or the SHOPPING CENTRE;\n\n29.11 not install any floor covering; Interior or exterior lighting, plumbing, fixtures or shades or make any changes to the shopfront without the LESSOR'S prior written consent;\n\n29.12 not Install any window covering, awning, blinds, air-conditioner or any like device on or adjacent to the shopfront any window of the PREMISES without the prior written consent of the LESSOR;\n\n29.13 prevent any blockage of any sewer or water pipes drains in or used in connection with the PREMISES and shall at its own cost remove any blockage or obstruction in any sewer or water pipes or drains serving the PREMISES exclusively, and where necessary repair the sewer, pipe or drain concerned;\n\n29.14 not solicit or canvass for business in the parking area or other common areas in the SHOPPING CENTRE and shall not distribute any pamphlets, handbills or other advertising matter in motor cars parked in the parking area of the PROPERTY or in any other common area of the SHOPPING CENTRE without the prior written consent of the LESSOR;\n\n29.15 not leave or permit to be left any goods, refuse, trolleys or articles upon or in the service areas, landings, stairways or passages or in any part of the SHOPPING CENTRE or PROPERTY other than specific areas allocated for the express purpose concerned in which areas no unreasonable accumulation of any articles or matters shall be made or permitted to be made by the LESSEE;\n\n29.16 not erect any aerial, dishes or any other communication device or other similar device on the roof or exterior walls of the PREMISES or SHOPPING CENTRE without in each instance obtaining the LESSOR'S prior written consent; Any aerial so installed without such written consent may be removed by the LESSOR without notice at any time. The LESSEE shall be obliged to utilize a central aerial, antennae dish where so installed by the LESSOR and shall be obliged to contribute towards its maintenance on a pro-rata basis;\n\n29.17 not use any tape recorders, televisions; record players, radios, loudspeakers or other similar devices in a manner so as to be heard or seen outside the PREMISES;\n\n29.18 not install, erect or place any machine, apparatus or other advertising media outside the PREMISES without the LESSOR'S prior written consent; if the LESSEE commits a breach of this provision the LESSOR shall be entitled without notice or order of court to remove and dispose of the offending matter;\n\n29.19 shall at all times ensure that the PREMISES are free from infestation by vermin and should it be discovered that the PREMISES are infected with vermin, the LESSEE shall be responsible for the\n\nINITIAL HERE\n---\npayment of the cost of the fumigation or other treatment necessary to eradicate such vermin.\n\nOn the LESSEE giving up occupation of the PREMISES, the LESSEE shall be obliged to ensure that the PREMISES are free from infestation by vermin and should it be determined that the PREMISES are infected with vermin the LESSEE shall likewise be responsible for the cost of treatment for the extermination and eradication of the vermin and such costs may be a charge against the LESSEE'S deposit (if any). A certificate issued by a recognised registered fumigator or vermin exterminator as to the presence of vermin shall be conclusive and binding on the parties.\n\n# 29\n\n29.20. The LESSEE shall not do anything which in the sole opinion of the LESSOR, may detract from the appearance of the PREMISES or of the SHOPPING CENTRE;\n\n29.21. The LESSEE shall ensure that the common areas and facilities are not used as eating-places or general resting places by its employees and shall take all reasonable steps to ensure that the common areas and facilities are not misused by its invitees in any way.\n\n29.22. The LESSEE shall not do or cause anything to be done that may cause a nuisance or inconvenience to the LESSOR or to any other lessees or occupants of the adjoining premises.\n\n29.23. At its own expense, repair any damage caused to the premises by forcible entry or otherwise;\n\n29.24. Not permit the accumulation of refuse in or outside the PREMISES;\n\n29.25. The LESSEE shall ensure that all activities and installations on the premises comply in all respects with the Occupational Health and Safety Act no. 85 of 1993, as amended (or its successor), and the regulations found thereunder;\n\n29.26. The LESSEE shall not contravene or allow the contravention of the Tobacco Products Control Act 83 of 1993, (including the Regulations thereunder) by members of its staff or any person on the premises. The LESSEE further indemnifies and holds the LESSOR harmless against any penalty imposed by any Local, Provincial, National or other Authority as a result of the LESSEE'S failure to comply with the provisions of such Act and or the Regulations;\n\n29.27. The LESSOR shall have the right from time to time to make or vary House Rules that govern the relationship between the LESSEES and generally the use of the building and common areas and the LESSEE undertakes to abide by and comply with these rules.\n\n# 30\n\n# RIGHT OF INSPECTION AND EXHIBITION OF NOTICES\n\nThe LESSOR shall be entitled to affix to and exhibit in the SHOPPING CENTRE or on the windows and doors of the PREMISES \"TO LET\" notices during the period of three months immediately prior to the termination of this Agreement of Lease and a \"FOR SALE\" notice on the SHOPPING CENTRE or PROPERTY at any time during the period of the Agreement of Lease. The LESSEE shall permit prospective lessees and/or purchasers of the PROPERTY or the share capital of the.\n---\n# 30. LESSOR to view the interior of the PREMISES\n\nThe LESSOR to view the interior of the PREMISES at all reasonable times and the LESSOR and/or incoming lessee shall be allowed to exhibit to the windows and doors of the PREMISES any notices that may be required in connection with application for any license to carry on business in the PREMISES.\n\n# 31. ADVERTISING SIGNS\n\n# 31.1\n\nThe LESSEE shall not place any advertising signs or other matter on the windows, doors, shopfronts or outside the PREMISES without the LESSOR'S prior written consent; which may be given subject to such conditions as the LESSOR in its sole discretion may deem necessary: if the LESSEE commits a breach of this provision the LESSOR shall be entitled without notice or order of court to remove the offending matter at the LESSEE'S expense.\n\n# 31.2\n\nIf approved by the LESSOR, the LESSEE'S right to place a sign on a portion of the PREMISES and/or the SHOPPING CENTRE and/or the PROPERTY, shall be by virtue of a license and such license may be revoked at any time.\n\n# 31.3\n\nThe LESSEE shall during the period of the Agreement of Lease or any renewal thereof maintain the appearance of any advertising sign, keep it in proper working order and shall, at the expiration or earlier termination of this Agreement of Lease, remove any sign so placed and reinstate the relevant part of the PREMISES and/or SHOPPING CENTRE and/or PROPERTY to the same good order and condition as it was at the commencement date or as it was when the PREMISES were first occupied by the LESSEE.\n\n# 32. DAMAGE TO OR DESTRUCTION OF PREMISES OR BUILDING\n\n# 32.1\n\nThe LESSOR may cancel this Agreement of Lease if:\n\n# 32.1.1\n\nthe PREMISES are destroyed or are damaged to such an extent as to be substantially untenable;\n\n# 32.1.2\n\nthere is damage to the SHOPPING CENTRE such that although 32.1.1 does not apply the PREMISES have been rendered substantially untenable because of prolonged absence of access or supply of any necessary service or amenity;\n\n# 32.1.3\n\nthere is destruction damage to the SHOPPING CENTRE or parts thereof; whether or not the PREMISES are involved and the LESSOR determines to put an end to the tenancies in the SHOPPING CENTRE.\n\n# 32.2\n\nThe cancellation under 32.1 shall be by written notice given by the LESSOR within the 60 (sixty) days (or such shorter period as may be imposed by any competent authority) of the taking place of the event referred to in 32.1 giving rise to the cancellation, provided that in the case of notice given in terms of 32.1.1 or 32.1.2 such notice shall be deemed to be effective from the date on which the damage or destruction, as the case may be, took place.\n---\nof notice given in terms of 32.3.1 such notice shall be deemed to be effective on the expiration of a period of 30 (thirty) days of the giving of such notice.\n\n# 32.3. If:\n\n32.3.1. there is damage to the PREMISES to the SHOPPING CENTRE so as to diminish the enjoyment of the PREMISES, but not to such extent as to entitle the LESSOR to cancel under 32.1;\n\n32.3.2. the LESSOR does not exercise its right to cancel under 32.1 when entitled to do so,\n\nthen the LESSEE shall be entitled to remission of rental for the period during which and to the extent to which it is deprived of occupation and enjoyment of the PREMISES, provided that such damage was not occasioned by any act or omission by the LESSEE, its agents, representatives, invitees, contractors or employees.\n\n# 33. RE-BUILDING\n\n33.1. The LESSOR may terminate this Lease or any renewal thereof by giving the LESSEE not less than 6 (six) calendar months written notice to such effect in any of the following circumstances:\n\n33.1.1. should the LESSOR or its successors in title wish to demolish the SHOPPING CENTRE or the PREMISES; or\n\n33.1.2. should the LESSOR or its successors in title wish to reconstruct and/or redevelop and/or renovate and/or make additions to the SHOPPING CENTRE or the PREMISES, provided always that such reconstruction and/or redevelopment and/or renovation be of a substantial and/or major nature.\n\n33.2. The LESSOR shall; however, have the right at any time to commence the reconstruction and/or redevelopment and/or renovation of the SHOPPING CENTRE, other than the PREMISES, and these operations may proceed while the LESSEE is in occupation of the PREMISES, provided, however, that the LESSOR shall make provision for reasonable access to the PREMISES whilst the aforesaid operations are in progress.\n\n33.3. Notwithstanding the implementation of any work as contemplated in 33.2 above, the LESSEE shall have no right to object to such work or to claim any rebate of rental during the period in which the said work may be in progress nor shall the LESSEE have any claim for damages of whatsoever nature by reason of the earlier termination of the Lease as provided for in 33.1 above:\n\nINITIAL HERE\n---\npec f       rde         pU_pose\n---\n# 34.4.4\n\nThe proposed rental\n\n# 34.4.5\n\nThe condition of the proposed new premises\n\n# 34.5\n\nAfter receipt of the LESSEE'S objection, the parties shall meet whenever it is convenient for both parties, but in any event no later than 15 (fifteen) days after receipt of the notice of objection by the LESSOR, in order to resolve the dispute. If the parties are unable to resolve the dispute, either party shall be entitled to refer the dispute to an independent architect appointed by the then President of the Institute of Architects (or his successor-in-title). In respect of the independent architect, the parties agree that:\n\n# 34.5.1\n\nThe architect shall decide the dispute as expeditiously as is reasonably possible;\n\n# 34.5.2\n\nIn deciding the dispute, the architect shall consider whether the criteria set out in Clause 34.1 above is applicable; and if it is, he shall not refuse the relocation of the LESSEE;\n\n# 34.5.3\n\nBoth parties shall have the opportunity to make submissions to the architect;\n\n# 34.5.4\n\nThe architect shall act as an expert and not as an arbitrator;\n\n# 34.5.5\n\nThe architect shall be entitled, acting in his sole and absolute discretion, to determine the procedure in terms whereof the dispute shall be resolved;\n\n# 34.5.6\n\nThe architect shall be entitled to make an order as to his costs;\n\n# 34.5.7\n\nThe decision of the architect shall be final and binding on both parties.\n\n# 34.6\n\nIf:\n\n# 34.6.1\n\nThe LESSEE does not object to the notice contemplated in Clause 34.2 above; or\n\n# 34.6.2\n\nThe parties resolve the dispute as contemplated in Clause 34.5 above; or\n\n# 34.6.3\n\nThe architect makes a decision as contemplated in Clause 34.5.7 above;\n\nThe LESSOR shall not be liable for any costs whatsoever incurred by the LESSEE in relocating to the new premises.\n\nINITIAL KERE\n---\nESQ\n---\n# 35\n\n# 35.1\n\n1. being juristic person, company or corporation; commit any act which, if it was natural person who is subject thereto, would be a act of insolvency within the meaning of section 8 the Insolvency Act, 1936 or any equivalent legislation in any jurisdiction to which such LESSEE is subject; and/or\n2. be unable or be deemed to be unable to pay its debts as described in section 345 of the Companies Act, 1973 as read with Item 9 of Schedule 5 of the Companies Act, 2008 (or would be deemed to be unable to pay its debts if it were a company which was subject thereto) or any equivalent legislation in any jurisdiction to which such LESSEE is subject; and/or\n3. give notice in writing to any one of its creditors that the LESSEE is unable to pay any of its debts; and/or\n4. being a trader, give notice in the Government Gazette in terms of section 34 of the Insolvency Act, 1936 of the sale of the LESSEE's business, and is thereafter unable to pay all of its debts;\n5. surrender his/her estate, be sequestrated, or be placed under administration; business rescue, debt review, curatorship, any other equivalent proceedings; and/or\n6. compromise or attempt to compromise with, defer or attempt to defer payment of debts owing by it to its creditors generally, or moratorium be agreed or declared in respect of affecting all material part of its indebtedness; and/or\n7. become financially distressed as described in section 128 of the Companies Act, 2008 (or would be financially distressed if it were a company which was subject to the Companies Act, 2008) any equivalent legislation in any jurisdiction to which such tenant is subject; and/or\n8. through its board of directors deliver, or be obliged to deliver, a written notice in terms of section 129(7) of the Companies Act, 2008; and/or\n9. through its board of directors propose, consider, pass resolution for the dissolution, deregistration; liquidation or winding-up of the LESSEE in terms of the Companies Act, 2008 or the Companies Act, 1973 Act (as read with Item 9 of Schedule 5 of the Companies Act, 2008), or to place the LESSEE under supervision to begin business rescue proceedings in terms of the Companies Act, 2008, or a notice be given that any such resolution will be proposed; and/or\n10. be subjected to an application made to court for the liquidation or winding-up (whether provisional or final) of the LESSEE in terms of the Companies Act 2008 or the Companies Act, 1973 as read with Item 9 of Schedule 5 of the Companies Act, 2008.\n\nINITIAL KERE\n---\n36 Companies Act; 2008, or to commence business rescue proceedings and place the LESSEE under supervision in terms of the Companies Act, 2008; and/or\n\n35.1.20. be a franchisee and its franchise agreement is cancelled or terminates or is interdicted on temporary or permanent basis from trading as a franchisee in any respect; and/or\n\n35.1.21. holds any license to conduct its business part thereof and such license is revoked or not renewed or extended;\n\nthen, in any of such events; the LESSOR shall be entitled, but not obliged, notwithstanding any previous waiver or anything to the contrary herein contained and without prejudice to its\n\npayable hereunder or for any damages which it may claims for any arrear rent or other sums cancellation; including but not limited to costs of suffer by reason of such breach and or reinstatement of the premises or the LESSOR'S election in terms of 16.4, and commissions in respect of re-letting of the premises, or to any other remedy which it may have against the LESSEE arising out of this Agreement or in law, to either\n\n- a) forthwith cancel this Agreement and to resume possession of the premises and upon so doing; to remove from the premises; any goods situate therein. Any goods removed from the premises in terms of this Clause shall be stored at the cost and risk of the LESSEE; or\n- b) vary the terms of this Agreement by making it thereafter terminable by one month's written notice given by the LESSOR;\n\n35.2 Should any amount of rental not be paid in terms of Clause 35.1.1, the LESSOR shall be entitled, without prejudice to any of its rights in terms of the Agreement or in law, to display notice that the goods in the premises are judicially attached in perfection of the LESSEE'S hypothec;\n\n35.3 If the LESSEE has breached any material terms of this Agreement, the LESSEE will not have an option to renew the Agreement as recorded in Clause F of the Schedule;\n\n35.4 Should the LESSEE, at any time during the currency of this Agreement, commit a breach of Clause 35.1.1, then the LESSOR shall be entitled, but not obliged, to only accept future payments by way of cash, bank guaranteed cheque or electronic transfer and payment in any other form may be refused and not regarded as valid in terms of this Agreement;\n\n35.5 If for any reason or on any ground the LESSEE occupies the premises and the LESSOR disputes its rights to do so, which shall include the LESSEE'S failure to reinstate the premises as directed by the LESSOR, then, for the duration of such dispute or failure, the LESSEE shall (notwithstanding that the LESSOR may contend that this Agreement is no longer in force) continue to pay (without prejudice to its rights) an amount equivalent to the monthly rent and\n\nINITIAL HERE\n---\nany other amounts due in terms of this Agreement (as escalated, applicable), monthly in advance on the first day of each month and the LESSOR shall be entitled to accept, render statements and recover such payments and such acceptance of payment and rendering of statements shall not in any way whatsoever affect the LESSOR'S claim then in dispute: If the dispute is resolved in favour of the LESSOR, the payments made and received in terms of this Clause shall be deemed to be amounts paid by the LESSEE on account of damages suffered by the LESSOR by reason of the unlawful occupation or holding over by the LESSEE. The failure by the LESSEE to pay an amount stipulated in this Clause shall itself constitute a material breach by the LESSEE of its obligations. Should the LESSEE unlawfully remain in the premises after expiry or termination of this Agreement, the rental and operating costs payable as holding over shall escalate at 12% (twelve percent) from the date of such unlawful occupation. Nothing in this provision will give the LESSEE the right to occupy the premises if the premises are occupied unlawfully, nor would it give the LESSEE the right should the LESSEE'S occupation be lawful to occupancy other than on a calendar monthly basis;\n\n# 35 A COVENANT IN The EVENT OF BUSINESS RESCUE\n\n# 35A.1\n\nIt be agreed and recorded that should the LESSEE commence business rescue proceedings, then and notwithstanding anything to the contrary herein contained or referred to, the LESSOR shall be entitled, without limitation, to communicate cancellation of the lease agreement; as such upon incorporation and application of the following express terms:\n\n# 354.1.1\n\nThe LESSEE and/or the business rescue practitioner shall henceforth be liable to vacate the commercial leased premises and restore possession thereof to the LESSOR, unless and to the extent that alternative written agreement concludes as to continued occupation and/or the terms and conditions thereof; failing which any continued occupation shall be regarded as unlawful, and/or\n\n# 354.1.2\n\nThe LESSEE shall be liable, in addition and without limitation, for payment of the rental and charges owing in respect of the balance of the lease term; discounted at the rate of 8% (eight percent) per annum, reckoned as pre-estimated liquidated damages (limited to a period of 24 (twenty-four) months or the balance of the lease term, whichever the lesser); and\n\n# 354.1.3\n\nSuch liability calculated per paragraph 354.1.2 above shall be incorporated, without limitation, in the determination of the LESSOR's voting interest;\n\n# 35A.2\n\nIt be agreed and recorded that should the LESSEE commence business rescue proceedings; then and notwithstanding anything to the contrary herein contained or referred to, the LESSOR shall be entitled, without limitation;\n\nINITIAL HERE\n---\n# 354.2.1\n\nto access the commercial leased premises for purposes of compiling an inventory of movable goods, stock, equipment, fixtures and fittings upon the commercial leased premises;\n\n# 354.2.2\n\nThe LESSOR shall present the LESSEE and/or the Business Rescue Practitioner with a copy of the inventory; whereupon the LESSOR's tacit hypothec shall be regarded as having been perfected; as such by agreement between the parties; subject to the business rescue practitioner's entitlement to challenge the presentation and/or contents of the inventory in a court of law. It be recorded that the LESSOR shall have security or title interest in respect of the contents of the inventory as envisaged in terms of section 134(3) of the Companies Act No 71 of 2008 (as amended), unless a court application directs otherwise and to the extent that a court on application directs otherwise.\n\n# 36. LEGAL COSTS AND OUTSTANDING PAYMENTS\n\n# 36.1\n\nShould the LESSOR institute action against the LESSEE pursuant to a breach by the LESSEE of this Lease, then without prejudice to any other rights which the LESSOR may have, the LESSOR shall be entitled to recover all legal costs incurred by it, including Attorney/Client charges; tracing fees and such collection commission as the LESSOR is obliged to pay to its attorneys; from the LESSEE;\n\n# 36.2\n\nWithout prejudice to any of the other rights or remedies of the LESSOR, the LESSEE shall pay from due date to date of payment interest at the LESSOR'S discretion at a rate not exceeding 2% (two percent above the current prime bank rate charged by LESSOR'S bankers from time to time during the period while the payment is outstanding on all amounts (rental or otherwise) due by it to the LESSOR in terms of or arising out of this Agreement of Lease, including any monies disbursed by the LESSOR on behalf of the LESSEE.\n\n# 37. PAYMENT OF RENTAL IF CANCELLATION DISPUTED\n\nIf the LESSOR cancels the Agreement of Lease and the LESSEE disputes the right to cancel and remains in occupation of the PREMISES, the LESSEE shall, pending settlement of any dispute either by negotiation or litigation, continue to pay (without prejudice to its rights) an amount equivalent to the sum of the rental and any other amounts payable as provided for in this Agreement of Lease, monthly in advance on the first day of each month, and the LESSOR shall be entitled to accept and recover such payments. Such payments and the acceptance hereof shall be without prejudice to, and shall not in any way whatsoever affect the LESSOR'S claim of cancellation then in dispute. If the dispute is resolved in favour of the LESSOR, the payments made and received in terms of this Clause shall be deemed to be amounts paid by the LESSEE on account of damages suffered by the LESSOR by reason of the cancellation of this Agreement of Lease and the unlawful holding-over of the PREMISES by the LESSEE.\n\n# 38. APPROPRIATION OF PAYMENTS\n\nINITIAL HERE\n---\nThe LESSOR shall be entitled in its sole and absolute discretion to appropriate any amounts received from the LESSEE towards the payment of any cause of debt or amount owing by the LESSEE to the LESSOR whatsoever:\n\n# 39 Lessee AS A COMPANY/CLOSE CORPORATION\n\n# 39.1 Company Or Close Corporation To Be Formed\n\nIf this Agreement of Lease is entered into by a person/s acting as trustees on behalf of a company or close corporation to be formed then:\n\n# 39.1.1\n\nThe trustee/s in his/her/their personal capacity hereby jointly and severally warrant/s to the LESSOR that the company about to be incorporated shall, within thirty (30) days from the date of this Agreement:\n\n- 39.1.1.1 be duly formed and incorporated;\n- 39.1.1.2 duly adopt, ratify and confirm to render this Agreement binding on it;\n- 39.1.1.3 deliver up its Memorandum and Articles of Association in the founding statement in the case of a company or in the case of a close corporation together with a true copy of the resolution referred to in 39.1.1.2 duly certified by the Chairman or Secretary of the meeting:\n\n# 39.2\n\nThe trustee/s in his/her/their personal capacity hereby jointly and severally bind themselves to the LESSOR that, failing compliance with the provisions of 39.1.1 hereof; they shall personally be bound by all the obligations and entitled to all the rights of the LESSEE in terms and arising out of this Agreement of Lease.\n\n# 39.2.2\n\nIn the event of proper compliance with the provisions of 39.1.1 hereof; the trustee/s shall be bound by all the terms of the Deed of Suretyship incorporated herein and signed by them in their personal capacities but in the event that they shall be personally bound by all the obligations and entitled to all the rights of the LESSEE by virtue of non-compliance with the provisions of 39.1.1 hereof; then the Deed of Suretyship shall be regarded non scripto.\n\n# 39.3 Transfer of Shares or Member's Interest In the Lessee Company/Close Corporation\n\n# 39.3.1\n\nIf the LESSEE is a company whose shares are not listed on a recognised Stock Exchange, no shares therein shall be transferred from its shareholders, nor may any shares be beneficially allotted to any persons other than such shareholders, without the LESSOR'S prior written consent which, in the case of an allotment transfer of shares, shall still leave control of the LESSEE with the beneficial shareholders as at the commencement of the Agreement of Lease or of a.\n---\ntransfer of shares to a deceased shareholder's heirs; shall not be unreasonably withheld. Any transfer or allotment of shares affected without such consent, which consent shall not be unreasonably withheld, shall constitute a breach of the terms of this Agreement of Lease by the LESSEE: For the purpose hereof, a change of ownership of shares even if not accompanied by a transfer of such shares shall be deemed to be a transfer of shares.\n\n# 39.3.2\n\nIf the LESSEE is a close corporation no member's interest therein shall be transferred from its members to any other persons other than such members without the LESSOR'S prior written consent which, in the case of a transfer of interest shall still leave control of the LESSEE with the beneficial members as at the commencement of the Agreement of Lease or of a transfer of interest to a deceased member's heirs, shall not be unreasonably withheld. Any transfer of member's interest effected without such consent shall constitute a breach of this Agreement of Lease by the LESSEE: For the purposes hereof a change of ownership of members interest even if not accompanied by a transfer of such member's interest shall be deemed to be a transfer of member's interest;\n\n# 40 LIABILITY OF PARTNERS\n\nIf the LESSEE is a partnership then by their signature hereof; the individual partners of the LESSEE bind themselves; both as a partnership and jointly and severally as individuals, for all the LESSEE'S obligations to the LESSOR under or arising out of this Agreement of Lease: Similarly joint LESSEES shall be jointly and severally liable for all their obligations as LESSEES under or arising out of this Agreement of Lease.\n\n# 41 ASSIGNMENT, SUB-LETTING AND SALE OF BUSINESS\n\n# 41.1\n\nThe LESSEE shall not be entitled to cede; assign or pledge this Agreement of Lease or any of its rights or obligations hereunder; without the LESSOR'S approval:\n\n# 41.2\n\nThe LESSEE shall not be entitled to sublet the whole or any part of the PREMISES; save as follows, without the LESSOR'S approval which shall not be unreasonably withheld:\n\n# 41.2.1\n\nIf the LESSEE wishes to sublet; it shall apply to the LESSOR in writing for consent to the subletting of the PREMISES or part thereof;\n\n# 41.2.2\n\nThe LESSOR, at its sole and absolute discretion may either:\n\n# 41.2.2.1\n\nrefuse consent;\n\n# 41.2.2.2\n\nconsent to the sublease on such terms and conditions which it may determine in which case the LESSEE may on receipt of such written confirmation by the LESSOR sublet the PREMISES or part thereof as the case may be.\n\nINITIAL HERE\n---\n# 41\n\nIn accordance with the written application submitted to the LESSOR in terms of Clause 41.2.1;\n\n# 41.2.2\n\nCancel this Agreement of Lease; and\n\n# 41.2.2.4\n\nMay give the LESSEE written notice of its intention to enter into a direct lease with the proposed sub-lessee, in which event on the commencement date of the new written lease entered into between the LESSOR and the proposed sub-lessee this Agreement of Lease between the LESSOR and the LESSEE shall be cancelled and be of no further force and effect to the extent that it relates to the portion of the PREMISES so affected. This cancellation shall; however, in no way detract from the LESSOR'S rights to recover from the LESSEE any amounts which have arisen in terms of this Agreement of Lease and which are still outstanding at the date of such cancellation.\n\n# 41.3\n\nThe LESSEE shall not be entitled to sell its business conducted from the premises without the prior written consent of the LESSOR, which consent shall be granted in the sole and absolute discretion of the LESSOR and on conditions determined by the LESSOR at the time;\n\n# 41.3.1\n\nShould the LESSEE anticipate a possible sale of its business or any portion thereof; and prior to entering into concluding any agreement with potential purchaser, the LESSEE shall notify the LESSOR in writing, which notice shall contain the following minimum information:\n\n- 41.3.1.1 the name and identity number of the potential purchaser;\n- 41.3.1.2 the name and registration number of the proposed purchaser in the event of a juristic person;\n- 41.3.1.3 the proposed sureties and their identity numbers;\n- 41.3.1.4 the experience, curriculum vitae and resume of the potential purchaser and of any individuals that will conduct the business;\n\nINITIAL KERE\n---\n# 41.3.1\n\nthe amount of LESSEE installation allowances that was granted to the LESSEE by the LESSOR;\n\n# 41.3.1,6\n\ncopy of the proposed agreement of sale;\n\n# 41.3.2\n\nThe Surety (les) to this Agreement shall remain liable, and resigned to record their liability for where necessary shall be the duration of the unexpired portion of the Agreement of Lease, despite &d notwithstanding an approval of the sale of the business.\n\n# 41.3.3\n\nIn the event of the LESSEE having receiving an installation allowance from the LESSOR, the installation allowance will be repaid to the LESSOR on the following formula:\n\n|Amount of Allowance|x|Unexpired Period of The Initial Period|\n|---|---|---|\n|The Initial Period| |Amount to be repaid by the Lessee to the Lessor|\n\n# 41.3.4\n\nSuch repayment shall be payable upon demand from the LESSOR:\n\n# 41.3.5\n\nThe LESSEE shall notify the \"prospective purchaser\" of the content of this Agreement and specifically but not limited to the usage clause and shall furthermore make no representation that such usage cause or any other term of this Lease may alter or be amended or that such amendment shall be favourably considered by the LESSOR;\n\n# 42\n\n# REASONABLENESS OF WITHHOLDING CONSENT\n\nIf there is a dispute between the LESSOR and the LESSEE as to whether the LESSOR has unreasonably withheld its consent approval in any case where this Agreement of Lease precludes the LESSOR from withholding its consent or approval unreasonably, the onus shall be on the LESSEE to prove that the LESSOR has withheld its consent or approval unreasonably:\n\n# 43\n\n# JURISDICTION OF MAGISTRATES COURTS\n\nAt the option of the LESSOR any action application arising out of this Agreement of Lease, or any cancellation thereof any suretyship furnished for the obligations of the LESSEE may be brought in the Magistrate's Court having jurisdiction hereunder, notwithstanding that the amount in issue may exceed the jurisdiction of such Court.\n\nINITIAL HERE\n---\n# NOTICES\n\n# 44.1\n\nAll notices which are given by the LESSOR to the LESSEE may be given to it at the address set out in Clause P of the Schedule; at which address the LESSEE chooses domicilium citandi et executandi (address for service of documents) for all purposes hereunder; or at such other address of which the LESSEE may advise the LESSOR by written notice duly received by the LESSOR.\n\n# 44.2\n\nAll notices which are given by the LESSEE to the LESSOR shall be given to it at the address set out in Clause P of the Schedule, at which address the LESSOR chooses domicilium citandi et executandi for all purposes hereunder, or at such other address at which the LESSOR may advise the LESSEE by written notice from time to time.\n\n# 44.3\n\nAll notices sent by either party to the other shall be delivered by hand or by telefaxy, electronic mail; or sent by prepaid registered post;\n\n# 44.4\n\nAll notices delivered, transmitted or sent as aforesaid to the respective addresses provided for in Clause P of the Schedule shall be deemed to have been received by the addressee on the date of delivery in the case of hand delivery or transmission, or on the fifth business day after posting as the case may be; unless the contrary could be proved.\n\n# 44.5\n\nNotwithstanding anything to the contrary contained or implied in this agreement; a written notice or communication actually received by one of the parties from the other including by way of telefax or electronic mail transmission shall be adequate written notice of communication to such party.\n\n# ADMINISTRATION CHARGES AND STAMP Duty\n\nThe LESSEE shall be liable for the payment to the LESSOR on demand by it the costs of drawing up this Agreement of Lease as set out in Clause $ of the Schedule: The LESSEE shall pay on demand, the stamp duty payable on this Agreement and any stamp duty that becomes payable for any reason for any renewal or extension of this Agreement. The LESSEE hereby cedes any claim for refund of stamp duty to the LESSOR in the event of any amounts outstanding to the LESSOR at date of such refund.\n\n# AGENT'S COMMISSION\n\n# 46.1\n\nThe LESSEE warrants that he has had no negotiations with any leasing agent with regard to this Lease. The LESSEE indemnifies the LESSOR against any claim for commission which, as a result of the LESSEE'S action, may be brought against the LESSOR by any leasing agent in connection with this Lease negotiations about it;\n\nINITIAL HERE\n---\n# 46\n\nThe LESSEE acknowledges that the LESSOR may have paid commission to leasing agent. Should this Agreement of Lease be cancelled due to the breach by the LESSEE, the LESSEE shall refund to the LESSOR such letting commission calculated on the previous SAPOA letting commission rates.\n\n# 47 EXCLUSION OF ESTOPPEL AND NON-RELAXATION AND NON-INDULGENCE\n\n# 47.1\n\nNo relaxation or indulgence which the LESSOR may show to the LESSEE shall in any way prejudice its rights hereunder and in particular no acceptance by the LESSOR of rent after due date (whether on one or more occasions) shall preclude or stop it from exercising any rights enjoyed by it hereunder by any reason of any subsequent payment not being made strictly on due date.\n\n# 47.2\n\nAny warranties or representations, whether express or implied not stated herein, shall not be enforceable against the LESSOR.\n\n# 47.3\n\nUnless otherwise stated by the LESSOR, in writing, the receipt by the LESSOR or its agents of any rent or other payments shall in no way whatsoever prejudice, operate as waiver, rescission or abandonment of any cancellation or right of cancellation effected or acquired prior to such receipt.\n\n# 47.4\n\nIt is specifically agreed that the payment of rental by way of cheque is an indulgence to the LESSEE; and in the event of such cheque being dishonoured for any reason whatsoever, the LESSEE shall thereafter be obliged to likewise effect all further payments of any amounts due in terms hereof in cash, and the LESSOR shall be entitled, in addition, to recover from the LESSEE, over and above the costs and other charges due in terms hereof, the administration costs involved in redepositing or clearing such cheques.\n\n# 48 SEVERABILITY\n\nShould any one or more of the provisions of this lease be unenforceable then such provision(s) shall be severed from this lease and the remaining provisions shall be of full force and effect.\n\n# 49 VALUE ADDED TAX (\"VAT\")\n\nAll payments to be made in terms of this agreement exclude value added tax payable in terms of the Value Added Tax Act; No. 89 of 1991, as amended and any other rates, taxes or imposts which may be payable thereon. If any rates, taxes, imposts or value added tax in terms of the Value Added Tax Act; No. 89 of 1991, as amended, or any other national, provincial or local legislation, practice or directive be imposed on any payments to be made in terms of this agreement; such payment shall increase ipso facto with an amount equal to the value added tax or any other rates, imposts payable in respect thereof.\n\nINITIAL HERE\n---\n6\n---\n# 55.1.2\n\nuse new information and data obtained from the credit bureau In respect of the LESSEE'S future credit applications;\n\n# 55.1.3\n\nrecord the existence of the LESSEE'S account with any credit bureau;\n\n# 55.1.4\n\nThe LESSEE acknowledges and agrees that any information regarding his/her creditworthiness; defaults in payment to the LESSOR and details of how his/her account with the LESSOR conducted may be disclosed to any other Creditor of the LESSEE or to one or more credit bureaus;\n\n# 55.1.5\n\nShould the LESSEE fail to pay any costs, the LESSOR reserves the right to disclose the LESSEE'S aforesaid failure to the credit bureau.\n\n# 56 FICA REQUIREMENTS\n\nThe LESSEE acknowledges the LESSOR'S duty to comply with the Financial Intelligence Centre Act; 38 of 2001, as amended, and agrees to provide the LESSOR with the relevant documents required by law and undertakes to complete the FICA form, attached as Annexure \"F\", and return the same to the LESSOR prior to commencement of the Beneficial Occupation Period.\n\n# 57 CONSUMER PROTECTION ACT 68 OF 2008 (\"CPA\") AND PROTECTION OF PERSONAL INFORMATION ACT 4 OF 2013 (\"POPIA\")\n\nThe Lessor and Lessee each hereby consent to the processing (as defined in POPIA which includes collection; retention and transfer) by Spire Property Solutions (Pty) Ltd of the personal information (which includes contact details and identification numbers) as may be required to give effect to or otherwise implement the provisions of this Agreement and the transactions contemplated herein. This will include; where relevant; providing personal information to financial institutions, mortgage originators, attorneys and other service providers such as those required to obtain compliance certificates:\n\nINITIAL HERE\n---\nPu|\n---\nm    pe\n---\n# 3\n\nA MEN A\n---\nhereto, this lease shall commence on the 1 October 2022 (\"Commencement Date\") and will endure for a period of 3 years until the 30 September 2025 (\"Termination Date\") unless otherwise terminated.\n\n# BENEFICIAL OCCUPATION PERIOD:\n\n30 days\n\n# COMMENCEMENT OF TRADING:\n\nNotwithstanding date of signature hereof; the commencement date shall be:\n\n- 22 September 2022; Or\n- the first day following the completion of the fitting out period; or\n- the date on which the Lessee is capable of trading from the Premises, whichever is the earlier:\n\n# OPTION TO RENEW:\n\nThe lessee shall have 1 (one) option to renew the lease for a period of 3 years under terms to be agreed 6 months prior to the expiry of the lease:\n\n# EXPIRY DATE:\n\n30 September 2025\n\n# MONTHLY RENTAL For LEASE PERIOD (EXCLUDING VALUE ADDED TAX):\n\n|Period|Monthly Rental|\n|---|---|\n|22 September 2022 until 30 September 2022|R 4 725,00|\n|1 October 2022 until 30 September 2023|R 15 750.00|\n|1 October 2023 until 30 September 2024|R 16 695,00|\n|1 October 2024 until 30 September 2025|R 17 696.70|\n\nThe rental payable shall be as stipulated above which includes escalation at 6% per annum compounded for the duration of the lease. (including the initial 3 (three) year option period):\n\n# ESTIMATED RATES AND TAXES (EXCLUDING VALUE ADDED TAX):\n\nTo be advised\n---\n# LESSEE'S PRO RATA SHARE:\n\nTo be advised\n\n# MARKETING Costs (EXCLUDING VALUE ADDED TAX):\n\n307\n\n# TURNOVER RENTAL For LEASE PERIOD:\n\nB0\n\n# PARKING RENTAL:\n\nNA\n\n# PERMITTED USE OF THE PREMISES:\n\nThe business carried on in the Premises shall be limited to the retail sale of stationery and gifts, under the name and style of \"Yokico\" and for no other purpose whatsoever; unless approved by the LESSOR which approval shall not be unreasonably withheld:\n\n# MINIMUM BUSINESS HOURS:\n\nMonday to Friday: 09:00 to 19:00 (minimum)\n\nSaturday: 09:00 to 19:00 (minimum)\n\nSunday & Public Holidays: 09:00 to 17:00 (minimum)\n\nAll of which may be varied from time to time:\n\n# DOMICILIUM CITANDI ET EXECUTANDI OF LESSOR:\n\nClo Flanagan & Gerard\n\nMorningside Shopping Centre\n\ncnr of Rivonia & Outspan, Morningside, Sandton\n\nFacsimile Number: 086 673 0647\n\nE-Mail Address: kp@fgprop.com\n\n# DOMICILIUM CITANDI ET EXECUTANDI OF LESSEE:\n\nUnit 6, Canterbury Studios\n---\n35 Wesley Street Gardens\n\nCape Town\n\n8001\n\nEmail Address: tomk@yokico.co.za\n\nContact Number: 076 522 2211\n\n# RENTAL PAYABLE BY:\n\nEFT on or before the 1st (first day of each and every month), into the LESSOR's bank account as follows:\n\n|ACCOUNT NAME:|Spire Property Solutions (Pty) Ltd|\n|---|---|\n| |Boardwalk Mall Trust A/C|\n|BANK:|FNB|\n|ACCOUNT NUMBER:|62917390213|\n|BRANCH CODE:|210554|\n|YOUR REFERENCE NO:|29210|\n\nThe LESSEE will ensure that the correct reference number is used for ALL payments and acknowledges that the LESSOR will bear no responsibility for misallocated funds as a result of the incorrect reference number being used.\n\n# OR\n\n# DEBIT ORDER:\n\n|ACCOUNT NAME:| |\n|---|---|\n|BANK:| |\n|ACCOUNT NUMBER:| |\n|BRANCH CODE:| |\n\nDEPOSIT: (CASH Or BANK GUARANTEE)\n\nR 54 337.50 due 30 days before the Beneficial Occupation\n---\n# LEASE ADMINISTRATION COSTS (EXCLUDING VALUE ADDED TAX) AND STAMP DUTY:\n\n|Lease Administration|R2,500.00 excluding VAT|\n|---|---|\n|Stamp Duty|To be advised|\n\n# PENALTY RATE IN CASE OF LATE OPENING FOR TRADING:\n\nShould the LESSEE not commence trading on the commencement date as stipulated in Clauses C; D and E above or thereafter not keep the PREMISES open for business, then the LESSEE shall pay five times the amount of the monthly rental payable by it in terms of Clause H above calculated on a pro-rata basis for each day from the commencement date until such date upon which the LESSEE commences trading in the PREMISES. This penalty rate shall be applied at any time during the LESSEE'S tenancy; where it fails to keep the premises open in accordance with the trading hours as amended.\n\n# SURETYSHIP By:\n\nN/A\n\n# DATE OF FINANCIAL YEAR END OF Lessee:\n\nEebkuA@4\n\n# DUE DATE FOR ANNUAL AUDITED CERTIFICATE OF TURNOVER:\n\nwithin 3 months after the end of each financial year of the LESSEE\n\n# DIRECTORS; SHAREHOLDERS AND MEMBERS OF LESSEE:\n\nIienes Kimbeeley | PE__P839/37t0\n\n# INSTALLATION AND FIT OUT OF PREMISES\n\nThe LESSEE shall, subject to clause 17 of the lease terms and conditions attached hereto, install and fit out the PREMISES in accordance with the approved concept design. All costs of the renovation and upgrading of the PREMISES shall be borne by the LESSEE;\n---\n# ANNEXURES\n\nThe following Annexures form part of this Lease Agreement:\n\n- Annexure \"A\" Plan of Premises\n- Annexure \"B\" Tenant Criteria Document\n- Annexure \"C\" House Rules\n- Annexure \"D\" Resolution\n- Annexure \"E\"\n- Annexure \"F\" FICA Document\n- Annexure \"G\" Debit Order\n- Annexure \"H\" Special Conditions\n---\nAeuA\n---\n                      FH 47\n    86 m?              Biops & C\nSH 33                 17 m?\n       40m24\n                           54B\n                                106\n---\n3\n8\n1\n---\n 71                                         2 J |\n                                             N\n                                 #\n                                 1\n                                 8\n                                 {\n                                 8\n                                 {\n                                 8       3\n]             1 7|           2  8 6      V\n   :                         2               F\n            I        1       1 81       6 8  1\n          1 H                    0     5 I\n            Il\n         W          2           1 h\n      1                        M\n                        7 #Ih          I |\n         1                    2      8\n           0                   838   3\n                 3     3  3 33       3   79\n---\nM\n---\n      2\n(     2\n---\nV 2\n---\nM\n---\n   8    1         2    3   J   2  9    8     1    8    |\n   7       :      L    [       0  0          3    1  2\n        0  J       L   1       ]  1         [       L\n       V          3   4        3  1    1  1\n         9$           1    9              3       8\n        8 {       2        1     8\n                  L        9   1  1    }       8\n         5                 1   ]             1 8\n         1        0                         3\n        8         1   3    3   1  1    2   A\n        : }     9     1    1    I 8    I  1\n        1 1       1   L       1  L     J    1     9\n       li                  8   1                 W\n                      1    1  2  0         1   [  3 1\n      1 3             1   1 I1              I 8\n         1      0     1  2    8 j     [    9   [  4\n       4 8      8         }      8        1       1\n       { 1  L         9       {  [             9\n                2 L   1          1    !        1  8\n       H    1   1        ] 1 1 L 1 1 Ve ] lli\n       3 1  L     Jl J   ]  9      1      1       1\n      FF        3        8 3 1 1   2      9      3  1\n1     V              8 1 L   J        L 1 { H     1\n                  4 4       3  2       1  8\n                1    1         ]      1  1\n    { 0 ]      H            [   8             1  1\n                    1                HH\n      H     !        2     3    L     1           4 1\n                     L 3 J  L  L     8\n                           H 1 HH HH\n      8 1               1  g                  1 7  0 1\n      j4    p           5 0          8            L\n                                     1\n            7\n---\n2\n~\n---\n   2        1                             1    J |\n   7        9                       8 9      2 L\n            1                   1 Hi      2\n          M                     3   L 7   0\n              3              I     7      8\n              1              1\n                                4\n          {                     1  1 [\n              6       1      1            0\n          8           1    1 7     9    0\n      1   1 2     V          2     1 1  8\n          1   1       3        1 U        8\n        8             [       3      9\n        H 3  8    3          1          8 9\n          1  1    N    1   [   8  1 1   8 ]\n        HI\n          8       V    1      L           1\n     1 W             5       3   !   31   9 3\n1       0 L 1   { 1 L  0     1   1i W\n              H\n   < W          8 8  6 8                  1\n     1     1   8  L  1       0 1    Iixx     1\n        3 [ X H       1  1   3        2 1    1\n              HHW            1   3 j4\n     3     8          1    1 {   8 8 0       I\n        1  1    1     1              2 HL\n        I V    0  0   2         N\n     7  4                    2 1 3   0  2 8\n---\n               5l\n               3\n  V\nm\n---\n    p V        V                      4 3          4 J |\n         2 {   8                      I ]     L    2 1\n          g   = {       1 1 2           2  U\n         L 9    4       1     8       3 1\n                1        I\n         9      8         4       8   1 2  ) 1\n         4 2  1}         1 2 }    1 V    1 4\n         l      3         i           3 1\n         4     3        1     3   1   \"% 7\n               9               j |\n          4    J                      8  4 J\n        Vf\n          2              H\n               0             8    7   L   Jj 0\n        3               8           4 1    8 1\n         1 3            1 1  1  I   1 V\n       M       j )      1      ] M\n          L     2           1         1 {  1 4 6\n       0 3     8 14      8  1 lu 1       1 1\n          1              }         j1      1  1\n       1 L     I \" 1 W 8        { 1  01 L 1]\n       0 4          1      [    8 7      3 1  7\n          {              {        1   1 W\n]     4 1          1  1 1 0 8   0  M{  8\n    J \"         L       L       4 8          L    1\n    {               {  6  ]       Hi 2\n      0       i J  8 2  1 L 3   4  L       8\n            1              Hlhh\n                 I             !      3  6\n      L  1  0 J4          J           1 VL L 1    1\n                                      Wi\n         4      4 1      ] 1  ili      8      1\n         i    9 0       !  0                      [\n      2       8   6  1                8 j\n---\nV       2\n---\nM\n---\n        1 4 1 2    1     [ J                     5 J |\n  7        9  8                                  2\n        li 1  8          1 8                       L\n         J6 1 2    1     1                           F\n        8     1    ! 1     I\n            1  8            4\n        1   8 1    1 ]   04\n            9  1 4\n        11 1 {     0     ! 8\n         ] L 1 ]    0 2     [ L\n                      g  8\n         2 3 8 8   W          ]\n            1\n        YVli\n               2    0 8     9 4  ]\n         4 N        1 1     1 1  L   ]\n          { 2 4 1     ]     2 1      2      I\n          8    1                 3  {\n         V      3\n          7 1      i]    2]      1  1       2\n               3    { 1   0 8\n            8  g          1      2          2\n          Mi        8            17 IH\n         2      1 8  1      3 2\n               L W  =   8   1 [  1          2\n1         1    8 8 4  Y1    1    1               F\n                ill\n                8   1 8  1 ]     1       1       L\n           8  1 li   1  1  8     1    L          1\n           L     2   { 1         2\n              3  1   2 1 a L     8   5  8   L    I\n          W          1           8   3   3 HL\n      4         4                1       J\n---\n        M       I          W              {          J L\n                           4      2         8     1  4\n   1     1                               1  1      2\n        i             8        L          5   2     L\n                 1 4  1    {      2       8   1   {\n        2 1           3    8   0         2        6\n        11       L V       2     0      1     7\n                 li            2        ]   3\n         3      J              0 3            0\n        Li        5           1 3       {     L  8\n        8 1     1 1        1     1    ]       1\n        1       il 1       J 2   1      1   7\n        [ I                8  1 1      8    1   1\n        1 8               ]     {      }    1   6\n          [     { 2   8      0         1        1\n        g 1           4         3      L   3\n        0       3 2 3     3 {               1\n        1       0 01      V     5   2       0 1\n        {        8 2         3  1   1      4  1\n      2 8        0           1  1\n        L      1      {6  1 1 9            3\n        1        WH           5    L  }   Hi      L\n] H                           8\n                            Iii\n    J          1 3  \"6    1        6  1    1 9 {  1\n    {   8      3    1       9 8       8        0\n      1i2                          8\n               1          8 W         [           1\n                6 8 2     1 V             3 He\n       1 5  1  1      IL JV 8      1  1   8\n      Hl\n       4    2             1        lt VMI\n                       5                  3   2\n---\n(\n---\n    p                                                    A J  |\n    1                                      JOHS 7VNUBLNI 2    L\n                    11           1 Hh       1dhI\n                                            1\n                                           JOHS TVNHBINI\n                                          dOHS IVNUBINI\n                   H           H\n] J                        d           I IKH\n                                          1\n           Lul           1                              1\n                                          dOHS TVNU3LNI\n---\n  p     1   49 2 1        I       ] 1       9 J L\n  7     8   1 li       1                    2\n        7   L                     8  ]\n        4       9      8  1       ]\n        I      J 5     0             2\n        L   8  9 1    1 I 1       8  1\n            9 1 8        8     V     g    1\n     { 8    2        3 X 6        3  1\n            ]        8 1 2 1   Vi       1/\n             1       7               3\n                     WH         2 3  7  Ii\n        2    8  2        V      Ji\n      0      ! 1      0     1           V\n      L 1    1  ]    0 9 2 I   8 1\n           1 1         01       8    7\n        8    8       1 8 0 5 14      ]  6\n            Ji 3          0            1\n        8          1   3 9    J 8        2\n               1                  1  8   1 g\n     1l      I 9         1 2 5 J U        ]\n               \"       1  1 8 !          2\n        8       6  8 I    8 2   7     2  9 2\n        5    3     L   I    3 2 2     IHi\n     V          9  4   6  0              2 3 1\n        {    9 I   9   L        8      3 1 L\n                              9        8\n]     1     5        1 V 3 I |     1 01\n            L   4          1  9          83\n   4            8 1 8     3        9 H       1\n   2    9            1 W               8  I  1\n        8 0  1 Vi             2   1\n        1                   V Hl\n          ]         1 V                   6\n        1    1  3   1 I 2 W        6\n        8 3 1 1     1  Ji\n      3 i] 2 JAi      3    2    1441444      7\n---\nX\n---\n       1     1     1     {   2   1     1  1      8 J |\n  1     1    1     2     0   9   2      1 1      1*\n             1     1        [    1                 L\n             1           li                          F\n             3           0              8 4\n        {           8                   6\n        4    1      1     1      6     li\n        J                } 5      !     1 3\n                          2 1    4        1\n        9     0            2      I    L\n        2     1     9        8           1\n                              1    8    1\n              {    8             1\n              1    2          1   8    9 1\n                   ]       1      2     L\n        6                  13 %    1     8\n        9          2               1     5\n                                         1\n        1     4            W        0   V\n        8      2           { X     1    01\n        1     ]     9\n        6     8            2 3      1  1 J\n        g                H         3    [  4     1\n        1 1    8                    1  L 2 1\n]       2      1    1      if I         1        7\n   1    Ij    1     2                  1    8\n                    9      L  L  1  3    2  8    1\n         5       2 8   1 W          ]   U L\n        1           {                  7\n          ]         W       8     V\n      1         {           1 1 1   3    1\n         { 4   1    1 3 Ii    3 9    L  3 V\n          2    !         Hilyl          1  3\n         2 11 8 2     1    2         1 3 2 I1     0\n---\n4\n---\n  2              3  8    1       2               3 J |\n  7              1\n       1         l        7      2  2        0    I\n                    2  9  1  Ii      1      ]\n       8          8      1     1\n       0            9 2  2     9 1           1\n       1               4    8  3 1   2\n       8          8 L       7  1 4\n                  1     8   8  1 1           8\n       8          [ 8       2\n         8                  8          ]\n         2 |           3  1\n        {              6       ] 9    8      L\n       1           I    1   1      0   3\n                               {   2         1\n        1 1 0  L [1            L       {     1\n                  1     3   0      {  1 1 7  1\n         8 0       V        1   9  {   J H M\n         1 4            L   8  j    7  j  8    0 1\n          8 1               1                 8 9\n         1          8        81         10\n]     1 | ]                     8      8      0 1\n             1          2   1       6  3  6   1  L\n   { 1                      9 L H   1    8   !\n          3             1           H 1        X 1\n      1 L J 2               1   8        H     1\n          3 W 0 1I 0 1/ 1              1     1 8 I\n        1 J         I       115     6  8       1\n         ] IH 8         8          2         1\n      1 4 8             1 ) 1       1      3 8\n---\n         !              1         8       1          ] |\n   1                              8                3\n         !  8           2         9       1        2\n         8 0                    Ii                  1\n         p 9            2       I      [ 9   ]\n                               0         0\n         0 8            2   1   7       0    1\n         2  1           2   0   8 2      8 Ji\n        8   1           3       3 1     2 L\n                        1   1     3     1\n         1     L    L   0       1 8         1\n           4                     8      9 ]    1\n         9 1   9    0   L   49   J      1 1  1 1   8\n               1 1         {            8          2\n              1         1    1          8    7    1\n         1 8                   3      1 4          2\n                    1      ]            1\n         2 2  L     Ju         9 ]         1 1\n         1 1     1  8 1 1        2    Hi    8 8   L\n              1  9  0        1  1L      9   1 2   1\n        9     0  5    1    ] 1 1 V          1 1   1\n        1 1      9  3 W\n        L 4 L I4 V 1       2          H V V\n         L      1    WL      0 8       [     g\n]      ]      9   0 1   8      { 3     1 1\n          8 1 H              2 V           1     6\n    <  4  1              1    8      8 2    1 2 1\n       2 1  17 9 1    3 Ii   1 2 J     } 7         1\n      L 1   8     1   9 8 8 3 3 W    li 1 1   1 ]\n        8      1H            Vi              1     I\n        1 5  L 8      8 1          1    p  3 {  8\n      H     4              { 3       3\n---\n5\n---\nM\n---\n 8   1                              1       1    1  8 J L\n 7   0                              3       1   1o 2\n      1                             L            8\n      1                                          1\n                                   J        1    8\n                                            L    0  1\n      1 7                           1        1\n      2                                      1      1\n     Ji                              9  4    1\n                                    1   2 M 9 L\n                                        8        8\n     2 3                                         1 3\n      1 2                                3 3 9\n       1                             1 WX 1\n      V                                    1 1 H1\n      4 1                           1    ] 3 L 1    8\n        2                                8   [ 8 V\n            0                            0 2\n      j9                             5 Il Ii 2\n      1 L      11                    [       4 8 1  8 1\n      1 8  1   1       L           W 1           4 1\n]       8  [   0 0   1                1      1 8 1 0\n      JL   2   F 1}       1}           IW M F\n                                       1          {\n        :  1                           1 Ia 4     8 1 1\n      5                                8     1 1\n      Ix   3         0        0       1 iX 1     Ji\n           Hle          Wl             V 1   8  1   1\n      0 1    1     Hl 1         1      8   1    [ 1 IV\n      2 8  2                           8   {    8\n---\nM\n---\n  1  8       1           8 I                      8 J L\n     {       2        0  3 V                      2 L\n     9       2         8 0                           F\n     1       1           3    9\n      1                    8  5\n             3         3 ] ] 1\n                         8\n      ]     37        M L I\n             3          L  9\n      9      2                         8\n       8               3            0   %3   {\n       8     0          L      7    4\n      1        8           [ L 8    1   8    2\n      1        L         1  1           2    3 2\n                           3        4   8      2  8\n       1              I            [    1     1\n     1,      1         9       1 L      ! W\n                                              I\n               1           {  L   2 1             2\n                      V\n      H       3 1          2 2    8   9  1    0 2 1\n              1         3   1 W          8    1 1 1\n        9 1   1 4     Hi W              7     M 1 1\n        0 4     j       1 4  \"     1  1  8     7\n] 3     01 8 8 g   1       8 8 1              V 4    7\n      1 1  1   8           8 1        2  ] 1      g  1\n      H         { 1     1 N        3  1  8           1\n                {            {     0 1 ] 2 1  4 4 X\n      V        1           JH  HL             1 L L\n            I!          4 \"           1 1 3     1 1\n        1 4        17 9 1 1        0] 7 H\n           li 3            1 10         8 7\n                I   1                 3  1 2 2 2\n---\n                     3\n                     4\nV(\n---\n           2\n           L\n3\n2           4\n---\n    0     1                         9       6      6 J |\n   1      g                         0              2 08\n          L                    1       4    ]       L\n          1   1                    3   {    3    #\n         9                     1   I  9     ]    L\n          5   2                      1\n         {    1                1   1       7\n         2                   7       1           2\n         8  [                2   @               5\n         8    8 1            8   1     8   8    2\n        9     8              1    L    1   1    1\n        {   0                     {        7     [\n              { 2                          1   1\n                7                4    1    5      4\n              1 9                 0        1      9\n        2     |               1   I   8       Il\n        8    I    L              ]   1     3   6 8\n       0    1 2 4             |  }   6   I4       2\n      L      1  8                   7 H        1  0\n      3     1 J 1 #       1   3  8      1 1    8 V\n       1                         I\n]      1 1        1          1      2  { 0\n       [               V       0       1 8        F\n                  2 L            8   4        WM\n      g   1 L {    21        2 7     1 Ii 1   [ 4 1\n       0 8         1      1 14 1     8 7  1      1\n      { i7 9 8 I                 1   1   6    0 V\n      L       1 ]            1 [ H 8 J        3\n          1 I     0 2        j ]    0     8   ]\n          { 2 2           7 2 ?  2      8\n---\n 0       1   1       }   ]                       1 J |\n 1           1       2\n                      1  1                           [\n         2    5          8\n             ]        1  8\n         1            8   8\n         0   3      1     1\n              2    1      3               1\n         8   4             2\n         1   {                     4      8\n         L                L               %\n       [           4  [                   3\n         3   1     6               8    1 2\n       H     2     H     1        1       1\n         1 L 3     1               8     0 1\n       1         1 H 3        9    8\n             9       0             1     1 1\n         J H        {         1    8       3\n     il    1     1    L   2 1           M\n          1        8      1 9      1    8]\n       2           2\n     JH !     1 M          1   9   3             1\n        1 V      14 3      8   1   1        L\n] J   ]  3                4             0\n      9   0 g    0       I       04     L Ve\n     li 4    ]   6  8    2  1 W {          0 8   1\n             8   M] 8  1 7             6 8 0{\n       8 3 U 1         1    8 1    [ [ L         1\n      V       2     8                   F\n         2  9 i1 ! 2   1   1           [  2 {\n                      7\n---\n                  2\n                  2\n1\n---\n  2   8     1  1         1    !{        1     p  0 41\n 7   1                        Vi    2 3       9  2\n          11   1       1       8 4 i{      L  1    L\n            3            9              8      L     [\n      8    1        1    4     18 1   3 1  3\n     9      L          1 1     1    1      1   8\n               J       {        1     0 9\n       ]    2                  1      5 9  3   1\n     3 4   ]   8         L 3    8 3   4 !  1\n     Ii ]  8   L       0   1 1 1      8     I  8\n         9           0   2 1 1     0       3   1\n     9 8        8    L\n         1 8   1       ] 0      9 2   3 9   2\n            8   1         1 L 6 1X 2 2  L     1\n         1 8 1  8       ]i 8    1 4 W       4\n         1\n         Lil 9  3          3 1 4 8 4 1       1  9\n            1   1        2 6    3 3             1\n      3 3  2 1  1    8 8 8 8    [ iX 1      2\n      2 1  1   9    1 L 1        8 1        1\n       L   1 4   3       0     3 I               0\n          12 {  1      {   9 L 8  4 4        1\n                           9     3  0\n        8   ]          4 I      [ 1              1\n                           MHL               9\n       2 9              5       9 0   Vi     1 1\n        I        1      1  9      8\n        2 WH     8   P 9 L 8 1 JVX 2\n1           2 Vi        7     9 IV\n        8  2               8  1   1 9            1\n   < iX    8 8   4      3  8 I      8 8     2\n             8                              8\n     XM        L 1   7  8 ]     2  8 Iwh\n        0 1             8  9 j      \"       H 9 J\n                 ]     iV1            8 IW\n        8 8 1              6       1 8            1\n          1 8 8  { 2            2 8          g 2 2\n              !3 2 1  4                           1\n---\nM\n---\n  2          8   1 9 4       1  1    2     [ 2    5 J |\n                      8  g           1          1\n  7              3                         V\n             3       jil    9  L     2\n              {             1  8\n              1  1 9     3     il    1     1\n                   \"     1   3               [\n              8  L 1     1   8      1    1 1 1\n              2    4     1  1  1  9 1\n              1  2 8              2        0 8\n              6   | [    [   5 L 1 Ii      0 8\n                     L 8     2 V 1 0       2 4\n      I    1  [              7 0    2      0 0 6\n      I           8  5 1     1       8 1   1  1 [\n              1                9     I\n                  7  9   4 0 3             9    ]\n      8       7   9 1 L        9  2 3          8 1\n      8       1                I  0  1    6    2\n      ]       7   {          L       0 1      9 8\n        0            L 4          2        2 11\n      3                  3        J        7\n       1            8 KH 4          \"5          8\n                   L ] i 3           8 1   0    1\n      8 8  9                  8 8   2       3     1\n      1 1      8  7           1 8    J 1  P 2     6\n      0    1   1 1            1             !\n]                    [            8       1\n        2                1    3 I H                    F\n   <            8 2 3     8 JH                  3      [\n       L 1                   5       3 1  1 2  1  1 E  1\n     H            8   1              1    JV 3\n       1        ]    2    2    2     L 1\n                  0 1 4   1 8 HL                2 H  1\n                              1      I\n               8 1       L8       8  2    2     )  8\n        3      2  4               2  4\n            4                              5\n---\n    8    ]   4                  5 V      LL           J |\n   1                1      1    |          1  8      6\n         3   ]             [       0  I       I      2\n         1   8      1    3      8  ]  ji      J       1 L\n         L   1      L    1     [  0 p    8 9\n         L           1            0   3   0 i 8\n                         8       V            3\n             5       6 Hi                1    8\n                     1                   1    1\n        1           I 1     6  1     7     3\n                            L     3   8   8  3\n             L             1    01    1I      8\n                    8 ]    1                1\n        5          1   9   8   1     1 U  [ 1\n       0     8       8 3 W        1  8 U 1 2\n       8     0  5 8    1          1  1  3 I]  8\n       9  {           8 W 9 9 9      7\n       1  1                1  3 4       8  9\n                1          1   L  6       1  4\n          3          p V4       J     ! VH 5\n       1  [         1 5    0 3   I 8         1 %\n           !         1 8  1    0      1\n       8  2     1  1   8   6 1        3  8 8 1\n       9                4  2     1 4 L 9   [\n      1    1       4 8 L  8 1 1 J     1 0i\n       7     8     1                         IX\n          8 J       1 Hil 1     1 1 { 1 VHY\n           8        Yii 1    1 liil          0\n]      8 1                9\n                          1\n                    WH\n    ;     \" 9                3 8 9  Jl 8     6  4\n      1      F 5                  2    0     1 8 j  1\n    2 1     ]   1   8 V         ! L        3 ]      1\n          8       9          3            7  1\n                    W 2         1 V JH\n          2 7           8    1 2      :       9\n      !   8       8   g   1     1 M 1     Iii 3   I\n         Li       8       9           8       2\n      2             4 2 2 10 2    1   2 1  8 3 }\n               4\n---\n 2  2 1                  8  7   2 N    4     J 1\n 7  }                    \" 8    3      { 013  8\n      5                 6          9  [[ ii 2 0\n    4 1                   8 4  1  1 [ 1\n    1 8        [        0       J      [  g\n    U     1 1 I           8 H Z 0 8\n      1                   2    3   1  6 Hi\n         0       9 1      1j 1     1      3\n    8     J                 1        8\n                                      WV\n    1 J       1 6           9  1  4  0  1\n          1     0           1   L      !\n     {          ] V        2 Ii    3 4    4\n      {   [    9        6             [ M L\n      4         9 9 HV     8   J  I7 8    6\n        0   1   1          1           8\n     8  1       3 1         1         4 3 4 W\n     1      1   1 1  1  6 li 2         M\n        1   8 L j       1    1        1! V\n          WV             4 8 3         L  8\n     3          3            1     9\n     L 2         3     1 W         6 8i Ip 1\n          M      1              1      4  8\n     L          8  1        2 M  1 L 1 0    1\n      \"       1 2 2 2  1  WL         1 5\n         1      p 1 L                 3 4  {\n]    8         [       1    4 2 4  1 Wii     7\n   <               1        %  8   L         1\n     2                 Ji             Wi  8  1\n     L        a M  3               1 2    J\n         1   1  !  1        2  L 3     I\n     3           1     IH             9  6  4\n         9             [           1   1 {\n      H\n               1   1                  1      1\n                               HX\n     81          9  2      Yif 9 2 &      [  1\n             0 2 2 2        2             9 6\n                        5\n---\nM\n---\n  0                                         8 J |\n  1                  1           1\n              2      }\n                     8           2\n                            1\n                            3\n                           3\n                            9\n                     \"      1\n                            {      2\n                     ]      L       1\n               9             1     2\n               1     3             8\n            ]  1     1       1      {\n                             {      1\n            [  1     8      1       2       L\n               5     1       8 8\n] ;         8  J     ]     W L               0\n   2        0 8      J      ] 8  JJ          1\n            2                 3\n           I 7       1                       1\n---\n   p                                          3 J\n   1                                          2\n        3   1 HU     1  IV\n            2 2 2 2     2\n                                     L\n              J     1    [       0   1\n            8 3 ]   {     1\n            2 1 V        2           1\n            ]   3        Il      0\n             1 0 5 2            iw\n           3 L 2 1 8     !l\n            1      ]    8              1\n            I 0         2        8 4\n                1 1 j              8\n        2   1 0                  L 3\n        1   8 8 0 1 8   | ]       1 8\n               8 8                 {\n              8     7           HL 4\n] :              1 HHHHHWY\n   2    f   1 M lihi 8          HU1|         1\n           8   Il 2               2          1\n                                   Il        1\n---\n  8                                         8   |\n  7             L                           2   F\n                    6\n                   il\n                   1 9         1\n                   2 2\n               8   5 8       2\n                    1 1      3\n            4   1   9       iU          ]\n         L  0  L    2 6\n                      2                 5\n            1  1  1  9 [     1  8 1     1\n         1  1   9            1          1    1\n             1 8 L   1 4                1\n1 J      L   8 1 4           L  1 3     ]    !\n            ] i| 2            j ] 2\n   2             8   3            8          1\n             9 L              1              1\n---\n   1                                         8 1 1\n                                              2\n      IV      1 W                     L UU M     L\n      2 2        1  )    )                 V\n                     5\n                     ]   I  Hhuhl\n        1        0   8   )      4  1\n                 1   1        FH_\n                         2         8 5\n                 1       J    Ji 9       8\n        1        3         1   9 2  8   p\n        5      { Ull     5      JVV       2\n        1     9    3     [   1 3    8   9 0\n        L     8                 ] 3   il\n              ] JU 8     [ 1 9   ]   1\n              {              1  3 4 1   4 7\n                                1\n        1          3 H 1              3 3\n        ]     2 L 1              8 HHl\n1 J   6 1     1  1 Hl 9 2  8 6 Ib 1 8 9\n      1                2     8   0\n       ]        UiHju             9          1\n     9        4              8 3 0H          1\n---\n8\n1\n8\n1\n1\n1\n---\n   0                                         1 ] |\n   7                       8      8 I 1\n                                  8 1\n                       8         [ 01 8\n                       8   8       HH\n                       1   8           1\n                           8     8 9\n                       8   8     8 0 $\n        6   1 V    8   #   R     8 M   1\n        2              2                   6\n            8      8   !         ilii)     !\n                          [ ]  ]\n      [      I                 3 1\n        8                 I    L\n        g    8  1           2 M\n      2 }    1 8       L  3 @ 1 {    1\n      5 2  HVL            0 4   8\n      X           1         0   1         IU\n1 Z        ]  8       2  I0   8 3   1\n   J                    4       5            F\n   <                                         1\n                        0                 1\n---\n  0                                         8 ] |\n  7      8                    9             2\n         g                   1\n         8                     3\n         1                   3\n                             9\n          I                   8 2\n         2 [                 L 2\n          1    1               3\n          9    1            I 5\n          1\n     1 1       8   1      ]    L\n     8     3   8          2   9\n          0 1                 1 3\n                         9    ] 1\n               J   [     1 M\n           8   6   1     1\n           3    2  1      H\n           8    2  % [   8     1            1\n1 ;   ]    L       ]           1\n                               1 1 ;         L\n   2                            I 1          1\n                          1   4 8 7           1\n                    1         8 1 3           1\n---\n    17\n    2\n    2\n0   2\n---\nT<   \" 4 . `\n---\n# BOARDWALK MALL\n\n# House Rules\n\n# GENERAL INFORMATION\n\n# 1.1 Building\n\nThe shopping centre known to be developed and to be known as: Boardwalk Mall, which forms part of the section/s designated for retail use (known as Boardwalk Mall) in the sectional title scheme known as \"Boardwalk\" situated on Erven 3456 and 3458 Summerstrand, Gqeberha.\n\n# 1.2 Minimum Trading Hours\n\n|Monday to Friday:|09:00 to 19:00 (minimum)|\n|---|---|\n|Saturday:|09:00 to 19:00 (minimum)|\n|Holidays:|09:00 to 19:00 (minimum)|\n|Sunday & Public:|09:00 to 17:00 (minimum)|\n\n# 1.3 Keys\n\nCentre Management does not possess keys to any of the shops. Should either you or your staff lose keys or arrive without them, we cannot assist you beyond making our telephone available for emergency use. Centre Management provides keys for the premises and the Lessee shall return to Centre Management, upon termination of the lease, all such keys and shall not permit such keys at any time to come into the possession or control of any other person other than the Lessee, its officials, employees or agents.\n\n# 1.4 Insurance\n\nTenants are obliged to take out Plate Glass Insurance that covers all glass; window frames and temporary protection. If broken glass cannot be replaced immediately, alternatively if plate glass insurance is taken out by the Landlord the cost will be recovered from the tenant. It is also recommended that tenants arrange for the following insurance:\n\n- fire and allied hazards (fire insurance)\n- loss of profits (consequential damage insurance)\n- public liability (self-explanatory)\n- house-breaking (self-explanatory)\n\nPage 2 | 11\n---\n# BOARDWALK MALL\n\n# House Rules\n\n# 1.5 Telephone Numbers\n\nCentre Management requires after hour telephone numbers of all tenants; Kindly notify management of your telephone number and of any changes thereto.\n\n# HOUSE Rules AND ADMINISTRATION\n\n# 2.1 Rental Payments\n\nRent is payable in advance on the first day of every month. Please comply with this legal obligation.\n\n# 2.2 Rental Payments\n\nCheques/payments should be sent to the Centre Management; If payment is by cheque and posted, kindly ensure that it reaches the Centre Management on or before the first day of each month.\n\nRental payments will also be accepted by bank transfer and the relevant bank account numbers will be obtainable from Centre Management.\n\nThe Agreement of Lease provides for monthly turnover figures to be forwarded to the Centre Management Office. Kindly do so before the 7th of the following month.\n\nThe banking details are listed on the rental statements and under no circumstances do we anticipate that these will change.\n\nAny notifications advising that Boardwalk Mall bank details are to be changed should be ignored and reported to us as this could be possible fraud.\n\n# 2.3 Vendors & Hawkers\n\nNo vendors or hawkers are allowed on the premises or in the Shopping Centre.\n\n# 2.4 Common Areas\n\nAll common areas such as passages, staircases etc., are intended for pedestrians and tenants should not permit articles or goods to be placed or stored in such areas. Tenant cooperation in this respect will assist in maintaining the image of the building and keep walkways clear in cases of emergency. No articles of any nature whatsoever may be placed or stored in the common areas.\n---\n6\n---\n# BOARDWALK MALL\n\n# House Rules\n\nStock and equipment may not be left in the arcades; passages and entrances of the building as this is in direct contravention of the council bylaws.\n\n# 2.8 Floor Loads\n\nAbnormally heavy equipment such as safes etc. may not be brought into the building without the landlord's permission; As the load bearing capacity of the floors is not the same throughout; tenants should consult the landlord in advance regarding the positioning of safes, large filing cabinets etc.\n\n# 2.9 Alterations and Repairs\n\nTenants are not permitted to make any alterations or additions (Including changes in electric layout; sewerage and water supply) to the rented premises before obtaining prior written approval from the landlord.\n\nIf the landlord approves alterations, he shall stipulate the conditions to be complied with before any work is commenced: All costs attached to alterations will be for the tenant's account: Upon vacation of the premises, the tenant should remove the alterations and additions at his/her expense and restore the rented premises to its condition prior to alteration or addition.\n\nTenants are expected to keep the interior of the rented premises in good order and condition and on expiry premature termination of the lease or on vacation of the premises to leave them in the same good order and condition.\n\nTenants are responsible for the cost of replacing or repairing floor coverings, power and telephone points, defective fluorescent lighting; globes, starters and ballast's, broken cracked partitioning, glass panes, window and door panels, ventilation grids or any other item that forms part of the layout as supplied for the rented premises by the landlord.\n\nRepairs to the building or its equipment arising from damage by tenants are carried out only by artisans contractors approved by Centre Management and to our satisfaction. Such costs shall be for the account of the tenant concerned.\n\nAny contractor appointed by Management requested by tenants, need an authorized permit; This permit can be obtained by contacting the centre manager or the operations manager. A permit must be displayed at all times by any contractor; Centre Management reserve the right to remove any contractor off site that fails to comply with such requirements.\n\nPage 5 | 11\n---\n# BOARDWALK MALL\n\n# House Rules\n\nIf it is the first time the contractor conducts works at Boardwalk Mall, the contractor will receive compulsory site induction conducted by the operations manager. The contractor will sign the Boardwalk Mall indemnity and permission to proceed will be granted.\n\n# 2.10 Refuse Removal\n\nIt is the responsibility of the tenant to move all full bins to the Waste Collection Yard via the approved route, see drawing with approved routes attached (Annexure C). All waste bins to be collected must be in the waste yard before 8:00 in the morning. Please stick to the approved routes; any tenant not following the approved routes will receive a fine of R 200. The landlord has, at all times, the right to alter the refuse routes, should they deem it necessary, and all tenants will then receive a revised drawing reflecting new routes. The landlord does not accept responsibility for the removal of waste such as carpets, planks, broken furniture, etc. The tenant should arrange this personally with the local authorities. Such articles should be kept on the rented premises and not placed in back yards or passages. Because of fire hazards, refuse may not be accumulated or placed in passages or yards, except in the refuse bins supplied.\n\n# 2.11 Air-conditioning\n\nThe tenant is to note that a standard symmetrical layout of grilles and diffusers will be applied to the premises to best suit the air-conditioning system. The cost of changing the position of standard white painted grilles and diffusers and any change in colour or type, which involves additional cost, will be for the account of the tenant. Wherever it is required that air be extracted from an air-conditioned space, a compensating ventilation air supply system will be provided at the expense of the tenant. The public toilets are provided with mechanical ventilation where required in terms of the National Building Regulations. If the air-conditioning is maintained by the tenant and not the landlord, the landlord will request accredited maintenance agreements in order to administer the liability for the upkeep of the equipment. Failure to provide same will result in the landlord appointing an accredited maintenance provider.\n\nPage 6 | 11\n---\n# BOARDWALK MALL\n\n# House Rules\n\nair-conditioning contractor on your behalf whereupon the maintenance will be administered by the landlord which cost will be recovered from the tenant:\n\nThe air-conditioning is designed to accommodate lighting and appliance as per building regulation standards and an occupancy load of one person per 4m². Any additional lights or fittings could adversely affect the air-conditioning and changes required to the air-conditioning to accommodate the tenant's specific requirements would be for the account of the tenant. Please note that air diffusers should not be obstructed on any account:\n\n# 2.12 Sign writing on Windows\n\nThe tenant shall, at all times, maintain reasonable displays of merchandise in the shop windows of the premises (or in the front section of the premises if there are no windows) bright and attractive promotions in the case of tenants not selling merchandise: The general appearance of windows premises shall be subject to the discretion of the General Manager and with respect to whether they are in keeping with the character of Boardwalk Mall.\n\nNo posters, paper or other advertising material is to be affixed to the brickwork; outside doors and windows of the common area, without the approval of the General Manager. Tenants shall at all times participate in all promotions by decorating shop windows appropriately, throughout the year at the Centre.\n\n# 2.13 Electricity\n\nTenants are responsible for electricity charges in respect of rented premises. Each tenant's sub-meter is read on a monthly basis. The charge pertaining to consumption is reflected on a monthly rental account and is payable with Rent.\n\nIf a tenant wishes to install additional electrical equipment on his/her premises, this is at his/her expense and prior approval should be obtained from the Centre Manager to ascertain whether the power supply to the premises is adequate: If approved the tenant must furnish the Landlord with an electrical COC once works have been completed. Electricity used by such equipment is for the tenant's account and will be calculated by the landlord or his consultants; In terms of the Agreement of Lease, the tenant is responsible for replacement of and repair to power, TVIFM and telephone connections, defective fluorescent tubes, globes, starters and ballasts.\n\nPage 7 | 11\n---\n# BOARDWALK MALL\n\n# House Rules\n\nIt Is in the national interest to co-operate in conserving energy: Unnecessary use of electricity not only increases the consumption but also shortens the life of globes, fluorescent tubes and ballasts.\n\n# 2.14 Water\n\nAll shops and toilets are supplied with cold water only. If a tenant wishes to install a hot water cylinder on his/her premises, he/she should contact the management office beforehand as there are certain details and conditions pertaining to the installation which the landlord and tenant should reach prior agreement. It Is In the national interest to guard against wasting water. Leaking taps should therefore be attended to immediately.\n\n# 2.15 Security Services\n\nSecurity officers are on duty twenty-four hours per day all year round. Tenants are requested to report any suspicious persons, objects etc. to the security office in order to assist in maintaining a crime-free Centre. Please find the emergency numbers included in your tenant file.\n\n# 2.16 Cleaning Service\n\n# Common Areas\n\nThe landlord arranges for cleaning of all common areas, in accordance with a specified work program.\n\n# Shops\n\nTenants are responsible for the cleaning of the interior of rented premises as well as all shopfronts inside and outside the rented premises.\n\n# 2.17 Lost Property\n\nShould any person find lost property at any stage anywhere on the premises, please report this to Centre Management or Security Department. Visitors to Boardwalk Mall should always contact Centre Management office and/or Security Office to report their lost goods.\n\nPage 8 | 11\n---\n# BOARDWALK MALL\n\n# House Rules\n\nManagement does not allow the following:\n\n- Street collections and/or raffles\n- Political and/or religious campaigns\n- Sale of product by outside companies\n- Hawkers or vendors in the Centre\n- The promotion or sale of any product or service acting in opposition to any tenant of Boardwalk Mall.\n- The pasting of any advertising and/or promotional material inside & window of any shop. All advertising and/or promotional material must hang neatly from the ceiling in your window.\n- Any handwritten notices pasted inside your window or door e.g.,\n- The advertising of vacancies\n- The \"back in 5 minutes\" notice\n- The \"No Trolleys\" notice\n- The \"Open, please come in\" notice etc.\n- The distribution of pamphlets, flyers and brochures in the Centre and parking area.\n- No posters of outside companies will be displayed inside the Centre at any time. The poster boards throughout the center are there for corporate advertising and tenant use only.\n- You are not allowed to have staff meetings and stock takes during trading hours. All meetings, staff training, and stock takes must please take place in the morning before 09:00 or after 17:30.\n- No poster boards, advertising material or stock of any kind will be allowed outside of your shop without permission from Centre Management. You will be asked to remove any such items immediately.\n- Should you need to close your shop for any reason, you must inform Management immediately.\n\n# 2.18 Rules for Approved Promoters\n\n- No promotion should disturb normal trading of Boardwalk Mall tenants by means of using loud music, performances or announcements.\n- No promotional material should be adhered to permanent Centre fixtures e.g., walls, pillars, windows, clock towers etc. Screens and poster boards are available for such purpose. No handwritten posters will be allowed.\n- No promoters and/or exhibitors are allowed to put banners up without prior arrangement with Boardwalk Mall Management.\n\nPage 9 | 11\n---\n# BOARDWALK MALL\n\n# House Rules\n\nNo shop window or entrance will be obstructed in any way and sufficient foot traffic flow must be allowed:\n\nShould the promoter cause any damage to the property of Boardwalk Mall or that of its tenants; they shall be held responsible for any costs incurred:\n\n# 2.19 Window and merchandise display\n\nYour window display and the way you display your merchandise inside your store will entice customers to walk into your shop and buy your products. Please move your stock around on a regular basis and change your window display as often as possible. Do not put handwritten signs inside your store. If you need to advertise inside your store and you cannot print the advertisement, please ask the Boardwalk Mall personnel to assist you.\n\nYou are not allowed to display any products or advertising material outside your shop if it is not standing within your lease line and you do not have permission from centre management.\n\n# 2.20 Landlord's Right to Amend House Rules and Regulations\n\nThe landlord has, at all times, the right to alter and add to the House Rules, should they deem it necessary or desirable to do so for the purpose of regulating the general use of the shopping centre, or part thereof; maintaining the safety, care, and cleanliness of the shopping centre generally, or part thereof.\n\nPage 10 | 11\n---\n# BOARDWALK MALL\n\n# House Rules\n\nThe landlord shall notify the tenant of any change in any of the House Rules and shall furnish the tenant with a copy of any amendment or addition to the rules and regulations. This manual in no way substitutes or replaces the Agreement of Lease. This manual is purely to assist in understanding the Agreement of Lease and assist in the running of the centre.\n\n# IN CONCLUSION\n\n# You and Your Customer\n\nWhenever a customer enters your shop, you are given the opportunity of conducting business. Your profit depends on how you make use of this opportunity. A positive approach to selling is vital. It is important for you and your employees to always have the following:\n\n- friendly smile\n- genuine interest in customer's problems\n- thorough knowledge of your product\n- courteous approach\n\nWe are here to serve the customer: The extent of our influence rests with you and your employees.\n\n# The Obligation of Centre Management to Tenants\n\nWe will always approach you with:\n\n- positive attitude\n- an open mind\n- desire to assist\n\nWe strive to build a community with mutual respect and support: Our door is always open and our cellphones are always on, feel free to approach us first with any query or concern.\n\nPage 11 | 11\n---\n     E\nERTIFI\n---\n  YLLe\n28\n  28\n   PBZI\n     Ye\n---\nW\n---\n  Na\nrega\n cl\n           .''. .. .\n---\nC    N  ONS\n---\n# Standard Fire Protection\n\n1 sprinkler per 12m2 open plan to be provided\n\n# Standard Smoke Detection\n\n1 smoke detector per 80m2 open plan to be provided\n\n# Electrical Requirements\n\nPlugpoint at DB and additional 1 per 30m2\n\n# Plumbing Requirements\n\nMetered Sink unit with tap and splashback 1 x water supply and 1 x drain point\n\n# Ceiling and Lighting\n\nNo ceiling\n\nNo lights\n\n# Design Control\n\n90mm design control concrete beam that is not allowed to be painted. Refer to detail in Tenant Criteria Document (Annexure \"B\")\n\n# Vertical Closure\n\nVertical closure above shopfront to the underside of the soffit if shop does not have a ceiling\n\n# Signage Connection\n\n1 signage connection point above the shopfront: Refer to detail in the Tenant Criteria Document\n\n# 9.2 Additional costs for LESSEE'S account:\n\nAdditional drainage- and water points and all related works, fixtures & fittings to provide these points. Cost will be design and shop specific;\n\n|Floor drains|R4,750.00|\n|---|---|\n|Additional socket outlets|R700.00|\n|Additional sprinklers due to LESSEE'S shopfitting, ceiling features, internal partitions, mezzanines|R980.00 sprinkler|\n|Additional Fire Hose Reels due to LESSEE'S shopfitting; ceiling features; internal partitions & mezzanines|R7,000.00|\n|Handheld Fire extinguishers & fire signage (Provided and Installed by LESSOR)|R450.00/fire extinguisher; Additional Fire Signage R350.00 per sign|\n|Additional air-conditioning diffusers, door grilles and ducting due to LESSEE'S shopfitting, ceiling features, full height partitioning & mezzanines|R1,500.00 per diffuser|\n|Additional sprinkler and air-conditioning reticulation due to a LESSEE mezzanine|Design specific|\n|Toilet extract systems|Cost will be design specific|\n|Smoking areas extract systems|Cost will be design specific|\n|Fast Food & Restaurants|LESSOR will supply & install kitchen makeup air and extract supply system outside lease line at LESSEE'S cost: Costs can range from an estimated|\n---\nR75,000.00 R250,000.00 dependent on LESSEE canopy size, design and location of shop\n\nFast Food & Restaurants: LESSEE to provide and install canopies inside the lease line at own cost\n\nFast Food & Restaurants: Canopies to have gas fire suppression systems installed to NFPA 17A standard. Costs can range from R65,000.00 to R135,000.00 (Installation by LESSEE)\n\nAlternatively, LESSEE provide wet chemical type fire extinguishers, fire blankets, regulated thermostats and a letter from Insurance as a minimum\n\nAdditional smoke detectors due to LESSEE'S shopfitting; ceiling features, full height partitioning, mezzanines, R1,000.00 R1,200.00 per detector\n\nUpgraded shopfront: Cost will be design specific\n\nExpansion joint finish (where applicable). R1,850.00 R2,250.00 per linear metre\n\nRubble removal during LESSEE shopfitting period R20.00/mt of premises (once off cost)\n\nRelocation of sinks, DB, Fire Escapes and Fire Hose Reels after it has been installed\n\nBackup power: All shops will be provided with back-up power (excluding HVAC): enable minimum operation in the event of a power failure: Restaurants and fast-food outlets kitchen extraction systems will however be connected to the backup power supply. Items that can be connected to standby power will be advised by the electrical engineer upon receipt of detailed equipment & load schedule from the tenant Pro-rata costs will also be recovered for usage as per the offer to lease:\n\nGas; Central gas line will be available: LESSEE to sign contract with gas company.\n\n# 9.3 Allowances by LESSOR\n\nCeiling Soffit Finish Allowance R100.00/m²\n\nLighting Allowances R60.00/m²\n\nOmission-of-shopfront R47,860.80 per linear metre\n\n# 9.4 Penalties\n\nLate LESSEE information and drawings as per building programme and date sent by: LESSEE coordinator in the welcome pack email will result in reduction of Beneficial Occupation required. Should the LESSOR's main contractor have to accelerate his building programme due to late LESSEE information, the cost will be for the LESSEE'S account:\n\nINITIAL HERE\n---\nLate opening: 5 times the daily rental from the trading date for each and every day that the LESSEE does not trade from the premises;\n\n# 9.5 Other\n\nLESSEE to take note that Insurance responsibility passes over to the LESSEE on Beneficial Occupation.\n\nAll amounts exclude VAT.\n\nThe above is to be used as guideline only. A tenant account will be prepared by the project Quantity Surveyor for sign off by LESSEE, before the LESSOR will commence with any additional items;\n\nRefer to the TENANT CRITERIA DOCUMENT ANNEXURE \"B\" for more detail. The Lessee signed Tenant Criteria Document is a material term of the Lease:\n\nINITIAL HERE",
          "job_metadata": {
            "credits_used": 366,
            "job_credits_usage": 366,
            "job_pages": 122,
            "job_auto_mode_triggered_pages": 0,
            "job_is_cache_hit": false,
            "credits_max": 1000
          }
        }
      }
    ]
  }
}